mixin only-file-input(props)
	.only-file-input&attributes(attributes)(data-component='only-file-input')
		button.only-file-input__select
			input.only-file-input__hidden(type='file' multiple)
			span.only-file-input__text(class='only-file-input_main-color')!=props.text
			.only-file-input__icon
				include ../../assets/icons/plus.svg
		