$blue-color: #002f6c;
$cobolt-color: #0041a0;
$grey-1-color: #bcbcbc;
$text-color: #111111;
$pale-blue-color: #99b3d8;
$steel-color: #909090;

$alt-hover-color: #bf1d26;
$alt-active-color: #81080f;
$grey-3-color: #f4f4f4;

.button-outline {
  $root: &;

  //Your code here
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid $grey-1-color;

  transition: color 0.3s, opacity 0.3s, background-color 0.3s;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;

  height: 42px;
  width: 100%;
  padding: 0 14px;

  &:active {
    background-color: $blue-color;
    color: white;
    border-color: transparent;

    #{$root}__svg {
      fill: white;
    }
  }

  &:focus {
    outline: 3px solid $pale-blue-color;
  }

  &:disabled {
    pointer-events: none;
    color: $steel-color;

    #{$root}__svg {
      fill: $steel-color;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $cobolt-color;
      color: white;
      border-color: transparent;

      #{$root}__svg {
        fill: white;
      }
    }
  }

  @media (min-width: 768px) {
    width: auto;
    gap: 14px;
    padding-right: 14px;
    padding-left: 18px;
  }

  @media (min-width: 1280px) {
    padding-right: 14px;
    padding-left: 16px;
    gap: 12px;

    line-height: 14px;
    font-size: 14px;
  }

  @media (min-width: 1920px) {
    padding-right: 14px;
    padding-left: 18px;
    gap: 14px;
    height: 48px;
  }

  svg {
    width: 24px;
    height: 26px;
    fill: $blue-color;
    transition: fill 0.3s;

    @media (min-width: 1920px) {
      width: 32px;
      height: 34px;
    }
  }

  // Alternate styles

  &_alt {
    background-color: red;
    color: white;
    border-color: transparent;

    svg {
      fill: white;
    }

    &:active {
      background-color: $alt-active-color;
    }

    &:disabled {
      background-color: $grey-3-color;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $alt-hover-color;
      }
    }
  }
}
