.only-button {
	width: max-content;
	height: 48px;
	
	$root: &;
	display: flex;
	box-sizing: border-box;
	border-radius: 25px;
	border-width: 1px;
	border-style: solid;
	
	align-items: center;
	justify-content: center;
	transition: $background-color-fast-transition;
	cursor: pointer;
	margin-top: 5px;
	padding-inline: 18px 14px;
	gap: 14px;
	
	&__text{
		
		@include fontSettings(-0.32px,$add-mini-l,100%);
	
	}

	&__icon{

		display: flex;
		width: 32px;
		height: 32px;
		justify-content: center;
		align-items: center;
	
	}

	&_main-btn{

		color: $white;
		background-color: $light-blue;
		border-color: $light-blue;

		&:hover{

			/* color: $text-color-hover-main; */
			background-color: $dark-blue;
			svg{
				/* fill: $arrow-color-hover-main; */
			}
			
		}

		&:disabled,
		&:disabled:active{

			/* color: $text-color-disabled-main;
			background-color: $background-color-disabled-main;
			border-color: $border-color-main; */
			cursor: default;

		}

		&:focus{

			border-width: 3px;

		}	

		
		&:active{

			background-color: $blue;
			opacity: 90%;
		}

	}

	&_hidden{
		
		display: none;
	}

}