mixin only-button(props)
	button.only-button(class='only-button_main-btn')&attributes(attributes)(data-component='only-button')
		span.only-button__text!= props.text
		span.only-button__icon
			include ../../assets/icons/arrow.svg