@import "../../../app/scss/variables.scss";

.input-ct {
    position: relative;

    &__label {
        color: $gray;
        font-size: 14px;
        position: absolute;
        transform: translate(20px, -100%);
        padding-bottom: 2px;
    }

    &__input {
        width: 90%;
        height: 44px;
        padding: 0px 12px;
        border-radius: 30px;
        border: 1px solid $blue;
        margin-bottom: 20px;
    }

    &__alert {
        font-size: 13px;
        color: #EF1C1C;
        transition: 0.4s ease opacity;
        opacity: 0;
    }

    &__alert_active {
        .input-ct__alert {
            opacity: 1;
        }
    }

    &_disabled{
        .input-ct__label,.input-ct__input{
            opacity: 0.4;
            user-select: none;
            cursor: no-drop;
        }
    }
}