mixin input-ct(props)
    .input-ct&attributes(attributes)()
        input.input-ct__input(type="email" value="sad@gmail.com" id="email" name="email" placeholedr="example@mail.ru" ) 
        br
        span.input-ct__alert="Поле E-mail и ознакомления с политикой обязательно"