mixin pagination(props)
	.pagination&attributes(attributes)(tabindex="0")
		+slider-button(class='slider-button_turn')(tabindex="0")
		+slider-button(tabindex='0')
		.slider_counter <span>01 </span>/<span> 04</span>