@import '../styles/roots.scss';


.pagination {
	$root: &;

	position: relative;
	display: flex;
	width: max-content;
	font-family: 'Arial';
	align-items: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: $main-steel;
	margin-bottom: 25px;
   

	&::after {
		position: absolute;
		content: '';
		top: 50%;
		left: 40%;
		width: 30px;
		height: 1px;
		background-color: $extra-grey-1;
		display: none;
	}
	&:focus-visible{
		outline: none;
	}

	@media (max-width: 768px) {
		&:hover,
		&:focus-visible {
			opacity: 0;
		}
	}
}

.slider_counter {
	width: 54px;
	height: 24px;

	@media (max-width: 768px) {
		&:hover,
		&:focus-visible {
				display: none;
		}
	}

	@media (max-width: 375px) {
		& {
				display: none;
		}
	}
}