
$darkBlue: #04306A;
$blue: #0041A0;
$gray: #F4F4F4;
$red: #FC0D1B;

@font-face {
    font-family: Arial Bold, Helvetica, sans-serif;
    font-weight: 700;
    src: url('/src/assets/fonts/ArialBold.ttf');
}

html {
    letter-spacing: -0.64px;
    font-size: 32px;
    line-height: 1.2;
    
    color: $darkBlue;

    width: 1920px;
}

@mixin title {
    font-size: 46px;
    letter-spacing: -0.92px;
    line-height: 1;

    span {
        color: $red;
    }

    margin-bottom: 80px;
}

.container {
    font-family: Arial Bold, Helvetica, sans-serif;
    font-weight: 700;

    margin-top: 97px;
    margin-left: 122px;
    margin-right: 122px;
}