.checkbox-ct {
    padding-bottom: 32px;
    padding-top: 20px;
    display: flex;
    align-items: center;

    &__box {
        display: block;
        width: 20px;
        height: 20px;
    }

    &__checkbox {
        display: none;
    }

    &__fake-checkbox {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid $gray;
        width: 100%;
        height: 100%;
    }

    &__icon {
        width: 10px;
        height: 10px;
    }

    &__checkbox:checked+&__fake-checkbox {
        background-color: $blue;
        border-color: $blue;
    }

    &:disabled &__fake-checkbox {
        opacity: 0.6;
    }

    &__text {
        margin-left: 20px;
        color: $gray;
        user-select: none;
    }

    &__text_blue {
        color: $blue;
    }

    &_disabled{
        .checkbox-ct__text,.checkbox-ct__fake-checkbox{
            opacity: 0.4;
        }
    }
}