@import './grid-container/grid-container.scss';

.grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
        width: 90%;
        padding: 16px 0px;
    }

    &__name {
        font-size: 44px;
    }
}