mixin button-0(props)
	button.button-0(class="button-0_hover button-0_active button-0_focus button-0_disabled")&attributes(attributes)
		.button-0__content-box
			span.button-0__text="Кнопка"
			+svg("button-0-svg")(class="button-0__icon")