.button-0 {
	$root: &;

	display: flex;
	align-items: center;
	background-color: white;
	border: 2px solid #BCBCBC;
	padding: 14px 36px;
	border-radius: 45px;
	transition: .6s ease all;

	&__icon {
		fill: #0041A0;
		stroke: #0041A0;
		width: 26px;
		height: 24px;
		margin-left: 12px;
	}

	&__text {
		font-size: 18px;
	}

	&:hover {
		background-color: #0041A0;
		border-color: transparent;

		.button-0__icon {
			stroke: white;
			fill: white;
		}

		.button-0__text {
			color: white;
		}
	}


	&:focus {
		border-color: #99B3D8;
	}

	&:active {
		background-color: #002F6C;
		border-color: transparent;

		.button-0__icon {
			stroke: white;
			fill: white;
		}

		.button-0__text {
			color: white;
		}
	}

	&:disabled {
		--disabledColor: rgb(188, 187, 187);
		background-color: white;
		border-color: var(--disabledColor);
		cursor: no-drop;

		.button-0__icon {
			stroke: var(--disabledColor);
			fill: var(--disabledColor);
		}

		.button-0__text {
			color: var(--disabledColor);
		}
	}

	@media only screen and (max-width:1280px) {
		padding: 10px 20px;

		&__text {
			font-size: 16px;
		}

		&__icon {
			width: 22px;
			height: 20px;
		}
	}

	@media only screen and (max-width:768px) {
		padding: 7px 20px;
	}

	@media only screen and (max-width:375px) {
		padding: 7px 35%;
	}
}