@import '../../scss';

.button-with-arrow {
	$root: &;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	width: fit-content;
	height: 48px;
	padding: 0 14px 0 18px;
	border-radius: 25px;
	transition: background .3s, box-shadow .2s, color .3s;
	background: $cobolt-color;
	color: $white-color;

	#{$root}__svg {
		fill: $white-color;
	}

	@media (hover: hover) {
		&:hover {
			background: $blue-color;
		}
	}

	&:active {
		background: $cobolt-color;
	}

	&__text {
		@include fontFamily;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.32px;
	}

	&__svg {
		width: 32px;
		height: 32px;
		transition: fill .3s;
	}
}