@import '../../pages/index';

.button-with-arrow {
	$root: &;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	width: fit-content;
	height: 48px;
	padding: 0 14px 0 18px;
	border-radius: 25px;
	transition: background .3s, box-shadow .2s, color .3s;

	&__text {
		font-family: $arial-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.32px;
	}

	&__svg {
		width: 32px;
		height: 32px;
		transition: fill .3s;
	}

	&_style_withBorder {
		border: 1px solid $grey-1-color;
		background: $white-color;
		color: $black-color;

		#{$root}__svg {
			fill: $blue-color;
		}

		@media (hover: hover) {
			&:hover {
				color: $white-color;
				background: $cobolt-color;
				border-color: $cobolt-color;

				#{$root}__svg {
					fill: $white-color;
				}
			}
		}

		&:active {
			background: $blue-color;
			border-color: $blue-color;
		}
	}

	&_style_withBackground {
		background: $red-color;
		color: $white-color;

		#{$root}__svg {
			fill: $white-color;
		}

		@media (hover: hover) {
			&:hover {
				background: $dark-red-color;
			}
		}

		&:disabled {
			background: $grey-3-color;
		}

		&:active {
			background: $dark-red-2-color;
		}

	}

	&:disabled {
		color: $grey-1-color;
		pointer-events: none;

		#{$root}__svg {
			fill: $steel-color;
		}
	}

	&:focus {
		box-shadow: 0 0 0 3px $focus-border-color;
	}

	@media screen and (max-width: 1919px) {
		height: 42px;

		&__svg {
			width: 24px;
			height: 24px;
		}
	}

	@media screen and (min-width: 1280px) and (max-width: 1919px) {
		gap: 12px;
		padding: 0 14px 0 16px;

		&__text {
			font-size: 14px;
			letter-spacing: -0.28px;
		}
	}

	@media screen and (max-width: 767px) {
		max-width: 375px;
		width: 100%;
		gap: 12px;
		padding: 0 14px 0 14px;
	}
}