.sidebar {
	width: 290px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	border-right: 1px solid var(--light-blue);

	&__tab {
		width: 240px;
		display: flex;
		align-items: center;
		gap: 16px;

		padding: 13px 18px;
		border-radius: 10px;

		background: var(--light);

		span {
			color: var(--blue);
			font-size: 16px;
			font-weight: 400;
			line-height: 160%;
		}
	}
}