.vacancy-form {
    $root: &;
    display: flex;
    gap: 80px;

    padding: 44px 0 0 23px;
    margin-bottom: 45px;

    &__title {
        font-size: 32px;
        color: $blue;
    }

    &__form {
        margin-top: 20px;
        width: 60%;
    }

    &__label {
        display: block;

        color: $steel;
        font-size: 12px;

        margin-left: 20px;
    }

    &__input {
        border: 1px solid $extraCobolt;
        border-radius: 24px;
        padding: 12px 20px;
        
        width: 100%;
        
        font-size: 16px;
        color: $black;
    }

    &__email-msg, &__accept-msg {
        color: $red;
        opacity: 0;
        transition: opacity .2s, margin-top .2s, line-height .2s;
        line-height: 0;
        margin-top: 0px;

        &.visible-error {
            margin-top: 25px;
            line-height: unset;
            opacity: 1;
        }
    }

    &__email-msg.visible-error {
        & + .vacancy-form__acceptance {
            margin-top: 15px;
        }
    }

    &__acceptance {
        margin-top: 40px;

        display: flex;
        align-items: center;
        gap: 16px;
        transition: margin-top .2s;
    }

    &__checkbox {
        border: 1px solid $extraGray;
        border-radius: 0 !important;
        cursor: pointer;
    }

    &__acceptText {
        font-size: 14px;
        color: $steel;

        & a {
            color: $blue;
        }
    }

    &__btn {
        background-color: $extraCobolt;
        display: flex;
        gap: 15px;
        align-items: center;
        
        padding: 13px 15px;
        margin-top: 30px;

        font-size: 16px;
        color: $white;

        border-radius: 25px;

        & svg {
            width: 32px;
            height: 32px;
            fill: $white;
        }
    }

    &__success {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-top: 25px;
        display: none;

        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $extraGray;
            border-radius: 100%;
            height: 48px;
            width: 48px;
        }

        & svg {
            fill: $green;
            width: 20px;
            height: 15px;
        }

        & span {
            color: $black;
            font-size: 16px;
        }
    }

    & .success {
        input, label, button {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}

.visible-success {
    display: flex;
}

.input-error {
    border: 1px solid $red;
}