mixin vacancy-form(props)
    .vacancy-form&attributes(attributes)(data-component='vacancy-form')
        h3.vacancy-form__title Форма обратной связи
        form.vacancy-form__form
            label.vacancy-form__label E-mail
            input(type='email').vacancy-form__input
            p.vacancy-form__msg msg
            .vacancy-form__acceptance
                input#accept.vacancy-form__checkbox(type='checkbox')
                label(for='accept').vacancy-form__acceptText Вы подтверждаете, что ознакомились
                    a(href='/') &nbsp;c политикой обработки персональных данных
            button(type='submit').vacancy-form__btn Отправить
                +svg('arrow-right')
            .vacancy-form__success
                div 
                    +svg('success')
                span Форма успешно отправлена