@import '/src/pages/style.scss';

.vacancy__form {
	$root: &;

	&-name {
		font-size: 32px;
		letter-spacing: -0.64px;
		color: $blue;
	}
}

.vacancy {
	$root: &;

	&__email {
		
		margin-bottom: 60px;
		margin-left: 547px;

		display: flex;
		flex-direction: column;

		label {
			font-size: 12px;
			color: $gray-second;

			line-height: 1.5;

			margin-left: 20px;
		}

		input { 
			height: 48px;
			width: 836px;

			border: 1px solid $blue;
			border-radius: 24px;

			padding-left: 10px;
		}

	}

	&__checkbox {

		margin-left: 547px;
		margin-bottom: 30px;

		display: flex;
		align-items: center;
		gap: 18px;

		position: relative;
	
		cursor: pointer;

		label {
			font-size: 14px;
			color: $gray-second;

			span {
				color: $blue;
			}
		}

		input {
			width: 16px;
			height: 16px;

			outline: 1px solid #BCBCBC;

			&:hover {
				outline: 1px solid  $blue;
				cursor: pointer;
			}
		}
		
		&-yes {
			width: 10px;
			height: 8px;
		
			position: absolute;
		
			left: 7px;
		}
	
	}

	&__sendForm {
		border-radius: 25px;
		
		background-color: $blue;
		color: white;

		padding-left: 18px;
		padding-right: 14px;

		width: 155px;
		height: 48px;

		font-size: 16px;

		display: flex;
		gap: 14px;
		align-items: center;

		margin-left: 547px;

	}

	&__arrow {
		width: 32px;
		height: 32px;
	}

	&__status {
		margin-top: 10px;

		color: red;
	}

	&__success {
		display: flex;
		align-items: center;
		gap: 21px;

		margin-left: 547px;
		margin-top: 27px;
	}

	&__circle {
		height: 48px;
		width: 48px;

		border: 1px solid #DEDEDE;
		border-radius: 48px;

		padding: 9px 13px;
	}

	&__ack {
		width: 21px;
		height: 15px;
	}

	&__whiteBlock {
		z-index: 2;
		position: absolute;

		background-color: white;
		opacity: 0.75;

		width: 850px;
		height: 150px;

		left: 620px;
	}

}

.hidden {
	display: none;
}

.agree {
	background-color: $blue;
	outline: 1px solid #011a3a;
}
