mixin vacancy-form(props)
	.vacancy__form&attributes(attributes)(data-component='vacancy-form')
		h3.vacancy__form-name Форма обратной связи
		.vacancy__email 
			label E-mail
			input(type="email")
			p.vacancy__status.correct Email обязательно
		.vacancy__checkbox 
			input(type='checkbox')
			label Вы подтверждаете, что ознакомились c #[span] политикой обработки персональных данных 
		button.vacancy__sendForm Отправить
			+svg('arrow').vacancy__arrow
		.vacancy__success.correct
			.vacancy__circle 		
				+svg('success').vacancy__svg
			p Форма успешно отправлена
			
