$grey: #dedede;
$common-text-color: #111;
$hovered: #f4f4f4;
$focused: #0041a0;
$invalid: #ff0000;
$field-background-color: white;
$valid-background-color: #f4f4f4;
$disabled: #bcbcbc;
.input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  display: block;
  &_type_textarea {
    height: 138px;
  }
  &__field-name {
    position: absolute;
    left: 0;
    top: 33px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.32px;
    color: $common-text-color;
  }
  &__field {
    font-size: 16px;
    line-height: 1.25;
    color: $common-text-color;
    width: 100%;
    margin-top: 18px;
    padding: 13px 50px 13px 20px;
    border: none;
    border-bottom: 1px solid #dedede;

    &_type_textarea {
      height: 128px;
      resize: none;
      outline: none;
      scrollbar-width: none;
      background-color: white;
      &::-webkit-scrollbar {
        width: 0;
      }
      &:placeholder-shown {
        height: 48px;
        &:hover,
        &:focus {
          height: 128px;
        }
      }
    }
    &:hover {
      background-color: $hovered;
      border: none;
      border-radius: 24px;
      cursor: pointer;

      & + .input__field-name {
        margin-left: 20px;
      }
    }
    &:disabled {
      color: $disabled;
      border-color: $disabled;
      pointer-events: none;
      background-color: white;
      pointer-events: none;
      border-bottom: 1px solid;
      border-radius: 0;
      & ~ .input__error-message {
        display: none;
      }
    }

    &:focus {
      background-color: $field-background-color;
      border: 1px solid $focused;
      border-radius: 24px;
      background-color: $field-background-color;
      cursor: text;
    }

    &[data-invalid] {
      border: 1px solid $invalid;
      border-radius: 24px;
      & + .input__field-name {
        margin-left: 20px;
      }
      &:hover {
        border: 1px solid $invalid;
        border-radius: 24px;
        background-color: $field-background-color;
      }
    }
    &[data-valid] {
      background-color: $valid-background-color;
      border: 1px solid $valid-background-color;
      border-radius: 24px;

      &:hover {
        background-color: $valid-background-color;
        border: 1px solid $valid-background-color;
        border-radius: 24px;
      }
      & ~ .input__success-image {
        display: block;
      }
      & ~ .input__error-message {
        visibility: hidden;
      }
    }

    &:focus + .input__field-name,
    &:not(:placeholder-shown) + .input__field-name {
      position: absolute;
      top: 0;
      margin-left: 20px;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.24px;
      color: $grey;
    }
  }
  &__error-message {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.24px;
    color: $invalid;
    margin-left: 20px;
  }
  &__success-image {
    width: 18px;
    height: 13px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: none;
  }
}
