mixin input(props)
	.input__wrapper
		label.label(for=props.name)!=props.label
		input.input__email&attributes(attributes)(data-component='input')
		span.input__email-error-message
		+svg('success').input__email-valid-icon
		