.input__email {
  $root: &;

  border-bottom: 1px #dedede solid;
  width: 100%;
  font-size: 16px;

  .label {
    color: #111;
    font-size: 16px;
  }

  &-valid-icon {
    position: absolute;
    top: 35px;
    right: 20px;
    display: none;
    width: 18px;
    height: 13px;
  }

  &-error-message {
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
  }
}

.input__wrapper:hover {
  position: relative;
  .input__email {
    padding: 12px 20px 17px;
    border-radius: 24px;
    background-color: #f4f4f4;
    border-bottom: none;
  }

  .label {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.input__wrapper:focus-within,
.input__wrapper:active {
  .input__email {
    padding: 12px 20px 17px;
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid #0041a0;
  }

  .label {
    position: static;
    margin-left: 20px;
    font-size: 12px;
    color: #909090;
  }
}

.input__wrapper:has(input[disabled]) {
  pointer-events: none;

  .label {
    color: #bcbcbc;
  }
}

.input__wrapper--valid {
  position: relative;
  .input__email {
    padding: 12px 20px 17px;
    border-radius: 24px;
    background-color: #f4f4f4;
    border-bottom: none;
  }

  .label {
    margin-left: 20px;
    font-size: 12px;
    color: #909090;
  }

  .input__email-valid-icon {
    display: block;
  }
}

.input__wrapper--valid:hover {
  .label {
    position: static;
  }
} 

.input__wrapper--invalid {
  .input__email {
    padding: 12px 20px 17px;
    border-radius: 24px;
    border: 1px solid #ff0000;
  }

  .label {
    margin-left: 20px;
    font-size: 12px;
    color: #909090;
  }
}

.input__wrapper--invalid:hover {
  .input__email {
    background-color: transparent;
    border: 1px solid #ff0000;
  }

  .label {
    position: static;
  }
}
