mixin input({ placeholder='',disabled=false}={})
	.input(class=disabled&&'input_disabled')&attributes(attributes)(data-component='input')
		.input__wrapper
			input.input__input(type="text" placeholder=placeholder)
			+svg('tip').input__svg.input_invisible
		span.input__error.input_invisible