mixin input(props)
	.input&attributes(attributes)(data-component='input')
		.input__wrapper
			input.input__input(type="text" placeholder=props.placeholder)
			+svg('tip').input__svg.input_invisible
		span.input__error.input_invisible