mixin only-form(props)
	.only-form&attributes(attributes)(data-component='only-form')
		form.only-form__main(class='only-form_color-main') 
			.only-form__header!=props.header
			.only-form__input-block
				block 