$font-family: 'Roboto';

.spoiler-block {
  $root: &;
  margin: 0 160px;
  font-family: $font-family;

  @media (max-width: 1440px) {
    margin: 0 120px;
  }
  @media (max-width: 1280px) {
    margin: 0 107px;
  }
  @media (max-width: 768px) {
    margin: 0 40px;
  }
  @media (max-width: 375px) {
    margin: 0 24px;
  }

  &__title {
    margin-top: 180px;
    margin-bottom: 80px;
    color: #012b34;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.28px;
    @media (max-width: 1440px) {
      font-size: 48px;
    }
    @media (max-width: 1280px) {
      font-size: 42px;
    }
    @media (max-width: 375px) {
      font-size: 30px;
    }
  }
}
