mixin svgIcon()
	svg(xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 68 68" fill="none")
		path(d="M48.2827 33.962L34.1406 33.962L34.1406 19.8809" stroke="#114C9A" stroke-width="2")
		path(d="M20.0015 33.962L34.1436 33.962L34.1436 48.0432" stroke="#114C9A" stroke-width="2")

mixin spoiler-component(props)
	.spoiler-component&attributes(attributes)(data-component='spoiler-component')
		a.spoiler-component__title(href='')
			.spoiler-component__title-text
				span.spoiler-component__title-number!=props.number + '. '
				span.spoiler-component__title-label!=props.title
			if (props.number === 1)
				.rotate.spoiler-component__title-button
					+svgIcon
			else
				.normal.spoiler-component__title-button
					+svgIcon
		if (props.number === 1)
			.show.spoiler-component__desc-block
				p.spoiler-component__desc-text!=props.desc
		else
			.spoiler-component__desc-block
				p.spoiler-component__desc-text!=props.desc