@import '../../styles/colors.scss';

.TodoItem {
	$root: '.TodoItem';

	position: relative;

	padding: 24px;
	padding-bottom: 31px;

	background-color: $white;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		#{$root}__title {
			color: $blue2;
		}
	}

	&_completed {
		#{$root}__title {
			color: $light-gray2;

			&::after {
				background-color: $light-gray2;
			}
		}

		&:hover {
			#{$root}__title {
				color: $light-gray2;
			}
		}
	}

	&__title {
		position: relative;

		width: max-content;
		padding-bottom: 17px;

		color: $blue3;
		font-size: 24px;
		font-weight: 400;
		line-height: 130%;

		border-bottom: 1px solid $light-gray1;

		transition: color .6s;

		&::after {
			content: '';

			position: absolute;
			left: 0;
			top: 18px;

			display: block;
			height: 1px;
			width: 100%;

			background-color: transparent;

			transition: background-color .3s;
		}

		&:hover {
			color: $blue2;
		}
	}

	&__text {
		padding-top: 10px;
		max-width: 734px;

		color: $blue3;
		font-size: 16px;
		font-weight: 400;
		line-height: 175%;
		letter-spacing: 0.15px;
	}

	&__svg {
		position: absolute;
		right: 24px;
		top: 27px;
	}
}