.faq {
    margin-bottom: 100px;
    &__wrapper {
        margin-top: 80px;
        border-top: 1px solid rgba(230, 230, 230, 1);
    }
    &__title {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 64px;
        color: rgba(1, 43, 52, 1);
    }
}

@media (max-width: 1440px) {
    .faq {
        &__wrapper {
            margin-top: 60px;
        }

        &__title {
            font-size: 48px;
        }
    }
}

@media (max-width: 1280px) {
    .faq {
        &__wrapper {
            margin-top: 56px;
        }

        &__title {
            font-size: 42px;
        }
    }
}

@media (max-width: 768px) {
    .faq {
        &__wrapper {
            margin-top: 50px;
        }
    }
}

@media (max-width: 375px) {
    .faq {
        &__wrapper {
            margin-top: 40px;
        }

        &__title {
            font-size: 30px;
        }
    }
}