@import '../variables.scss';

.button {
	$root: &;

	display: flex;
	align-items: center;
	border-radius: 25px;
	border: 1px solid $grey;
	background-color: transparent;
	color: #111;
	cursor: pointer;
	transition: background-color 0.3s, border 0.3s, color 0.3s;

	@media (max-width: 767px) {
		width: 100%;
		padding: 8px 14px;
		gap: 12px;
		justify-content: center;
	}

	@media (min-width: 768px) {
		padding: 8px 14px 10px 18px;
		gap: 14px;
	}

	@media (min-width: 1280px) {
		padding: 8px 14px 10px 16px;
		gap: 12px;
	}

	@media (min-width: 1920px) {
		padding: 7px 14px 9px 18px;
		gap: 14px;
	}

	&:hover {
		background-color: $blue;
		border: 1px solid $blue;
		color: $white;

		#{$root}__svg {
			fill: $white;
		}
	}

	&:active {
		background: $dark-blue;
		border: 1px solid $dark-blue;
		color: $white;

		#{$root}__svg {
			fill: $white;
		}
	}

	&:focus {
		outline: 3px solid #99b3d8;
	}

	&:disabled {
		border: 1px solid $grey;
		pointer-events: none;
		color: $disabled;

		#{$root}__svg {
			fill: $disabled;
		}
	}

	&__text {
		font-family: Arial;
		font-weight: 400;
		user-select: none;

		@media (max-width: 1279px) {
			font-size: 16px;
		}

		@media (min-width: 1280px) {
			font-size: 14px;
		}

		@media (min-width: 1920px) {
			font-size: 16px;
		}
	}

	&__icon {
		display: flex;

		svg {
			fill: $dark-blue;
			transition: fill 0.3s;

			@media (max-width: 1919px) {
				width: 24px;
				height: 24px;
			}

			@media (min-width: 1920px) {
				width: 32px;
				height: 32px;
			}
		}
	}

	&_red {
		border-radius: 25px;
		border: 1px solid $red;
		background-color: $red;
		color: $white;
		transition: color 0.3s, background-color 0.3s;

		svg {
			fill: $white;
		}

		#{$root}__text {
			color: $white;
		}

		&:hover {
			background: $light-red;
			border: 1px solid $light-red;
		}

		&:active {
			background: $dark-red;
			border: 1px solid $dark-red;
		}

		&:disabled {
			background: $light-grey;
			border: 1px solid $light-grey;
			pointer-events: none;

			#{$root}__text {
				color: $disabled;
			}

			#{$root}__svg {
				fill: $disabled;
			}
		}
	}
}