mixin button(props)
	.button&attributes(attributes)
		//Your code here
		p.button__text= props.text
		img(class="button__img-blue" src="../assets/images/Vector_min_blue.png")
		img(class="button__img-grey" src="../assets/images/Vector_min_grey.png")
		img(class="button__img-white" src="../assets/images/Vector_min_white.png")