mixin button(props)
    button.button-wrapper.container&attributes(attributes)
        span.text= props.text
        span.button(attributes, class=props.class) Кнопка
            +svg('Vector').icon

