
mixin button(props)
	button.button
		span.button__text Кнопка
		+svg('svg-arrow').button__svg
	button.button(disabled='') 
		span.button__text Кнопка
		+svg('svg-arrow').button__svg
	button.button.alt-btn
		span.button__text Кнопка
		+svg('svg-arrow').button__svg
	button.button.alt-btn(disabled='') 
		span.button__text Кнопка
		+svg('svg-arrow').button__svg
