mixin grid-container()
    section.grid-container
        .title
			span.title_content.title_content-red Комплексные&nbsp;
			span.title_content предложения для мостостроения
		.main-block
			.elem.elem1
				h1 Мостовая сталь/Стальные конструкции мостов
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem2
				h1 Железобетонные конструкции мостов
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem3
				h1 Дорожные ограждения барьерного типа
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem4
				h1 Шпунтовой замок
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem5
				h1 Мостовой крепёж
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem6
				h1 Профили для <br/>деформационных швов
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem7
				.block-bottom_item_title-left Плетёные габионы
					svg.icon
						include ../../assets/svg/arrow.svg
			.elem.elem8
				.block-bottom_item_title-right Модульные мосты
					svg.icon
						include ../../assets/svg/arrow.svg
