mixin block-content( text, size, color)
    div(class=`block block_size_${size} block_color_${color}`)
        p.block__title= text 
        button.block__btn
            include ../../assets/icons/arrow.svg

mixin grid-container()
    section.grid-container
        h2.grid-container__title
            strong.grid-container__title_accent Комплексные&nbsp;
            | предложения для мостостроения

        +block-content('Мостовая сталь/Стальные конструкции мостов', 'big', 'grey')
        +block-content('Железобетонные конструкции мостов', 'small', 'grey')
        +block-content('Дорожные ограждения барьерного типа', 'small', 'grey')

        +block-content('Шпунтовой замок', 'medium', 'dark-blue')
        +block-content('Мостовой крепеж', 'medium', 'grey')
        +block-content('Профили для деформационных швов', 'medium', 'blue')
        
        +block-content('Плетеные габионы', 'small', 'grey')
        +block-content('Модульные мосты', 'small', 'grey')




