mixin grid-container()
    section.grid-container

p.grid__container__header
  | 
  span.grid__container__header__red Комплексные
  |  предложения для мостостроения

div.grid__container
  div.grid__container__one
    div.grid__container__block
      p.grid__container__text Мостовая сталь/Стальные конструкции мостов
      div.arrow
    div.grid__container__one__right
      div.grid__container__block
        p.grid__container__text Железобетонные конструкции мостов
        div.arrow
      div.grid__container__block
        p.grid__container__text Дорожные ограждения барьерного типа
        div.arrow
  div.grid__container__two
    div.grid__container__block.blue1
      p.grid__container__text.white Шпунтовый замок
      div.arrow__white
    div.grid__container__block
      p.grid__container__text Мостовой крепеж
      div.arrow
    div.grid__container__block.blue2
      p.grid__container__text.white Профили для деформационных швов
      div.arrow__white
  div.grid__container__three
    div.grid__container__block
      p.grid__container__text Плетеные габионы
      div.arrow
    div.grid__container__block
      p.grid__container__text Модульные мосты
      div.arrow
