mixin grid-container()
    section.grid-container
        .grid-container__title-container
            h3.grid-container__title #[span.grid-container__title--red Комплексные] предложения для мостостроения
        .grid-container__inner.grid-container__inner--1 
            h4.grid-container__inner-title Мостовая сталь/Стальные конструкции мостов
            a(href="#" alt="Подробная информация.").grid-container__inner-link
        .grid-container__inner.grid-container__inner--2 
            h4.grid-container__inner-title Железобетонные конструкции мостов
            a(href="#" alt="Подробная информация.").grid-container__inner-link
        .grid-container__inner.grid-container__inner--3 
            h4.grid-container__inner-title Дорожные ограждения барьерного типа
            a(href="#" alt="Подробная информация.").grid-container__inner-link
        .grid-container__inner.grid-container__inner--blue.grid-container__inner--4.grid-container__inner--height 
            h4.grid-container__inner-title Шпунтовой замок
            a(href="#" alt="Подробная информация.").grid-container__inner-link.grid-container__inner-link--white
        .grid-container__inner.grid-container__inner--5.grid-container__inner--height  
            h4.grid-container__inner-title Мостовой крепеж
            a(href="#" alt="Подробная информация.").grid-container__inner-link 
        .grid-container__inner.grid-container__inner--light-blue.grid-container__inner--6.grid-container__inner--height   
            h4.grid-container__inner-title Профили для деформационных швов
            a(href="#" alt="Подробная информация.").grid-container__inner-link.grid-container__inner-link--white   
        .grid-container__inner.grid-container__inner--7 
            h4.grid-container__inner-title Плетеные габионы
            a(href="#" alt="Подробная информация.").grid-container__inner-link     
            h4.grid-container__inner-title Модульные мосты
            a(href="#" alt="Подробная информация.").grid-container__inner-link
               
