mixin grid-container()
    - var headings = ['Мостовая сталь/Стальные конструкции мостов', 'Железобетонные конструкции мостов', 'Дорожные ограждения барьерного типа', 'Шпунтовой замок', 'Мостовой крепеж', 'Профили для деформационных швов', 'Плетеные габионы', 'Модульные мосты'];
    section.grid-container
        h2
            span(style='color: #FC0D1B') Комплексные&nbsp
            | предложения для мостостроения
        ul.grid-blocks-wrapper
            each heading, index in headings
                li.block.grid-block
                    h4= heading
                    if (+index === 3 || +index === 5)
                        img(src=whiteVector).vector
                    else
                        img(src=blueVector).vector
