mixin grid-container()
    section.grid-container
        h1.grid-container__header #[span Комплексные] предложения для мостостроения
        div.grid-container__tab.grid-container__tab_large.grid-container__tab_gray
            span Мостовая сталь/Стальные конструкции мостов
        div.grid-container__tab.grid-container__tab_mid.grid-container__tab_gray
            span Железобетонные конструкции мостов
        div.grid-container__tab.grid-container__tab_mid.grid-container__tab_gray
            span Дорожные ограждения барьерного типа
        div.grid-container__tab.grid-container__tab_dark
            span Шпунтовой замок
        div.grid-container__tab.grid-container__tab_gray
            span Мостовой крепеж
        div.grid-container__tab.grid-container__tab_blue
            span Профили для <br/> деформационных швов
        div.grid-container__tab.grid-container__tab_mid.grid-container__tab_gray
            span Плетеные габионы
        div.grid-container__tab.grid-container__tab_mid.grid-container__tab_gray
            span Модульные мосты
        // Your code here
