mixin grid-container()
    section.grid-container
        .grid-container__content
            +box('l', 'm', 'Мостовая сталь/Стальные конструкции мостов')

            .grid-container__content-col
                +box('m', 'm', 'Железобетонные конструкции мостов')
                +box('m', 'm', 'Дорожные ограждения барьерного типа')
        .grid-container__content
            +box('s', 'l', 'Шпунтовой замок').box_bg-blue
            +box('s', 'l', 'Мостовой крепеж')
            +box('s', 'l', 'Профили для деформационных швов').box_bg-blue
        .grid-container__content
            +box('m', 'm', 'Плетенные габионы')
            +box('m', 'm', 'Модульные мосты')