mixin grid-container()
    section.grid-container
        .grid-container__item1
            h3.text-attention Комплексные&nbsp; 
                span.text-primary предложения для мостостроения
        .grid-container__item2.bg-light
            h3.text-primary Мостовая сталь/Стальные конструкции мостов
            +blue-arrow
        .grid-container__item3.bg-light 
            h3.text-primary Железобетонные конструкции мостов
            +blue-arrow
        .grid-container__item4.bg-light
            h3.text-primary Дорожные ограждения барьерного типа
            +blue-arrow
        .grid-container__item5.bg-primary 
            h3.text-white Шпунтовой замок
            +white-arrow
        .grid-container__item6.bg-light
            h3.text-primary Мостовой крепеж
            +blue-arrow
        .grid-container__item7.bg-secondary
            h3.text-white Профили для деформационных швов
            +white-arrow
        .grid-container__item8.bg-light 
            h3.text-primary Плетеные габионы
            +blue-arrow
        .grid-container__item9.bg-light
            h3.text-primary Модульные мосты
            +blue-arrow
        