mixin grid-container()
	section.grid-container.grid
		h1.grid-title  <span>Комплексные</span>&nbsp;предложения для мостостроения
		.grid-row.grid-row-1
			.grid-item.grid-item-1
				p.grid-item__text Мостовая сталь/Стальные конструкции мостов
			.grid-item.grid-item-2 
				p.grid-item__text Железобетонные конструкции мостов
			.grid-item.grid-item-3
				p.grid-item__text Дорожные ограждения барьерного типа
		.grid-row.grid-row-2
			.grid-item.grid-item-4
				p.grid-item__text Шпунтовой замок
			.grid-item.grid-item-5
				p.grid-item__text Мостовой крепеж
			.grid-item.grid-item-6
				p.grid-item__text Профили для деформационных швов
		.grid-row.grid-row-3
			.grid-item.grid-item-7
				p.grid-item__text Плетеные габионы
			.grid-item.grid-item-8
				p.grid-item__text Модульные мосты
