mixin grid-container()
    section.grid-container
        div.item-grid-1.grid
            p Мостовая сталь/Стальные конструкции мостов
            img(src='../assets/images/arrow.svg')
        div.item-grid-2.grid
            p Железобетонные конструкции мостов
            img(src='../assets/images/arrow.svg')
        div.item-grid-3.grid
            p Дорожные ограждения барьерного типа
            img(src='../assets/images/arrow.svg')
        div.item-grid-4.grid.blue
            p Шпунтовой замок
            img(src='../assets/images/arrow-white.svg')
        div.item-grid-5.grid
            p Мостовой крепеж
            img(src='../assets/images/arrow.svg')
        div.item-grid-6.grid.blue-light
            p Профили для деформационных швов
            img(src='../assets/images/arrow-white.svg')
        div.item-grid-7.grid
            p Плетеные габионы
            img(src='../assets/images/arrow.svg')
        div.item-grid-8.grid
            p Модульные мосты
            img(src='../assets/images/arrow.svg')