include ../block/block

mixin grid-container()
    section.grid-container
        h1.title
            span.title_red Комплексные
            | предложения для мостостроения
        .container
            .container-first
                .container-first__item-first 
                    +block('light-grey', 'Мостовая сталь/Стальные конструкции мостов')
                .container-first__item-second
                    +block('light-grey', 'Железобетонные конструкции мостов')
                .container-first__item-third   
                    +block('light-grey', 'Дорожные ограждения барьерного типа')

            .container-second
                +block('dark-blue', 'Шпунтовой замок')
                +block('light-grey', 'Мостовой крепеж')
                +block('light-blue', 'Профили для <br> деформационных швов')

            .container-third
                +block('light-grey', 'Плетеные габионы')
                +block('light-grey', 'Модульные мосты')
