mixin grid-container()

    section.grid-container

        h1.grid-container__main-title

            span.grid-container__text--accent Комплексные
            | предложения для мостостроения

        nav.navigation

            ul.navigation__list

                li.navigation__item

                    a.link.navigation__link

                        h2.link__title Мостовая сталь/Стальные конструкции мостов

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link

                        h2.link__title Железобетонные конструкции мостов

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link

                        h2.link__title Дорожные ограждения барьерного типа

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link.link--focused

                        h2.link__title Шпунтовой замок

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link

                        h2.link__title Мостовой крепеж

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link.link--hovered

                        h2.link__title Профили для деформационных швов

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link

                        h2.link__title Плетеные габионы

                        div.link__icon

                            include ../../assets/icons/arrow.svg

                li.navigation__item

                    a.link.navigation__link

                        h2.link__title Модульные мосты

                        div.link__icon
                        
                            include ../../assets/icons/arrow.svg