mixin grid-container()
    section.grid-container
        h2.grid__title  <span>Комплексные</span> &nbsp предложения для мостостроения     
        div.grid__body
            div.grid__constructions
                div.grid__constructions_steel
                    div.arrow 
                        +svg                                                        
                    h3.grid__constructions_title Мостовая сталь/Стальные конструкции мостов
                div.grid__constructions_ferroconcrete
                    div.grid__constructions_ferroconcreteBridge
                        h3.grid__constructions_title Железобетонные конструкции мостов
                        div.arrow 
                            +svg
                    div.grid__constructions_ferroconcreteFence
                        h3.grid__constructions_title Дорожные ограждения барьерного типа
                        div.arrow 
                            +svg
            div.grid__fasteners
                div.grid__fasteners_tongue
                    h3.grid__fasteners_title Шпунтовой замок
                    div.arrow 
                        +svg
                div.grid__fasteners_bridge
                    h3.grid__fasteners_title Мостовой крепеж
                    div.arrow 
                        +svg
                div.grid__fasteners_seam
                    h3.grid__fasteners_title Профили для деформационных швов
                    div.arrow 
                        +svg
            div.grid__gabions
                div.grid__gabions_loop
                    h3.grid__gabions_title Плетеные габионы
                    div.arrow 
                        +svg
                div.grid__gabions_module
                    h3.grid__gabions_title Модульные мосты
                    div.arrow 
                        +svg
