include ../block-text/block-text.pug

mixin grid-container()
    h3.title
        span.highlighted-text Комплексные
        |  предложения для мостостроения
    section.grid-container
        .grid-container_first
            .grid-container_first__item-first
                +block-text('Мостовая сталь/Стальные конструкции мостов')
            .grid-container_first__item-second
                +block-text('Железобетонные конструкции мостов')
            .grid-container_first__item-third
                +block-text('Дорожные ограждения барьерного типа')
        .grid-container_second
            +block-text('Шпунтовой замок', 'blue')
            +block-text('Мостовой крепеж')
            +block-text('Профили для деформационных швов', 'light_blue')
        .grid-container_third
            +block-text('Плетеные габионы')
            +block-text('Модульные мосты')