mixin grid-container()
    section.grid-container
        h1.grid-container__title <span>Комплексные</span> предложения для мостостроения
        .grid-container__wrapper
            .grid-container__item.grid-container__item_gray
                .grid-container__item__title Мостовая сталь/Стальные конструкции мостов
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_gray
                .grid-container__item__title Железобетонные конструкции мостов
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_gray
                .grid-container__item__title Дорожные ограждения барьерного типа
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_blue
                .grid-container__item__title Шпунтовой замок
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_gray
                .grid-container__item__title Мостовой крепеж
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_blue
                .grid-container__item__title Профили для деформационных швов
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_gray
                .grid-container__item__title Плетеные габионы
                    a.grid-container__link(href="#") link
            .grid-container__item.grid-container__item_gray
                .grid-container__item__title Модульные мосты
                   a.grid-container__link(href="#") link
