mixin grid-container()
    section.grid-container
        div.grid-container__grid.grid
            div.grid__row.row-1.row
                div.row-1__box.grey
                    h2.row-1__title.subtitle.blue Мостовая сталь/Стальные конструкции мостов
                    button.row-1__btn.btn
                        a.row-1__link(href='#')
                            img.row-1__img(src='../assets/images/arrow-blue.png')
                div.row-1__box.row-1__inner.inner
                    div.inner__box.grey
                        h2.inner__subtitle.subtitle.blue Железобетонные конструкции мостов
                        button.inner__btn.btn
                            a.row-1__link(href='#')
                                img.inner__img(src='../assets/images/arrow-blue.png')
                    div.inner__box.grey
                        h2.inner__subtitle.subtitle.blue Дорожные ограждения барьерного типа
                        button.inner__btn.btn
                            a.row-1__link(href='#')
                                img.inner__img(src='../assets/images/arrow-blue.png')
            div.grid__row.row-2.row
                div.row-2__box.light-blue
                    h2.row-2__subtitle.subtitle.white Шпунтовой замок
                    button.row-2__btn.btn
                        a.row-1__link(href='#')
                            img.row-2__img(src='../assets/images/arrow-white.png')
                div.row-2__box.grey
                    h2.row-2__subtitle.subtitle.blue Мостовой крепеж
                    button.row-2__btn.btn
                        a.row-1__link(href='#')
                            img.row-2__img(src='../assets/images/arrow-blue.png')
                div.row-2__box.light-blue
                    h2.row-2__subtitle.subtitle.white Профили для деформационных швов
                    button.row-2__btn.btn
                        a.row-1__link(href='#')
                            img.row-2__img(src='../assets/images/arrow-white.png')
            div.grid__row.row-3.row
                div.row-3__box.grey
                    h2.row-3__subtitle.subtitle.blue Плетеные габионы
                    button.row-2__btn.btn
                        a.row-1__link(href='#')
                            img.row-2__img(src='../assets/images/arrow-blue.png')
                div.row-3__box.grey
                    h2.row-3__subtitle.subtitle.blue Модульные мосты
                    button.row-2__btn.btn
                        a.row-1__link(href='#')
                            img.row-2__img(src='../assets/images/arrow-blue.png')


           
