mixin grid-container()
    section.grid-container
        h3.grid-container__title <span class="grid-container__title_accent">Комплексные&nbsp;</span>предложения для мостостроения
        div.grid-container__grid-items
            a(href='#').grid-container__grid-item.grid-container__grid-item_position1
                h4.grid-container__subtitle Мостовая сталь/Стальные конструкции мостов
            a(href='#').grid-container__grid-item.grid-container__grid-item_position2
                h4.grid-container__subtitle Железобетонные конструкции мостов
            a(href='#').grid-container__grid-item.grid-container__grid-item_position3
                h4.grid-container__subtitle Дорожные ограждения барьерного типа
            a(href='#').grid-container__grid-item.grid-container__grid-item_position4.grid-container__grid-item_type_blue
                h3.grid-container__subtitle Шпунтовой замок
            a(href='#').grid-container__grid-item.grid-container__grid-item_position5
                h3.grid-container__subtitle Мостовой крепеж
            a(href='#').grid-container__grid-item.grid-container__grid-item_position6.grid-container__grid-item_type_light-blue
                h3.grid-container__subtitle Профили для деформационных швов
            a(href='#').grid-container__grid-item.grid-container__grid-item_position7
                h3.grid-container__subtitle Плетеные габионы
            a(href='#').grid-container__grid-item.grid-container__grid-item_position8
                h3.grid-container__subtitle Модульные мосты
