mixin grid-container()
    section.grid-container.container 
        h1.grid-container__title <span>Комплексные&nbsp</span> предложения для мостостроения
        div.grid-container__wrapper
            div.grid-container__item.grid-container__item_1 
            div.grid-container__item.grid-container__item_2
            div.grid-container__item.grid-container__item_3 
            div.grid-container__item.grid-container__item_4-5-6 
                div.grid-container__item.grid-container__item_4 
                div.grid-container__item.grid-container__item_5 
                div.grid-container__item.grid-container__item_6 
            div.grid-container__item.grid-container__item_7 
            div.grid-container__item.grid-container__item_8 
