mixin grid-container()
    section.grid-container
        // Your code here
        h1.main-title 
            p.main-title__text 
                span.main-title__text_color Koмплексные&nbsp;
                span.main-title__text_not-color предложения для мостостроения
        div.title.title__1
            p.title__text Мостовая сталь/Стальные конструкции мостов
            div.title__img 
                include ../../assets/arrow-blue.svg            
        div.title.title__2
            p.title__text Железобетонные конструкции мостов
            div.title__img 
                include ../../assets/arrow-blue.svg 
        div.title.title__3
            p.title__text Дорожные ограждения барьерного типа
            div.title__img 
                include ../../assets/arrow-blue.svg 
        div.title.title__4.title_color 
            p.title__text Шпунтовой замок
            div.title__img 
                include ../../assets/arrow-white.svg 
        div.title.title__5
            p.title__text Мостовой крепеж
            div.title__img 
                include ../../assets/arrow-blue.svg 
        div.title.title__6.title_color 
            p.title__text Профили для деформационных швов
            div.title__img 
                include ../../assets/arrow-white.svg 
        div.title.title__7
            p.title__text Плетеные габионы
            div.title__img 
                include ../../assets/arrow-blue.svg 
        div.title.title__8 
            p.title__text Модульные мосты
            div.title__img 
                include ../../assets/arrow-blue.svg 