mixin grid-container()
    section.grid-container
        h2.grid-title
            span.red Комплексные
            span предложения для мостостроения
        .grid
            .grid__item.item-1
                span.item__text Мостовая сталь/Стальные конструкции мостов
                include ../../icons/arrow.svg
                    
            .grid__item.item-2
                span.item__text Железобетонные конструкции мостов
                include ../../icons/arrow.svg
                    
            .grid__item.item-3
                span.item__text Дорожные ограждения барьерного типа
                include ../../icons/arrow.svg
                    
            .grid__item.item-4
                span.item__text Шпунтовой замок
                include ../../icons/arrow.svg
                    
            .grid__item.item-5
                span.item__text Мостовой крепеж
                include ../../icons/arrow.svg
                    
            .grid__item.item-6
                span.item__text Профили для деформационных швов
                include ../../icons/arrow.svg
                    
            .grid__item.item-7
                span.item__text Плетеные габионы
                include ../../icons/arrow.svg
                    
            .grid__item.item-8
                span.item__text Модульные мосты
                include ../../icons/arrow.svg
                    

