mixin grid-container()
    section.grid-container
      h2.grid-container_title <span>Комплексные</span> предложения для мостостроения
      .grid-container_box
       -let titlesBlock = ['Мостовая сталь/Стальные конструкции мостов','Железобетонные конструкции мостов','Дорожные ограждения барьерного типа','Шпунтовой замок','Мостовой крепеж','Профили для деформационных швов','Плетеные габионы','Модульные мосты'];
         each el in titlesBlock
          .grid_card
            h3.card-title= el 
             .vector-block 
               svg(width="66" height="36" viewBox="0 0 66 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M58.6341 19.4L0.277588 19.4L0.277588 16.6L58.6341 16.6L58.6341 19.4ZM36.7642 36L35.1156 33.6L61.8761 20L61.8761 16L35.1156 2.4L36.7642 0L65.1181 14.4V21.6L36.7642 36Z" fill="#04306A")
    