mixin grid-container()
    section.grid-container
        h2 <span>Комплексные</span>&nbspпредложения для мостостроения
        .items 
            .items__item.item-1
                p Мостовая сталь/Стальные конструкции мостов
                img(src="../assets/images/BlueArrow.svg", alt="Arrow")
            .items__item.item-2
                p Железобетонные конструкции мостов
                img(src="../assets/images/BlueArrow.svg", alt="Arrow")
            .items__item.item-3
                p Дорожные ограждения барьерного типа
                img(src="../assets/images/BlueArrow.svg", alt="Arrow")
            .items__item.item-4
                p Шпунтовой замок
                img(src="../assets/images/WhiteArrow.svg", alt="Arrow")
            .items__item.item-5
                p Мостовой крепеж
                img(src="../assets/images/BlueArrow.svg", alt="Arrow")
            .items__item.item-6
                p Профили для<br>деформационных швов
                img(src="../assets/images/WhiteArrow.svg", alt="Arrow")
            .items__item.item-7
                p Плетеные габионы
                img(src="../assets/images/BlueArrow.svg", alt="Arrow")
            .items__item.item-8
                p Модульные мосты
                img(src="../assets/images/BlueArrow.svg", alt="Arrow")
