mixin svgArrow()
    svg(xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none")
        g(clip-path="url(#clip0_201_12)")
            path(d="M29.9059 14.9678L29.9059 17.0322L16.859 25.1208L17.9172 27L32 18.2751L32 13.7249L17.9172 5L16.859 6.87919L29.9059 14.9678Z" fill="white")
            path(d="M27 17.0926L27 14.9074L1.05717e-06 14.9074L8.66136e-07 17.0926L27 17.0926Z" fill="white")

mixin svgPlusIcon()
    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
        path(d="M0 6.53333V7.46667H14V6.53333H0Z" fill="#909090")
        path(d="M7.46667 4.07974e-08L6.53333 0L6.53333 14H7.46667L7.46667 4.07974e-08Z" fill="#909090")

mixin uploadedFile()
    - var n = 1;
    while n < 3
        .feedback-form__file-uploads.hidden(class=`elem-`+n data-upload=n)
            span.feedback-form__file-uploads-name
            span.feedback-form__file-uploads-size
            span.feedback-form__file-uploads-type
            span.feedback-form__file-uploads-icon
                +svgPlusIcon
        - n += 1

mixin markImage(props)
    img(src="../assets/images/mark.png" alt="mark" class=props.variant)

mixin feedback-form(props)
    .feedback-form&attributes(attributes)(data-component='feedback-form')
        h2.feedback-form__label Форма обратной связи
        form#form.feedback-form__form(method='post')
            .feedback-form__input
                input#email-field.feedback-form__input-field(type='email' required='' maxlength='255' name='email')
                label(for='email-field').feedback-form__input-name E-mail
                +markImage({variant: 'feedback-form__input-image'})
            div.feedback-form__message-input
            .feedback-form__textarea
                textarea#textarea-block.feedback-form__textarea-element(maxlength='1000' required='' minlength='1' name='text')
                label(for='textarea-block').feedback-form__input-name.feedback-form__textarea-name Ваше сообщение
                +markImage({variant: 'feedback-form__textarea-image'})
                div.feedback-form__message-textarea
            .feedback-form__file
                input#file.feedback-form__file-button(type='file' multiple='' required='' name='file')
                label.feedback-form__file-label(for='file')
                    span.feedback-form__file-label-text Прикрепить файл
                    span.feedback-form__file-label-icon
                        +svgPlusIcon
                +uploadedFile
                .feedback-form__file-help
                    img(src='../assets/images/tool.png' alt='info icon' class='feedback-form__file-help-icon')
                    span.feedback-form__file-help-text Вы можете загрузить только 2 документа
            div.feedback-form__message-file
            .feedback-form__checkbox
                input#checkbox-field.feedback-form__checkbox-item(type='checkbox' required='' checked='' name='agreement')
                label(for='checkbox-field').feedback-form__checkbox-name Вы подтверждаете, что ознакомились c <a href="#" class="link">политикой обработки персональных данных</a>
                    span.feedback-form__checkbox-checkmark(style="display:none")
            div.feedback-form__message-checkbox
            button.not-active.feedback-form__button(type='submit')
                span.feedback-form__button-text Отправить
                span.feedback-form__button-icon
                    +svgArrow
            div.feedback-form__message-button
