.feedback-form {
	$root: &;

  width: 1280px;
  margin-left: 30px;
  margin-top: 26px;
  margin-bottom: 55px;
	display: flex;
  gap: 170px;


  &__title {
    width: 273px;
    flex: 0 0 273px;
    color: #002F6C;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.64px;
  }

  &__container {
    flex: 1 0 auto;
  }

  .feedback-textarea {
    margin-top: 10px;
  }

  .feedback-file {
    margin-top: 28px;
    margin-bottom: 30px;
  }

  .feedback-submit{
    margin-top: 30px;
  }
}