mixin feedback-form(props)
	.feedback-form&attributes(attributes)(data-component='feedback-form')
		h1.feedback-form__title 
			| Форма обратной
			br
			| связи
		form(id='form').feedback-form__input-container 
			+email()
			+textfield()
			
			+files()
			+confirm()
			+button({text: 'Отправить'})(class="button-outlined" disabled='true')
			.feedback-form__server-response
