mixin svgArrow()
    svg(xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none")
        g(clip-path="url(#clip0_201_12)")
            path(d="M29.9059 14.9678L29.9059 17.0322L16.859 25.1208L17.9172 27L32 18.2751L32 13.7249L17.9172 5L16.859 6.87919L29.9059 14.9678Z" fill="white")
            path(d="M27 17.0926L27 14.9074L1.05717e-06 14.9074L8.66136e-07 17.0926L27 17.0926Z" fill="white")

//mixin svgMark()
//    svg(xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none")
//        circle(cx="26" cy="26" r="25" stroke="#DEDEDE" stroke-width="2")
//        path(fill-rule="evenodd" clip-rule="evenodd" d="M36.503 19.4099L35.3267 18.2337L23.3798 30.1806L24.556 31.3569L36.503 19.4099ZM16.6457 26.1695L15.4695 27.3458L21.9503 33.8267L23.1266 32.6504L16.6457 26.1695Z" fill="#27AE60")

mixin svgPlusIcon()
    svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
        path(d="M0 6.53333V7.46667H14V6.53333H0Z" fill="#909090")
        path(d="M7.46667 4.07974e-08L6.53333 0L6.53333 14H7.46667L7.46667 4.07974e-08Z" fill="#909090")

mixin uploadedFile()
    - var n = 1;
    while n < 3
        .feedback-form__file-uploads.hidden(class=`elem-`+n data-upload=n)
            span.feedback-form__file-uploads-name
            span.feedback-form__file-uploads-size
            span.feedback-form__file-uploads-type
            span.feedback-form__file-uploads-icon
                +svgPlusIcon
        - n += 1

mixin feedback-form(props)
    .feedback-form&attributes(attributes)(data-component='feedback-form')
        h2.feedback-form__label Форма обратной связи
        form#form.feedback-form__form(method='post' )
            .feedback-form__input
                input#email-field.feedback-form__input-field(type='email' required='' maxlength='255' name='email')
                label(for='email-field').feedback-form__input-name E-mail
            div.feedback-form__message-input
            .feedback-form__textarea
                textarea#textarea-block.feedback-form__textarea-element(maxlength='1000' required='' minlength='1' name='text')
                label(for='textarea-block').feedback-form__input-name.feedback-form__textarea-name Ваше сообщение
                img.feedback-form__textarea-image(src="../assets/images/mark.png" alt="mark")
                div.feedback-form__message-textarea
            .feedback-form__file
                input#file.feedback-form__file-button(type='file' multiple='' required='' name='file')
                label.feedback-form__file-label(for='file')
                    span.feedback-form__file-label-text Прикрепить файл
                    span.feedback-form__file-label-icon
                        +svgPlusIcon
                +uploadedFile
            div.feedback-form__message-file
            .feedback-form__checkbox
                input#checkbox-field.feedback-form__checkbox-item(type='checkbox' required='' checked='' name='agreement')
                label(for='checkbox-field').feedback-form__checkbox-name Вы подтверждаете, что ознакомились c <a href="#" class="link">политикой обработки персональных данных</a>
                    span.feedback-form__checkbox-checkmark(style="display:none")
            div.feedback-form__message-checkbox
            button.not-active.feedback-form__button(type='submit')
                span.feedback-form__button-text Отправить
                span.feedback-form__button-icon
                    +svgArrow
            div.feedback-form__message-button
