mixin feedback-form(props)
	form.feedback-form&attributes(attributes)(data-component='feedback-form')
		h1.feedback-form__title 
			| Форма обратной
			br
			| связи
		.feedback-form__input-container 
			+email()
			+email(disabled='')
			label(for="message").feedback-form__message-label
			input(type='text' id='message' name='message' placeholder='Ваше сообщение').feedback-form__message-input
			span.feedback-form__message-error
			label(for='files') Прикрепить файл
				input(type='file' id='files' name='files' placeholder='Прикрепить файл')
			+confirm()
			+button({text: 'Отправить'})(class="button-outlined")
