mixin links-in-text(props)
	p.links-in-text
		| Для подключения сервиса добавьте  номер #[a.links&attributes(attributes) +7(921)058-57-19] в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
	p.links-in-text Цифровые продукты, направленные на создание #[a.links&attributes(attributes) дополнительных сервисов] и устранение «проблемных точек» наших клиентов

		