mixin job(props)
	.job&attributes(attributes)(data-component='job')
		section.job__heading
			p.job__date 18 декабря 2020
			h1 Консультант SAP PO
			div.job__data
				p.job__views Просмотров&nbsp;
				p.job__responses Откликов&nbsp;
		section.job__description
		section.job__form-section
			h3 Форма обратной связи
			+form()



