.job {
  $root: &;

  font-family: Arial, sans-serif;
  font-weight: 400;

  h1, h2, h3 {
    color: #04306A;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 32px;
  }

  &__heading {
    padding: 115px 80px 144px;

    h1 {
      margin: 20px 0 45px;
    }
  }

  &__date {
    font-size: 16px;
    color: #8F8F8F;
  }

  &__data {
    display: flex;
    gap: 36px;
    font-size: 16px;
    color: #8F8F8F;
  }

  &__form-section {
    padding: 44px 217px 45px 103px;
    display: flex;
    flex-wrap: wrap;
    gap: 81px;
  }
}
