mixin form(props)
	.form&attributes(attributes)(data-component='form')
		.form__title Форма обратной связи
		form.form__form
			.form__email.email
				label(for='email') E-mail
				input(type='email' name='email' requiered)
			.form__error.hidden
			.form__checkbox.checkbox
				input(type='checkbox'  name='confirm')
				label(for='confirm') Вы подтверждаете, что ознакомились <span>c политикой обработки персональных данных</span> 
			.form__footer
				button.form__button.button(type='submit') 
					p.button__text Отправить
					//- +svg('arrow').button__svg
					+svg('arrow').button__svg
				
				.form__loader.hidden
				.form__success.hidden 
			
				