mixin form(props)
	.form&attributes(attributes)(data-component='form')
		form.form__form
			div.form__email
				label(for='e-mail').form__label Email
				input(type='email', id='e-mail', required).form__email-input
				div.form__validity-message-wrapper
					span.form__email-validity-message
			div.form__checkbox
				input(type='checkbox', id='checkbox-input', required).form__checkbox-input
				label.form__checkbox-label(for='checkbox-input') Вы подтверждаете, что ознакомились&nbsp
					span(style='color:#002F6C') c политикой обработки персональных данных
				div.form__checkbox-validity-message
			button(type='submit').form__submit-button
				span Отправить
				+svg('vector').form__vector
			div.form__form-sent-message
				div.form__circle
					+svg('union').form__union
				div
					p.form__message-text Форма успешно отправлена
					p.form__response-text Ответ от сервера:&nbsp
