mixin form(props)
    section.form&attributes(attributes)(data-component='form')
        h2.form__title Форма обратной связи
        form
            .form__group
                label.form__label.form__label-email(for="email") E-mail
                input(id="email" type="email" maxlength="255" name="email" required).form__input.form__input-email
                span.form__error 123
            .form__group
                span.form__label.form__label-msg(for="message") Ваше сообщение
                textarea(id="message" name="message").form__input.form__input-msg
                span.form__error 123
            label.form__files(for="files")
                input(type="file" name="files" multiple).form__files-btn
                span.form__files-text Прикрепить файл
                    +svg('plus')
            span.form__error 123
            label.form__acceptance(for="confirm")
                input(type='checkbox' name="confirm")
                //- span.indicator
                span Вы подтверждаете, что ознакомились 
                    a(href='/') c политикой обработки персональных данных
            button(type="submit" disabled='').form__submit Отправить
                +svg('iconArrow')