.form {
  $root: &;

  //Your code here
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #002f6c;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 20px;

    &__label {
      margin-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #909090;
    }

    &__input {
      border: solid 1px #0041a0;
      border-radius: 24px;
      width: 800px;
      height: 48px;
      padding: 10px;
    }

    &__button {
      width: 155px;
      height: 48px;
      border: none;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0041a0;

      &:hover {
        background-color: #00327e;
      }

      &__text {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
      }

      &__arrow {
        width: 32px;
        height: 22px;
        margin-left: 5px;
        color: #ffffff;
      }

      &__checkbox {
        width: 32px;
        height: 32px;
      }
    }

    &__contaier {
      display: flex;
      margin: 10px;

      &__input {
        border: solid black;
        width: 16px;
        height: 16px;
      }
      &__text {
        color: #909090;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
      }
      &__href {
        color: #002F6C;
        margin-left: 1ex;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;

        &:hover{
          color: #00327e;
          cursor: pointer;
        }
      }
    }
  }
}
