mixin form(props)
	form.form&attributes(attributes)(data-component='form')
		h2.form__title Форма обратной связи
		.form__content 
			+input-field
			br
			br
			+text-area 
			br
			br
			+btn-file
			br
			br
			+checkbox({text: 'Вы подтверждаете, что ознакомились c ', link: 'политикой обработки персональных данных '})
			br
			br
			+btn({text: 'Отправить'})

			.success--msg
				+svg('success-svg')
				| Форма успешно отправлена

			.error--msg
				+svg('error-svg')
				| Ошибка отправки формы