mixin form(props)
	form.form&attributes(attributes)(data-component='form')
		.email-block
			label.form__email-label(for='email') E-mail
			input.form__email.input._req._email(type='text', placeholder='E-mail', id='name', maxlength="255")
			span.form__email-check 
				<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.980646L16.9934 0L6.76947 9.96018L7.77608 10.9408L18 0.980646ZM1.00662 6.6163L0 7.59694L5.54618 13L6.55279 12.0194L1.00662 6.6163Z" fill="#27AE60"/>
				</svg>
			span.error.email-error

		.text-block
			label.form__text-label(for='message') Ваше сообщение
			textarea.form__text.input._req._textarea(name="text", placeholder='Ваше сообщение', maxlength="1000")
			span.form__text-check 
				<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.980646L16.9934 0L6.76947 9.96018L7.77608 10.9408L18 0.980646ZM1.00662 6.6163L0 7.59694L5.54618 13L6.55279 12.0194L1.00662 6.6163Z" fill="#27AE60"/>
				</svg>
			span.error.text-error

		.files-block
			.add
				label.file-label
					input.form__button-add(type='file', accept='.pdf, .doc, .docx', multiple)
					span.add-text Прикрепить файл
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 6.53333V7.46667H14V6.53333H0Z" fill="#002F6C"/>
						<path d="M7.46667 4.07974e-08L6.53333 0L6.53333 14H7.46667L7.46667 4.07974e-08Z" fill="#002F6C"/>
					</svg>
			.preview 	

		span.file-info Только файлы формата .pdf, .doc, .docx	
		span.error.file-error

		.agreement-block 	
			input.agreement__input._req._checked(type='checkbox', name='agreement', value=false, id='agreement')
			label.agreement__label(for='agreement') Вы подтверждаете, что ознакомились 
				a.agreement__link(href='#') с политикой обработки персональных данных	

		button.form__button-submit(type='submit', disabled).
			Отправить
			<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M29.9059 9.9678L29.9059 12.0322L16.859 20.1208L17.9172 22L32 13.2751L32 8.72493L17.9172 3.47372e-06L16.859 1.87919L29.9059 9.9678Z" fill="#002F6C"/>
				<path d="M27 12.0926L27 9.90744L1.05717e-06 9.90744L8.66136e-07 12.0926L27 12.0926Z" fill="#002F6C"/>
			</svg>		

		p.form__result
