include ../loader/loader
mixin form({ title=''}={})
	form.form&attributes(attributes)(data-component='form')
		.form__left-column
			h3.form__title=title
			+loader({disabled:true})
		.form__right-column
			+input-email({placeholder:'Email',title:'Email'})(data-event='formemail')
			+textarea()
			.form__input-file-wrapper
				+input-file({id:'form-input-file'})(multiple='multiple' accept='.pdf, .doc, .docx')
			span.form__file-error.form_invisible-elem
			+checkbox({id:'policy',label:'Вы подтверждаете, что ознакомились',ref:'http://mock-address-change-me',link:' c политикой обработки персональных данныx',error:'Ознакомтесь с политикой'})(data-event='formcheckbox')
			span.form__server-error.form_invisible-elem
			+button({text:'Отправить'})