mixin form(props)
	.form&attributes(attributes)(data-component='form')
		//Your code here
		h1.form__header Форма обратной связи
		form.form__content(action="")
			label.form__content__label E-mail
			input.form__content__input(type="email")
			div.form__content__contaier
				input.form__content__contaier__input(type="checkbox" checked)
				p.form__content__contaier__text Вы подтверждаете, что ознакомились
				a.form__content__contaier__href с политикой обработки персональных данных
			span.message #{message} 
			button.form__content__button
				span.form__content__button__text Кнопка
				+svg('Vector').form__content__button__arrow