mixin form({ title=''}={})
	form.form&attributes(attributes)(data-component='form')
		.form__left-column
			h3.form__title=title
		.form__right-column
			+input-email({placeholder:'Email',title:'Email'})
			+textarea()
			+input-file({id:'form-input-file'})
			span.form__file-error.form_invisible-elem 
			+checkbox({id:'policy',label:'Вы подтверждаете, что ознакомились',ref:'http://mock-address-change-me',link:' c политикой обработки персональных данныx'})
			span.form__server-error.form_invisible-elem
			+button({text:'Отправить'})