mixin form(props)
	.form&attributes(attributes)(data-component='form')
		//Your code here
		h1.form__header Форма обратной связи
		form.form__content(action="")
			label.form__content__label E-mail
			input.form__content__input(type="email")
			input.form__checkbox(type="checkbox", name="agree") 
			| Я согласен с условиями
			button.form__content__button
				span.form__content__button__text Кнопка
				+svg('Vector').form__content__button__arrow