mixin form(props)
	.form&attributes(attributes)(data-component='form')
		//Your code here
		h2.form__title Форма обратной связи
		form.form__block
			.form__email-block
				label(for='email').form__email-label Email
				input(type='email'  required id='email'  maxlength='255' placeholder="E-mail" name='email').form__email
				+svg('union').form__union-email
				p.form__email-error
				label.form__textarea-label Ваше сообщение
				textarea(maxlength='1000' required minlength='1' name='text' placeholder="Ваше сообщение").form__textarea
				+svg('union').form__union-textarea
				p.form__textarea-error
			
			.form__file
				label.form__file-label
					input(type='file' multiple="multiple" name='files' accept='.pdf, .doc, .docx').form__file-input
					span.form__file-button Прикрепить файл
						+svg('plus').plus
				p.form__file-error
				

			.form__checkbox-block
				input(type='checkbox', id='agreement').form__checkbox-input
				label(for='agreement').form__policy Вы подтверждаете, что ознакомились&nbsp;
					a(href='#') c политикой обработки персональных данных
			button(type='submit' disabled).form__button-submit
				p.form__button-text Отправить
				+svg('form-svg').form__svg
			.form__success-submit
				+svg('form-success').form__success-svg
				p.form__success-text Форма успешно отправлена

				
