mixin form(props)
	.form&attributes(attributes)(data-component='form')
		h1.form__title Форма обратной #[br] связи
		.form__container
			p.form__input-name.hidden.form__email-name E-mail
			input.form__email.form__passive(type="email" placeholder="E-mail")
			p.form__errorText.hidden Некорректный email
			p.form__input-name.hidden.form__msg-name Ваше сообщение
			+svg('good-email').form__svg-goodEmail.hidden
			.form__msgBlock
				textarea.form__msg.form__passive(type="text" placeholder="Ваше сообщение")
				+svg('good-email').form__svg-goodMsg.hidden
			p.form__errorText.hidden Размер сообщения не должен превышать 1000 символов
			.form__add-block
				.form__addBtns
					button.form__add-file.form__btn
						span Прикрепить файл
						+svg('add').form__svg-add.form__svg
						input(type="file" accept=".pdf, .docx, .doc").form__file
					div.form__newFile.hidden
						span Документ&nbsp
						span.form__fileType PDF,
						span.form__fileSize 106kB
						button.form__delFile
							+svg('add').form__closeFile
					div.form__newFile.hidden
						span Документ&nbsp
						span.form__fileType PDF,
						span.form__fileSize 106kB
						button.form__delFile
							+svg('add').form__closeFile
				div.form__twoFiles.hidden
					+svg('twofiles')
					p Вы можете загрузить только 2 документа
				p.form__file-error.hidden Максимальный размер файла 5МБ
			.form__checkbox
				+svg('agree').form__checkbox-yes.hidden
				input(type='checkbox').form__checkbox-input
				label Вы подтверждаете, что ознакомились #[span с политикой обработки персональных данных ]
			button.form__send.form__btn(disabled)
				span Отправить
				+svg("arrow").form__svg-arrow.form__svg