@import "../../pages/index.scss";

.input-textarea {
  $root: &;

  display: flex;
  column-gap: 20px;
  height: 166px;
  max-width: 600px;
  margin-bottom: 28px;
  position: relative;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__label {
    position: absolute;
    left: 0px;
    top: 18px;
    font-size: 16px;
    line-height: 100%;
    color: $black;
    pointer-events: none;
    transition: 0.3s ease-in;
  }

  &__icon {
    display: none;
    position: absolute;
    top: 70%;
    left: calc(100% - 40px);
    width: 18px;
    height: 13px;
  }

  &__input {
    outline: none;
    border: none;
    align-self: flex-start;
    width: 100%;
    height: 48px;
    position: relative;
    padding: 12px 50px 14px 20px;
    border-bottom: 1px solid $extraGrey2;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $black;
    resize: none;
    outline: none;

    &:focus {
      outline: 1px solid $cobolt;
      border-radius: 24px;
      height: 148px;
    }

    &:hover {
      background-color: $lightGrey;
      border-radius: 24px;
      cursor: pointer;
      height: 148px;
    }

    &:hover + #{$root}__label {
      left: 20px;
    }

    &:focus + #{$root}__label {
      left: 20px;
      top: -20px;
      font-size: 12px;
      line-height: 150%;
      color: $steel;
    }
  }

  &__error {
    position: absolute;
    left: 20px;
    top: 90%;
    color: $red;
    font-size: 12px;
    line-height: 150%;
  }

  &.error {
    #{$root}__input {
      border: 1px solid $red;
      border-radius: 24px;
      height: 148px;
    }

    #{$root}__label {
      left: 20px;
      top: -20px;
      font-size: 12px;
      line-height: 150%;
      color: $steel;
    }
  }

  &.valid {
    #{$root}__input {
      outline: none;
      background-color: $lightGrey;
      border-radius: 24px;
      height: 148px;
    }

    #{$root}__icon {
      display: flex;
    }

    #{$root}__label {
      left: 20px;
      top: -20px;
      font-size: 12px;
      line-height: 150%;
      color: $steel;
    }
  }
}
