mixin textarea(props)
	.textarea__wrapper
		label.label(for=props.name)!=props.label
		textarea.textarea&attributes(attributes)(data-component='textarea')
		span.textarea-error-message
		+svg('success').textarea-valid-icon