.textarea {
  $root: &;

	border: none;
  border-bottom: 1px #dedede solid;
  width: 100%;
	resize: none;
	height: 21px;
  outline: none;


  .label {
    color: #111;
    font-size: 16px;
  }

  &-valid-icon {
    position: absolute;
    top: 35px;
    right: 20px;
    display: none;
    width: 18px;
    height: 13px;
  }

  &-error-message {
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
  }
}

.textarea__wrapper:hover {
  position: relative;
  .textarea {
    padding: 12px 20px 17px;
    border-radius: 24px;
    background-color: #f4f4f4;
    border: none;
		height: 144px;
  }

  .label {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.textarea__wrapper:focus-within,
.textarea__wrapper:active {
  .textarea {
    padding: 12px 20px 17px;
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid #0041a0;
		height: 144px;
		font-size: 16px;
  }

  .label {
    position: static;
    margin-left: 20px;
    font-size: 12px;
    color: #909090;
  }
}

.textarea__wrapper:has(textarea[disabled]) {
  pointer-events: none;

  .label {
    color: #bcbcbc;
  }
}

.textarea__wrapper--valid {
  position: relative;
  .textarea {
    padding: 12px 20px 17px;
    border-radius: 24px;
    background-color: #f4f4f4;
    border-bottom: none;
    height: 144px;
  }

  .label {
    margin-left: 20px;
    font-size: 12px;
    color: #909090;
  }

  .textarea-valid-icon {
    display: block;
  }
}

.textarea__wrapper--invalid {
  .textarea {
    padding: 12px 20px 17px;
    border-radius: 24px;
    border: 1px solid #ff0000;
    height: 144px;
  }

  .label {
    margin-left: 20px;
    font-size: 12px;
    color: #909090;
  }
}

.textarea__wrapper--invalid:hover {
  .textarea {
    background-color: transparent;
    border: 1px solid #ff0000;
  }

  .label {
    position: static;
  }
}
