mixin list({ listArray = [],header }={})
	.list&attributes(attributes)(data-component='list')
		h2.list__header!=header
		each text in listArray 
			li.list__elem
				.list__marker
				span.list__text=text