$colorBlue: #04306A;
$colorGreen: #0DB274;
$colorBlack: #012B34;

.content-block {
	$root: &;

	margin: 0px 532px 130px 80px;

	&__title {
		color: $colorBlue;
		font-size: 46px;
		letter-spacing: -0.92px;
		margin-bottom: 35px;
		line-height: 120%;
	}

	&__item {
		color: $colorBlack;
		font-size: 24px;
		line-height: 140%;
		margin-left: 28px;
		
		&::before {
			content: "";
			display: inline-block;
			vertical-align: 25%;
			align-self: center;
			width: 20px;
			height: 1px;
			background-color: $colorGreen;
			margin-right: 8px;
			margin-left: -28px;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&:last-child {
		margin-bottom: 109px;
	}
}