@import "@/styles/variables.scss";

.Search {
  position: relative;

  input{
    border-radius: 10px;
    background-color:$white;
    padding: 16px 41px 16px 16px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 16px;
  }
}
