$colorMainSteel: #909090;
$colorSteel: #8f8f8f;
$colorGray: #dedede;
$colorExtraGray: #bcbcbc;
$colorExtraGrey3: #f4f4f4;
$colorBlue: #04306a;
$colorMainBlue: #002f6c;
$colorExtraCobolt: #0041a0;
$colorLightBlue: #99b3d8;
$colorBlack: #012b34;
$colorBlack2: #111111;
$colorMidnight: #021f45;
$colorMainRed: #f00000;
$colorGreen: #0db274;
$colorWhite: #fff;
