$colorSteel: #8f8f8f;
$colorMainSteel: #909090;
$colorBlue: #04306a;
$colorMainBlue: #002f6c;
$colorExtraCobolt: #0041a0;
$colorBlack: #012b34;
$colorBlack2: #111;
$colorGreen: #0db274;
$colorWhite: #fff;
$colorGray: #dedede;
$colorExtraGray: #bcbcbc;
