.main-title {
  color: #04306a;
  font-family: Arial;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 80px;
  margin-left: 90px;
}

.main-title span {
  color: #fc0d1b;
}
