.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 24px 36px 30px 36px;
    // transition: .4s;
    cursor: pointer;
    min-height: 460px;
    position: relative;

    &__title {
        // transition: .2s;
        font-size: 32px;
        font-weight: 700;
        color: #04306A;

        &-white {
            color: white;
        }
    }

    &__img {
        position: absolute;
        right: 37px;
        bottom: 30px;
    }

    &__arrow {
        width: 200px;
        height: 45px;
        fill: #04306A;
        &-white {
            fill: #fff;
        }
    }

    // &:hover {
    //     background: #04306A;

    //     .block__title {
    //         color: white;
    //     }
    // }

    // &__blue-bg:hover {
    //     background: #0041A0;
    // }
}