.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 24px 36px 30px 36px;
    cursor: pointer;
    min-height: 460px;
    position: relative;
    background-color: #F4F4F4;

    &__blue {
        background-color: #04306A;
    }

    &__light-blue {
        background-color: #0041A0;
    }

    &__blue, &__light-blue {
        .block__img {
            svg {
                fill: white;
            }
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: #04306A;

        &-white {
            color: white;
        }
    }

    &__img {
        position: absolute;
        right: 37px;
        bottom: 30px;

        svg {
            fill: #04306A;
        }
    }

    &__arrow {
        width: 200px;
        height: 45px;
        fill: #04306A;
        &-white {
            fill: #fff;
        }
    }
}