.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #F4F4F4;
    padding: 24px 36px 30px 36px;
    // transition: .4s;
    cursor: pointer;

    &__title {
        // transition: .2s;
        font-size: 32px;
    }

    &__img {
        width: 20px;
        height: 20px;
        fill: black;
    }

    // &:hover {
    //     background: #04306A;

    //     .block__title {
    //         color: white;
    //     }
    // }

    // &__blue-bg:hover {
    //     background: #0041A0;
    // }
}