$main-blue: #002f6c;
$main-steel: #909090;
$main-red: #ff0000;
$main-white: #ffffff;

$grey-1: #bcbcbc;
$grey-2: #dedede;
$grey-3: #f4f4f4;

$blue-light: #99b3d8;
$blue-white: #c2daff;

$red-dark-1: #bf1d26;
$red-dark-2: #81080f;

$text-black: #111111;

$cobolt: #0041a0;
