$white: #ffffff;
$black: #111111;

$midnight: #021f45;
$cobalt: #0041a0;
$blue: #002f6c;
$light-blue: #99b3d8;

$grey1: #bcbcbc;
$grey2: #dedede;
$grey3: #f4f4f4;
$steel: #909090;

$red: #f00000;

$shadow: rgba(0, 0, 0, 0.1);
