$blue: #002f6c;
$grey-1: #bcbcbc;
$grey-2: #dedede;
$grey-3: #f4f4f4;
$cobolt: #0041a0;
$black: #111111;
$steel: #909090;
$red: #ff0000;
$midnight: #021f45;
$white: #ffffff;
$blue-light: #99b3d8;
