include ../src/components/switch/switch
include ../src/components/link/link
include ../src/components/slider/slider
include ../src/components/button-red/button-red
include ../src/components/button-blue/button-blue
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 2

    body
        block body
