include ../src/components/link-button/link-button
include ../src/components/check-button/check-button
include ../src/components/pagination/pagination
include ../src/components/slider-button/slider-button
include ../src/components/vector-button/vector-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 2
        
    body
        block body
