include ../src/components/feedback-checkbox/feedback-checkbox
include ../src/components/feedback-file/feedback-file
include ../src/components/feedback-textarea/feedback-textarea
include ../src/components/feedback-input/feedback-input
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 5

    body
        block body
