include ../src/components/only-loader/only-loader
include ../src/components/only-point/only-point
include ../src/components/only-checkagreement/only-checkagreement
include ../src/components/only-error/only-error
include ../src/components/only-input/only-input
include ../src/components/only-button/only-button
include ../src/components/only-vacancy-wrapper/only-vacancy-wrapper
include ../src/components/only-form/only-form
include ../src/components/only-parag/only-parag
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 4

    body
        block body
