include ../src/components/preLoader/preLoader
include ../src/components/myButton/myButton
include ../src/components/form/form
include ../src/components/list/list
include ../src/components/vacancyPage/vacancyPage
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 4

    body
        block body
