include ../src/components/button-container/switch-button-4/switch-button-4
include ../src/components/button-container/link-3/link-3
include ../src/components/button-container/scroll-buttons-2/scroll-buttons-2
include ../src/components/button-container/button-1/button-1
include ../src/components/button-container/button-0/button-0
include ../src/components/button-container/button-container

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Задание 2

    body
        block body
