include ../src/components/files/files
include ../src/components/textfield/textfield
include ../src/components/confirm/confirm
include ../src/components/email/email
include ../src/components/feedback-form/feedback-form
include ../src/components/button/button
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 5

    body
        block body
