@import '../src/components/spoiler-item/spoiler-item';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Roboto&display=swap');

html {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 183px 150px 0 150px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, p, a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

.faq {
    &__wrapper {
        margin-top: 80px;
        border-top: 1px solid rgba(230, 230, 230, 1);
    }
    &__title {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 64px;
        color: rgba(1, 43, 52, 1);
    }
}

@media (max-width: 1440px) {
    .faq {
        &__wrapper {
            margin-top: 60px;
        }

        &__title {
            font-size: 48px;
        }
    }

    body {
        padding: 150px 115px 0 115px;
    }
}

@media (max-width: 1280px) {
    .faq {
        &__wrapper {
            margin-top: 56px;
        }

        &__title {
            font-size: 42px;
        }
    }

    body {
        padding: 167px 107px 0 107px;
    }
}

@media (max-width: 768px) {
    .faq {
        &__wrapper {
            margin-top: 50px;
        }
    }

    body {
        padding: 174px 40px 0 40px;
    }
}

@media (max-width: 375px) {
    .faq {
        &__wrapper {
            margin-top: 40px;
        }

        &__title {
            font-size: 30px;
        }
    }

    body {
        padding: 152px 24px 0 24px;
    }
}