include ../src/components/example-button/example-button
include ../src/components/button-state0/button-state0
include ../src/components/button-state2/button-state2
include ../src/components/button-slide-left/button-slide-left
include ../src/components/button-slide-right/button-slide-right
include ../src/components/switch/switch
include ../src/components/reference/reference
include ../src/components/reference-in-text/reference-in-text


mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 2

    body
        block body
