include ../src/components/my-switcher/my-switcher
include ../src/components/my-text/my-text
include ../src/components/my-links/my-links
include ../src/components/my-slider/my-slider
include ../src/components/my-button/my-button
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 2

    body
        block body
