.feedback-form {
  border: 1px solid red;
  width: 1000px;
  height: 300px;
  display: grid;
  grid-template-columns: 30% 1fr;
  opacity: 1;
  transition: opacity 0.3s;
  font-family: "Arial", sans-serif;
  font-style: normal;
}
.feedback-form_submitted .feedback-form__input-label {
  opacity: 0.3;
  transition: opacity 0.3s;
}
.feedback-form_submitted .feedback-form__checkbox-label {
  opacity: 0.3;
  transition: opacity 0.3s;
}
.feedback-form__container {
  display: flex;
  flex-direction: column;
}
.feedback-form__input-container {
  position: relative;
}
.feedback-form__input-label {
  position: relative;
  margin-left: 20px;
  color: var(--main-steel, #909090);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.24px;
}
.feedback-form__input {
  display: flex;
  margin-bottom: 60px;
  padding-left: 20px;
  width: 100%;
  max-width: 836px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #0041A0;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.feedback-form__input-error {
  position: absolute;
  top: 80px;
  opacity: 0;
  min-width: 300px;
  color: #EF1C1C;
  transition: opacity 0.2s;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.feedback-form__input-error_visible {
  opacity: 1;
  transition: opacity 0.3s;
}
.feedback-form__checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  margin-bottom: 30px;
}
.feedback-form__checkbox {
  margin: 0;
  border: 1px solid #BCBCBC;
  width: 16px;
  aspect-ratio: 1/1;
}
.feedback-form__checkbox:checked {
  content: "";
  background-color: #0DB274;
}
.feedback-form__submit-button {
  width: 123px;
  height: 48px;
  border-radius: 25px;
  background-color: #0041A0;
  color: white;
  transition: opacity 0.3s, background-color 0.3s;
}
.feedback-form__submit-button:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}
.feedback-form__submit-button:disabled {
  background-color: #8F8F8F;
  pointer-events: none;
  transition: background-color 0.3s;
}
.feedback-form__submit-button_hidden {
  display: none;
}
.feedback-form__submitted {
  display: none;
  align-items: center;
  gap: 20px;
  width: fit-content;
  height: fit-content;
}
.feedback-form__submitted_ok {
  display: flex;
}
.feedback-form__submitted_ok .feedback-form__submitted-icon-box {
  fill: #27AE60;
}
.feedback-form__submitted_ok .feedback-form__submitted-message {
  color: #111;
}
.feedback-form__submitted_fail {
  display: flex;
}
.feedback-form__submitted_fail .feedback-form__submitted-icon-box {
  background-color: #EF1C1C;
  fill: white;
}
.feedback-form__submitted_fail .feedback-form__submitted-message {
  color: #EF1C1C;
}
.feedback-form__submitted-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  border: 1px solid #DEDEDE;
}
.feedback-form__submitted-icon {
  width: 21px;
  height: 16px;
}

.section {
  font-family: "Arial", sans-serif;
  font-style: normal;
}
.section__title {
  margin-bottom: 35px;
  font-size: 46px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.92px;
  color: var(--blue, #04306A);
}
.section__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section__list-item {
  position: relative;
  padding-left: 25px;
  font-feature-settings: "ss08" on;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  color: var(--Black, #012B34);
}
.section__list-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 0;
  width: 20px;
  border: 1px solid #0DB274;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 130px;
  border: 1px solid red;
  margin: 0 auto;
  padding: 115px 80px 0;
  box-sizing: content-box;
  width: 100%;
  max-width: 1440px;
}

.vacancy-header {
  border: 1px solid red;
  margin-bottom: 144px;
  width: 100%;
  height: fit-content;
  font-family: "Arial", sans-serif;
  font-style: normal;
}
.vacancy-header__title {
  margin: 20px 0 45px;
  color: var(--blue, #04306A);
  font-feature-settings: "ss08" on;
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.28px;
}
.vacancy-header__date {
  margin-left: 10px;
  color: var(--Steel, #8F8F8F);
  font-feature-settings: "ss08" on;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
}
.vacancy-header__data {
  width: fit-content;
  display: flex;
  gap: 35px;
  color: var(--Steel, #8F8F8F);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.32px;
}
.vacancy-header__views {
  min-width: 125px;
}

.example-button {
  display: flex;
  align-items: center;
  color: white;
  transition: color 0.3s, opacity 0.3s;
}
.example-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (hover: hover) {
  .example-button:hover {
    color: black;
  }
  .example-button:hover .example-button__svg {
    fill: white;
  }
}
.example-button__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 25px;
  user-select: none;
  color: black;
}
@media (min-width: 1280px) {
  .example-button__text {
    font-size: 16px;
  }
}
.example-button__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: currentColor;
  border-radius: 50%;
  border: 1px solid rgba(35, 35, 35, 0.5);
}
@media (min-width: 1280px) {
  .example-button__circle {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1920px) {
  .example-button__circle {
    width: 100px;
    height: 100px;
  }
}
.example-button__circle svg {
  width: 14px;
  height: 14px;
  fill: black;
  transition: fill 0.3s;
}
@media (min-width: 1280px) {
  .example-button__circle svg {
    width: 19px;
    height: 18px;
  }
}
@media (min-width: 1920px) {
  .example-button__circle svg {
    width: 24px;
    height: 23px;
  }
}

html {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, p, a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  color: inherit;
}
input:hover, input:active, input:focus {
  outline: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
button:hover, button:active, button:focus {
  outline: none;
}
