include ../src/components/file-field/file-field
include ../src/components/checkbox-field/checkbox-field
include ../src/components/textarea-field/textarea-field
include ../src/components/submit-button/submit-button
include ../src/components/email-field/email-field
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 5

    body
        block body
