include ../src/components/file-input/file-input
include ../src/components/contact-form/contact-form
include ../src/components/textarea/textarea
include ../src/components/input-field/input-field
include ../src/components/checkbox/checkbox
include ../src/components/regular-button/regular-button
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 5

    body
        block body
