include ../src/components/only-btn/only-btn
include ../src/components/only-file-input/only-file-input
include ../src/components/only-agreement/only-agreement
include ../src/components/only-file/only-file
include ../src/components/only-form/only-form
include ../src/components/only-text-area/only-text-area
include ../src/components/only-notify/only-notify
include ../src/components/only-input/only-input
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 5

    body
        block body
