.switch {
  width: 0;
  height: 28px;
  position: relative;
  border-radius: 50px;
}
.switch_disabled .switch__handler:before {
  background-color: #DEDEDE;
  pointer-events: none !important;
  outline: none !important;
}
.switch_disabled .switch__handler:after {
  pointer-events: none;
}
.switch__input {
  position: absolute;
  top: -4px;
  appearance: none;
}
.switch__input:checked + .switch__handler:after {
  left: 34px;
  transition: left 0.2s;
}
@media (max-width: 375px) {
  .switch__input:checked + .switch__handler:after {
    left: 24px;
  }
}
@media (min-width: 768px) {
  .switch__input:focus-visible:not(.switch_disabled):not(:hover) + .switch__handler:before {
    background-color: #DEDEDE;
    outline: 3px solid #C2DAFF;
  }
}
.switch__handler {
  padding-top: 15px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.switch__handler:before {
  content: "";
  position: absolute;
  display: block;
  width: 56px;
  height: 28px;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: var(--extra-cobolt, #0041A0);
  transition: background-color 0.3s;
}
@media (max-width: 375px) {
  .switch__handler:before {
    width: 40px;
    height: 20px;
  }
}
.switch__handler:after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  left: 6px;
  top: 6px;
  transition: left 0.2s;
}
@media (max-width: 375px) {
  .switch__handler:after {
    width: 12px;
    left: 4px;
    top: 4px;
  }
}
@media (hover: hover) and (min-width: 768px) {
  .switch__handler:hover:before {
    background-color: #002F6C;
  }
}

.link-in-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: #0041A0;
  transition: color 0.1s;
}
.link-in-text:hover {
  color: #FF0000;
  transition: color 0.1s;
}
.link-in-text:focus {
  outline: none;
}

.link {
  display: flex;
  gap: 12px;
  width: fit-content;
  outline: none;
  transition: background-color 0.2s;
}
.link_disabled {
  pointer-events: none;
}
.link_disabled .link__text {
  color: #BCBCBC !important;
}
.link__text {
  color: var(--extra-cobolt, #0041A0);
  font-family: "Grtsk Peta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
  transition: color 0.3s;
}
.link__icon {
  width: 24px;
  height: 24px;
  fill: #002F6C;
}
@media (hover: hover) and (min-width: 768px) {
  .link:hover .link__text {
    color: #FF0000;
    transition: color 0.3s;
  }
}
.link:active .link__text {
  color: #BF1D26;
}
@media (min-width: 768px) {
  .link:focus-visible:not(:hover):not(.link_disabled) {
    background-color: rgba(0, 65, 160, 0.1490196078);
    transition: background-color 0.2s;
  }
}
@media (max-width: 768px) {
  .link .link__text {
    font-size: 14px;
  }
}

.section {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: gray;
  border-top: 1px solid lightgray;
}

.slider {
  margin: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 265px;
  height: 80px;
}
.slider__buttons-container {
  display: flex;
  gap: 10px;
  height: 100%;
}
.slider__value {
  color: var(--main-steel, #909090);
  opacity: 0.4;
  font-family: "Grtsk Peta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
@media (max-width: 1280px) {
  .slider {
    width: 209px;
    height: 60px;
  }
}
@media (max-width: 375px) {
  .slider {
    width: fit-content;
  }
  .slider .slider__value {
    display: none;
  }
}

.slider-button {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50px;
  border: 1px solid #DEDEDE;
  outline: transparent;
  transition: background-color 0.3s;
}
.slider-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  fill: #002F6C;
  border-radius: 50px;
}
.slider-button:nth-child(2) .slider-button__icon {
  transform: rotate(180deg);
}
@media (hover: hover) and (min-width: 768px) {
  .slider-button:hover {
    background-color: #F4F4F4;
    border-color: transparent;
  }
}
@media (min-width: 768px) {
  .slider-button:focus-visible:not(:hover) {
    background-color: inherit;
    border: 1px solid #DEDEDE;
    outline: 3px solid #99B3D8;
    transition: outline-color 0.3s;
  }
}
.slider-button:active {
  background-color: #DEDEDE;
  border: none;
  transition: background-color 0.1s;
}
.slider-button:disabled {
  border-color: #DEDEDE !important;
  pointer-events: none;
}
.slider-button:disabled .slider-button__icon {
  fill: #BCBCBC;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 131px;
  height: 50px;
  border: 1px solid var(--extra-grey-1, #BCBCBC);
  border-radius: 25px;
  color: white;
  transition: background-color 0.3s;
}
.button_red {
  background-color: var(--main-red, #F00);
  border: none;
}
.button_red .button__text {
  color: white;
}
.button_red .button__icon {
  fill: white;
}
@media (hover: hover) and (min-width: 768px) {
  .button_red:hover {
    background-color: #BF1D26 !important;
    border: none;
  }
}
.button_red:active {
  background-color: #81080F !important;
}
@media (min-width: 768px) {
  .button_red:focus-visible:not(:hover) {
    background-color: var(--main-red, #F00) !important;
    border: none !important;
    outline: 3px solid #99B3D8;
    transition: outline-color 0.3s;
  }
  .button_red:focus-visible:not(:hover) .button__text {
    color: white !important;
  }
  .button_red:focus-visible:not(:hover) .button__icon {
    fill: white;
  }
}
.button_red:disabled {
  background-color: var(--extra-grey-3, #F4F4F4);
  border: none !important;
}
@media (hover: hover) and (min-width: 768px) {
  .button:hover {
    background-color: var(--extra-cobolt, #0041A0);
    border: none;
  }
  .button:hover .button__icon {
    fill: white;
  }
  .button:hover .button__text {
    color: white;
  }
}
.button:active {
  background-color: var(--main-blue, #002F6C);
  border: none;
  transition: background-color 0.1s;
}
.button:active .button__text {
  color: white;
}
@media (min-width: 768px) {
  .button:focus-visible:not(:hover) {
    background-color: inherit;
    border: 1px solid var(--extra-grey-1, #BCBCBC);
    outline: 3px solid #99B3D8;
    transition: outline-color 0.3s;
  }
  .button:focus-visible:not(:hover) .button__text {
    color: #0041A0;
  }
}
.button:disabled {
  border: 1px solid var(--extra-grey-1, #BCBCBC);
  pointer-events: none;
}
.button:disabled .button__icon {
  fill: #909090;
}
.button:disabled .button__text {
  color: #909090;
}
.button__text {
  color: var(--system-text, #111);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.32px;
}
.button__icon {
  width: 32px;
  aspect-ratio: 1/1;
  fill: #002F6C;
}
@media (max-width: 1280px) {
  .button {
    width: 111px;
    height: 42px;
  }
  .button .button__text {
    font-size: 14px;
  }
  .button__icon {
    width: 24px;
  }
}
@media (max-width: 768px) {
  .button {
    width: 121px;
  }
  .button .button__text {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .button {
    width: 327px;
  }
  .button .button__text {
    font-size: 16px;
  }
}

.example-button {
  display: flex;
  align-items: center;
  color: white;
  transition: color 0.3s, opacity 0.3s;
}
.example-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (hover: hover) {
  .example-button:hover {
    color: black;
  }
  .example-button:hover .example-button__svg {
    fill: white;
  }
}
.example-button__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 25px;
  user-select: none;
  color: black;
}
@media (min-width: 1280px) {
  .example-button__text {
    font-size: 16px;
  }
}
.example-button__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: currentColor;
  border-radius: 50%;
  border: 1px solid rgba(35, 35, 35, 0.5);
}
@media (min-width: 1280px) {
  .example-button__circle {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1920px) {
  .example-button__circle {
    width: 100px;
    height: 100px;
  }
}
.example-button__circle svg {
  width: 14px;
  height: 14px;
  fill: black;
  transition: fill 0.3s;
}
@media (min-width: 1280px) {
  .example-button__circle svg {
    width: 19px;
    height: 18px;
  }
}
@media (min-width: 1920px) {
  .example-button__circle svg {
    width: 24px;
    height: 23px;
  }
}

html {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, p, a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  color: inherit;
}
input:hover, input:active, input:focus {
  outline: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
button:hover, button:active, button:focus {
  outline: none;
}
