include ../src/components/form-response/form-response
include ../src/components/form-button/form-button
include ../src/components/input-checkbox/input-checkbox
include ../src/components/input-text/input-text
include ../src/components/feedback/feedback
include ../src/components/description/description
include ../src/components/title/title
include ../src/components/example-button/example-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 4

    body
        block body
