@import '../src/components/flex-box/flex-box.scss';
@import '../src/components/grid-box/grid-box.scss';
@import '../src/components/title/title.scss';
@import '../src/components/block/block.scss';


html {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}


main> {
    hr {
        margin: 60px 0 !important;
        pointer-events: none !important;
    }
}