include ../src/components/link/link
include ../src/components/switch-button/switch-button
include ../src/components/slider-button/slider-button
include ../src/components/colored-button/colored-button
include ../src/components/border-button/border-button

mixin svg(id)
    svg(focusable = 'false')&attributes(attributes)
        use(xlink:href=`#${id}`)


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 2

    body
        block body
