@font-face {
  font-family: 'Grtsk Peta';
  src: url("../src/assets/fonts/GrtskPeta-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Grtsk Peta';
  src: url("../src/assets/fonts/GrtskPeta-Semibold.woff");
  font-weight: 600;
}