html {
  --white: #fff;
  --black: #111;
  --cobolt: #0041A0;
  --blue: #002F6C;
  --red: #FF0000;
  --dark-red: #BF1D26;
  --dark-red-2: #81080F;
  --grey-1: #BCBCBC;
  --grey: rgb(128, 128, 128);
  --grey-2: #DEDEDE;
  --grey-3: #F4F4F4;
  --steel: #909090;
  --focus-border: #99B3D8;
  --border-color: #99B3D8;
}
 

