mixin example-button(props)
	button.example-button&attributes(attributes)(data-component='example-button')
		span.example-button__text Clicked 0 times
		span.example-button__circle
			+svg('example-svg').example-button__svg