$darkGray: #909090;
$blue: #0041A0;
$gray: #BCBCBC;
$darkBlue: #002F6C;
$red: #FF0000;
$lightGray: #F4F4F4;
$lightRed: #BF1D26;
$darkRed: #81080F;

.example-button__blue {
	font-size: 16px;
	line-height: 16px;
	padding: 15px 18px;
	width: 134px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
	border: 1px solid $gray;
	border-radius: 25px;
	transition:  background-color 0.3s;
	svg {
		width: 32px;
		height: 32px;
		fill: $darkBlue;
	}
	&:disabled {
		pointer-events: none;
		color: $darkGray;
		svg {
			fill: $darkGray;
		}
	}
	&:hover {
		background-color: $blue;
		color: white;
		svg {
			fill: white;
		}
		&:focus {
			color: white;
		}
	}
	&:active {
		background-color: $darkBlue;
		color: white;
	}
	&:focus {
		border: 3px solid #99B3D8;
		color: $blue;
	}
}
.example-button__red {
	font-size: 16px;
	line-height: 16px;
	padding: 15px 18px;
	width: 134px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
	border: 1px solid $gray;
	border-radius: 25px;
	background-color: $red;
	color: white;
	transition:  background-color 0.3s;
	svg {
		width: 32px;
		height: 32px;
		fill: white;
	}
	&:disabled {
		pointer-events: none;
		background-color: $lightGray;
		color: $darkGray;
		svg {
			fill: $darkGray;
		}
	}
	&:hover {
		background-color: $lightRed;
	}
	&:active {
		background-color: $darkRed;
	}
	&:focus {
		border: 3px solid #99B3D8;
	}
}
@media (max-width: 1280px) {
	.example-button__blue {
		font-size: 14px;
		line-height: 14px;
		padding: 12px 16px;
		width: 110px;
		height: 40px;
		gap: 12px;
		border-radius: 25px;
	}
	.example-button__red {
		font-size: 14px;
		line-height: 14px;
		padding: 12px 16px;
		width: 110px;
		height: 40px;
		gap: 12px;
		border-radius: 25px;
	}
}
@media (max-width: 768px) {
	.example-button__blue {
		padding: 12px 18px;
		width: 120px;
		height: 40px;
		gap: 14px;
		border-radius: 25px;
		svg {
			width: 24px;
			height: 26px;
			fill: $darkBlue;
		}
	}
	.example-button__red {
		padding: 12px 18px;
		width: 120px;
		height: 40px;
		gap: 14px;
		border-radius: 25px;
		svg {
			width: 24px;
			height: 26px;
		}
	}
}
@media (max-width: 375px) {
	.example-button__blue {
		padding: 12px 120px;
		width: 327px;
		height: 40px;
		gap: 12px;
		border-radius: 25px;
		svg {
			width: 24px;
			height: 24px;
			fill: $darkBlue;
		}
	}
	.example-button__red {
		padding: 12px 120px;
		width: 327px;
		height: 40px;
		gap: 12px;
		border-radius: 25px;
		svg {
			width: 24px;
			height: 24px;
		}
	}
}
