mixin example-button(props)
	button(class=`example-button__${props.color}`)&attributes(attributes)
		span(class=`example-button__${props.color}__text`)!= props.text
		+svg('arrowButton').example-button__svg