.link-group {
	$root: &;

	width: fit-content;

	color: #0041A0;
	font-family: Grtsk Peta;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; 
	letter-spacing: -0.32px;

	transition: all 0.5s;

	&:hover {
		color: #F00;
	}

	&:active {
		color: #BF1D26;
	}

	&__anchor:focus {
		background-color: #0041A026;
		outline: none;

		transition: all 0.5s;
	}

	.disabled {
		cursor: default;
		color: #BCBCBC;
		pointer-events: none;
	}

	a {
		width: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	svg {
		width: 24px;
		height: 24px;
	}
}