.switcher-button {
	$root: &;
	width: 62px;
	height: 34px;
	position: relative;
	margin-bottom: 20px;
	@media screen and (max-width: 375px) {
		width: 40px;
		height: 20px;
	}
	&.disabled {
		pointer-events: none;
		#{$root}__slider {
			background-color: #DEDEDE;
			&:before {
				transform: translateX(-26px);
				bottom: 6px;
				@media screen and (max-width: 375px) {
					transform: translateX(-20px);
					bottom: 4px;
				}
			}
		}
	}

	& input {
		display: none;
		&:hover {
			@media screen and (min-width: 769px) {
				& + #{$root}__slider {
					background-color: #002F6C;
					transition: .5s;
				}
			}
		}
		&:checked {
			@media screen and (min-width: 769px) {
				& + #{$root}__slider {
					border-color: #C2DAFF;
					transition: .5s;
				}
			}
			& + #{$root}__slider {
				background-color: #DEDEDE;
				transition: .5s;
				&:before {
					transform: translateX(-26px);
					transition: .5s;
					@media screen and (max-width: 375px) {
						transform: translateX(-20px);
					}
				}
			}
		}
	}
	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #0041A0;
		transition: .5s;
		border-radius: 24px;
		border: 3px solid #ffffff;
		@media screen and (max-width: 375px) {
			border: none;
		}
		&:before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			right: 6px;
			bottom: 6px;
			background-color: #ffffff;
			transition: .5s;
			border-radius: 50%;
			@media screen and (max-width: 375px) {
				height: 12px;
				width: 12px;
				right: 4px;
				bottom: 4px;
			}
		}
	}
}