mixin only-point(props)
	.only-point&attributes(attributes)(data-component='only-point')
		.only-point__icon 
			include ../../assets/icons/dash.svg
		span.only-point__text(class='only-point_color-main')!=props.text