$main-blue: #0041a0;
$dark-blue: #002f6c;
$light-blue: #c2daff;
$white: #fff;
$grey: #dedede;

.switch {
	$root: &;

	display: inline-block;
	position: relative;
	margin: 15px;
	width: 56px;
	height: 28px;
	background-color: $main-blue;
	border-radius: 14px;
	cursor: pointer;
	transition: 0.3s;

	&__input {
		margin: 0;
		width: 0;
	}

	&__control {
		position: relative;
	}

	&__control::before {
		position: absolute;
		content: '';
		width: 16px;
		height: 16px;
		left: 31px;
		bottom: -4px;
		background-color: $white;
		border-radius: 50%;
		transition: 0.3s;
	}

	&:hover {
		background-color: $dark-blue;
	}

	&:focus {
		background-color: $grey;
		outline: 3px solid $light-blue;
		#{$root}__control::before {
			left: 8px;
		}
	}

	&[disabled] {
		background-color: $grey;
		pointer-events: none;
		#{$root}__control::before {
			left: 8px;
		}
	}

	@media (max-width: 375px) {
		width: 40px;
		height: 20px;
		#{$root}__control::before {
			width: 12px;
			height: 12px;
			bottom: 2px;
			left: 23px;
		}
		&:focus {
			#{$root}__control::before {
				left: 5px;
			}
		}
	}
}
