@import '/src/pages/style.scss';
.switch {
	$root: &;

	opacity: 0;
	width: 0;
	height: 0;

	&__span {

		cursor: pointer;
		
		position: absolute;

		width: 56px;
		height: 28px;

		background-color: #dedede;

		border-radius: 14px;

		transition: background-color 0.5s, outline 0.5s;
	
		&:hover {
			background-color: $darkBlue;
		}

		&::after {
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 16px;
	
			position: absolute;
	
			left: 6px;
			top: 6px;
	
			background-color: #fff; 
			transition: transform 0.5s;

			@media (max-width: 375px) {
				width: 12px;
				height: 12px;

				left: 4px;
				top: 4px;
			}


		}

		&:focus {
			outline: 3px solid #C2DAFF;
			background-color: #dedede;
		}

		@media (max-width: 375px) {
			width: 40px;
			height: 20px;
		}
	}

	&:checked {
		+ #{$root}__span {
			
			background-color: $blue;

			&::after {
				transform: translateX(28px);

				@media (max-width: 375px) {
					transform: translateX(20px);
				}
			}

			&:hover {
				background-color: $darkBlue;
			}

			&:focus {
				outline: 3px solid #C2DAFF;
				background-color: #dedede;
			}

		}
	}

}

