$blue: #0041A0;
$darkBlue: #002F6C;
$gray: #DEDEDE;

.switch {
	width: 56px;
	height: 28px;
	border-radius: 14px;
	background-color: $blue;
	position: relative;
	transition: background-color 0.3s;
	&:hover {
		background-color: $darkBlue;
	}
	&:focus {
		outline: 3px solid #C2DAFF;
		background-color: $gray;
		svg {
			top: 6px;
			right: 6px;
			bottom: 9px;
		}
	}
}
.switch-svg {
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	width: 16px;
	height: 16px;
}
.switch[disabled] {
	background-color: $gray;
	pointer-events: none;
}
@media (max-width: 375px) {
	.switch {
		width: 40px;
		height: 20px;
	}
	.switch-svg {
		position: absolute;
		top: 4px;
		right: 4px;
		bottom: 4px;
		width: 12px;
		height: 12px;
	}
}
