mixin switch(props)
    .conteiner-switch
        input.conteiner-switch__switch&attributes(attributes)(type='checkbox' name='switch' id=props.id)
        label.conteiner-switch__label(for=props.id)
    
    