include ./input-mail-ct/input-mail-ct
include ./input-fyle/input-fyle
include ./textarea/textarea
include ./conf-checkbox/conf-checkbox
include ./button/button

mixin form(props)
    .form&attributes(attributes)
        +input-mail-ct
        +textarea
        +input-fyle
        +conf-checkbox
        +button