include ./input-mail-ct/input-mail-ct
include ./input-file-ct/input-file-ct
include ./textarea-ct/textarea-ct
include ./conf-checkbox-ct/conf-checkbox-ct
include ./button/button

mixin form(props)
    form.form&attributes(attributes)(data-component="form" method="POST" action="/form")
        +input-mail-ct.form__input-mail-ct
        +textarea-ct.form__textarea-ct
        +input-file-ct.form__input-file-ct
        +conf-checkbox-ct.form__conf-checkbox-ct
        +button.form__button
        span.form__alert