include ./input-mail-ct/input-mail-ct
include ./input-fyle-ct/input-fyle-ct
include ./textarea-ct/textarea-ct
include ./conf-checkbox-ct/conf-checkbox-ct
include ./button/button

mixin form(props)
    .form&attributes(attributes)
        +input-mail-ct
        +textarea-ct
        +input-fyle-ct
        +conf-checkbox-ct
        +button