mixin link-3(props)
	button.link-3&attributes(attributes)(class="link-3_hover link-3_active link-3_focus link-3_disabled" )
		span.link-3__text="Sustainalytics.com"
		+svg("link-3-svg")(class="link-3__icon")