.link-3 {
	$root: &;
	width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	&__text {
		color: #0041A0;
		font-size: 24px;
		transition: .4s ease all;

		&::selection {
			background-color: #0041A026;
		}
	}

	&__icon {
		width: 28px;
		height: 28px;
		transition: .4s ease all;
	}

	&:hover {
		.link-3__text {
			color: #FF0000;
		}
	}

	&:active {
		.link-3__text {
			color: #BF1D26;
		}
	}

	&_disabled{
		pointer-events: none;
		.link-3__text{
			color:#BCBCBC;
			user-select: none;
		}
	}
	@media only screen and (max-width:768px){
		width: 185px;
		&__text{
			font-size: 18px;
		}
		&__icon{
			width:24px;
			height:24px;
		}
	}
}