@import "../../styles/variables.scss";

.only-loader {
	$root: &;

	width : $l-size;
    height: $l-size;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
	top: 50%;
	left: 50%;
    border: 2px solid $light-blue;
    animation: rotation 1s linear infinite;
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      border: 2px solid $red;
      width:  calc($l-size/4);
      height:  calc($l-size/4);
      border-radius: 50%;
    }

	&_hide{
		display: none;
	}
	
	@keyframes rotation {
		0% { transform: rotate(0deg) }
		100% { transform: rotate(360deg) }
	  }
}