mixin email-input(props)
	.email-input&attributes(attributes)(data-component='email-input')
		input(id="email").email-input__field
		label(for="email").email-input__label= props.label
		+svg('check-mark').email-input__check-mark
		span.email-input__error-message