//color palette
$cobolt: #0041A0;
$main-blue: #002F6C;
$midnight: #021F45;
$day-blue: #8EB2EC;
$black: #111;
$extra-gray-1: #BCBCBC;
$extra-gray-2: #DEDEDE;
$extra-gray-3: #F4F4F4;
$steel: #909090;
$main-red: #F00;

//bassic styles
@mixin error {
	width: 100%;
	height: 18px;
	color: $main-red;
	font-family: Arial;
	padding-left: 20px;
}
.confirm {
	display: flex;
	align-items: center;
	height: 21px;
	width: 100%;
	margin: 30px 0;
	&__label {
		font-family: Arial;
		color: $black;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 21px */
		margin-left: 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		position: relative;
		.confirm__svg {
			display: none;
		}
		.confirm-input {
			width: 16px;
			height: 16px;
			border: 1px $extra-gray-1 solid;
			margin: 0 18px 0 0;
			transition: box-shadow 0.3s ease;
		}
		
		.confirm-input:focus,
		.confirm-input:focus-visible {
			outline: none;
			box-shadow: 0 0 0 3px $day-blue;
		}
		.confirm-input:hover {
			border: 1px $cobolt solid;
		}
		.confirm-input:checked {
			border: none;
		}
		.confirm-input:checked + .confirm__svg {
				display: initial;
				width: 16px;
				height: 16px;
				position: absolute;
			}
		.confirm-input:disabled {
			border: 1px $extra-gray-1 solid;
		}
		.confirm-input:checked:disabled {
			border: none;
		}
		.confirm-input:disabled + .confirm__svg {
			opacity: 0.5;
			box-shadow: none;
		}
		a {
			color: $main-blue;
		}
	}
	
	.confirm__label.disabled {
		color: $extra-gray-1;
		a {
			color: $day-blue;
		}
	}
}