mixin confirm(props)
	.confirm&attributes(attributes)(data-component='confirm')
		label(for="confirm").confirm__label
					input(type="checkbox" id="confirm" name="confirm" required value='').confirm-input
					+svg('check-mark').confirm__svg
					| Вы подтверждаете, что ознакомились c&nbsp;  
					a(href='/#')  политикой обработки персональных данных 