$white: #fff;
$black: #111;

$light-grey: #F4F4F4;
$grey: #BCBCBC;
$dark-grey: #909090;

$light-blue: #99B3D8;
$blue: #0041A0;
$dark-blue: #021F45;

$fill-svg: #002F6C;


$tablet: 768px;
$mobile: 480px;

.btn-file {
  $root: &;
  
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;

  &__wrapper {
	position: relative;
	display: flex;
	align-items: center;
  
	@media (max-width: $mobile) {
	  flex-direction: column;
	}
  }

  &__label {
	flex-shrink: 0;

    position: relative;

    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    color: $dark-blue;
    letter-spacing: -0.3px;

    border-radius: 25px;
    padding: 14px 16px;
    border: 1px solid $grey;
    cursor: pointer;

    display: inline-flex;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      margin-left: 16px;
      width: 14px;
      height: 14px;

      fill: $fill-svg;

      transition: fill 0.3s ease-in-out;
    }
    
	&:active {
        background-color: $dark-blue;
        color: $white;
        border-color: $dark-blue;

        svg {
          fill: $white;
        }
    }

	&.disabled {
		transition: none;

		pointer-events: none;
		color: $dark-grey;

		svg {
			transition: none;
			fill: $dark-grey;
		}
	}
	&.disabled > input {
		pointer-events: none;
	}

    @media (min-width: $tablet) {
		&:focus {
			outline: 3px solid $light-blue;
		}
		
		&:hover {
			color: $white;
			background-color: $blue;
			border-color: $blue;
			
			svg {
				fill: $white;
			}
		}

		&:active {
			background-color: $dark-blue;
			color: $white;
			border-color: $dark-blue;

			svg {
			fill: $white;
			}
		}
    }

    @media (max-width: $mobile) {

		margin-bottom: 10px;

		svg {
			margin-right: 12px;
		}
    }
  }
}

.file-list {
  margin-left: 32px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
 
  gap:5px;

  @media (max-width: $mobile) {
	justify-content: center;
	margin-left: 0;
	
  }

	&__item {
		flex-shrink: 0;

		padding: 10px 33px 10px 18px;
		background-color: $light-grey;
		border-radius: 27px;

		display: inline-flex;
		align-items: center;



		color: $black;
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 124%; 
		letter-spacing: -0.3px;


		position: relative;

		cursor: pointer;


		span {
			color: $dark-grey;
		}

		&::before,
		&::after {
			content: "";
			width: 16px;
			height: 1px;
			background-color: $dark-blue;
			position: absolute;
			right: 13px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}