.only-checkagreement {
	$root: &;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 11px;

	&__checkbox{
		margin-right: 18px;
		appearance:auto;
	}

	&__text{

		@include fontSettings(0px,$add-mini-m,150%);

	}

	&__link{

		@include fontSettings(0px,$add-mini-m,150%);

		&:hover{
			color:$light-blue;
		}
		&:visited{
			color:$red;
		}

	}

	&_color-main{

		color:$grey;

	}

	&_color-addictive{

		color:$blue;

	}

	//Your code here
}