.only-checkagreement {
	$root: &;
	display: flex;
	align-items: center;

	&__checkbox{
		padding-right: 18px;
		appearance:auto;
	}

	&__text{


	}

	&__link{

		
	}

	&_color-main{


	}

	&_color-addictive{


	}

	//Your code here
}