.HeadBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 20px;

  &__title {
    color: #213c57;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
    letter-spacing: 0.25px;
  }
}
