@import '../styles/roots.scss';
@import '../styles/ytilitys/visibilityNone.scss';

.vector-button {
	$root: &;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7.2px 0 7.2px 17.35px;
	margin: 25px 0 25px 25px;
	border-radius: 25px;
	border: 1px solid $extra-grey-1;
	font-size: 16px;
	font-family: 'Arial';
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.32px;
	color: $Black;

	&::after {
		position: absolute;
		content: '';
		top: 50%;
		left: 40%;
		width: 30px;
		height: 1px;
		background-color: $main-steel;
		display: none;
	}

	@media (max-width: 376px) {
		padding-left: 30%;
		padding-right: 29.55%;
		margin: 0 auto;
		margin-bottom: 50px;
	}



	@media (max-width: 1280px) and (min-width: 768px) {
		font-size: 14px;
		letter-spacing: -0.28px;
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
		color: $main-steel;

		svg {
			fill: $main-steel;
		}
	}

	svg {
		width: 32px;
		height: 32px;
		margin: 0 14px;
		fill: $main-blue;

		@media (max-width: 1280px) and (min-width: 100px) {
			width: 24px;
			height: 24px;
		}
	}

	&:hover {
		color: $main-white;
		background-color: $extra-cobolt;
		transition: color 0.3s ease-in-out;
		transition: background-color 0.4s, opacity 0.3s;
		border: 1px solid $extra-cobolt;

		svg {
			fill: white;
			transition: fill 0.3s;
		}

	}


	&:active {
		background-color: $main-blue;
		color: $main-white;
		transition: color 0.3s, opacity 0.3s;
		transition: background-color 0.4s;

		svg {
			fill: white;
		}
	}

	&:focus-visible {
		color: $extra-cobolt;
		transition: color 0.3s, opacity 0.3s;
		border: 3px solid $extra-grey-1;
		transition: border 0.3s opacity 0.3s;

		svg {
			fill: $extra-cobolt;
			transition: fill 0.3s ease-in-out;
		}
	}

	@include visibilityNone()
}




.vector-button_red {
	border: 1px solid $main-red;
	color: $main-white;
	background-color: $main-red;

	&:disabled {
		background-color: $extra-grey;
		border: 1px solid $extra-grey;
	}

	svg {
		fill: white;
	}

	&:hover {
		border: 1px solid $hover-red;
		color: $main-white;
		background-color: $hover-red;

		svg {
			fill: white;
		}
	}

	&:active {
		background-color: $active-red;
		color: $main-white;
		border: 1px solid $active-red;
	}

	&:focus-visible {
		color: $main-white;
		border: 3px solid $focus-border;

		svg {
			fill: white;
		}
	}
	@include visibilityNone()
}