$white: #ffffff;
$smoky-white: #f3f6f9;
$light-gray: #d9e1ec;
$light-gray2: #e7eaee;
$pale-blue: #e3edf7;
$azure: #007fff;
$navy-blue: #213c57;
$dark: rgba(22, 31, 62, 0.9);
$opacity-blue: rgba(33, 60, 87, 0.4);
$opacity-gray: rgba(22, 31, 62, 0.3);
