
$extra-cobolt: #0041A0;
$main-blue: #002F6C;

$main-white: #FFFFFF;
$text-color: #111111;

$focus-color: #99B3D8;
$bg-focus: rgba(0, 65, 160, 0.15);
$main-steel: #909090;

$main-red: #FF0000;
$dark-red:  #BF1D26;
$maroon:  #81080F;


$extra-grey: #DEDEDE;
$extra-grey1: #BCBCBC;
$extra-grey2: #F4F4F4;

$border-color: #C2DAFF;


