$light-blue1: #D9E1EC;
$light-blue2: #E3EDF7;
$light-blue3: #F3F6F9;

$light-gray1: #E7EAEE;
$light-gray2: #161F3E4D;
$light-gray3: rgba(33, 60, 87, 0.40);

$blue1: #213C57;
$blue2: #007FFF;
$blue3: rgba(22, 31, 62, 0.90);

$white: #FFFFFF;