.main {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(170px, 290px) minmax(300px, 1fr);
  grid-template-rows: 80px 1fr;
}
.logoContainer {
  border-right: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
  padding-top: 29px;
  padding-left: 45px;
}
.container {
  border-bottom: 1px solid var(--dark-grey);
}
.aside {
  border-right: 1px solid var(--dark-grey);
  padding: 40px 25px;
}
.taskContainer {
  background-color: var(--light-grey);
}
