.container{
    display: grid;
    grid-template-columns: auto 290px minmax(320px, 1200px) auto;
    grid-template-areas:
    ". header header ."
    ". sidebar main .";
}
.header{
    grid-area: header;
    min-height: 80px;
    border-bottom: 1px solid #D9E1EC;

    .logoWrapper{
        width: 290px;
        height: 100%;
        padding: 30px 115px 0 45px;
        border-right: 1px solid #D9E1EC;

        img{
            width: 127px;
            height: 27px;
        }
    }
}

.sidebar{
    grid-area: sidebar;
    padding: 40px 25px;
    border-right: 1px solid #D9E1EC;

    &Item{
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 16px 0 16px 18px;
        border-radius: 10px;
        background: #E3EDF7;
        color: #007FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Roboto;
        font-size: 16px;
    }
}

.main {
    grid-area: main;
    background: #F3F6F9;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    min-height: 100vh;
    .wrapperTitle{
        display: flex;
        justify-content: space-between;

        h1{
            color: #213C57;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 38px;
        }
    }

}