$color-medium-transition:color 0.4s;
$color-fast-transition:color 0.2s;

$opacity-medium-transition:opacity 0.4s;
$opacity-fast-transition:opacity 0.2s;

$background-color-medium-transition:background-color 0.4s;
$background-color-fast-transition:background-color 0.2s; 

$border-color-medium-transition:border-color 0.4s;
$border-color-fast-transition:border-color 0.2s;

$border-width-medium-transition:border-width 0.4s;
$border-width-fast-transition:border-width 0.2s; 

$fill-medium-transition:fill 0.4s;
$fill-fast-transition:fill 0.2s;

$outline-color-fast-transition:outline-color 0.3s;
$outline-color-medium-transition:outline-color 0.4s linear;

$transform-fast-transition:transform 0.2s; 