$dark-blue:#012B34;
$blue:#114C9A;
$black:#000402;
$grey:#E6E6E6;

$font-family-main:'Roboto';
$font-weight-main:400;
$letter-spacing:0.02em;

$xl-size:64px;
$l-size:48px;
$m-size:42px;
$s-size:30px;
$xs-size:27px;
$xxs-size:24px;

$transition-color:color 0.3s;
$transition-slider: max-height 0.3s linear,
                    padding-bottom 0.3s ease-in;
$transition-rotate:transform 0.4s;






