$Blue-color:#002F6C;
$LightBlue-color:#0041A0;
$SoftBlue-color:#99B3D8;
$Red-color:#FF0000;
$SoftRed-color:#BF1D26;
$DarkRed-color:#81080F;
$Black-color: #111111;
$White-color: #FFFFFF;
$DarkGrey-color:#909090;
$Grey-color:#BCBCBC;
$LightGrey-color:#DEDEDE;
$SoftLightGrey-color:#F4F4F4F4;

$main-font-family:"Arial";
$main-font-weight:400;
$main-font-size:16px;

$disabled-1-color:$Grey-color;
$disabled-2-color:$DarkGrey-color;
$disabled-3-color:$LightGrey-color;

$focus-color:$SoftBlue-color;

$background-color-main:$White-color;
$background-color-disabled-main:$White-color;
$background-color-hover-main:$LightBlue-color;
$background-color-click-main:$Blue-color;

$background-color-alt:$Red-color;
$background-color-disabled-alt:$disabled-3-color;
$background-color-hover-alt:$SoftRed-color;
$background-color-click-alt:$DarkRed-color;

$background-color-focus:$focus-color;

$background-color-switcher:$LightBlue-color;
$background-color-hover-switcher:$Blue-color;
$background-color-circle:$White-color;

$background-color-hover-slider:$SoftLightGrey-color;
$background-color-click-slider:$disabled-3-color;

$text-color-main:$Black-color;
$text-color-hover-main:$White-color;
$text-color-focus-main:$LightBlue-color;
$text-color-click-main:$White-color;
$text-color-disabled-main:$disabled-2-color;

$text-color-alt:$White-color;
$text-color-hover-alt:$White-color;
$text-color-disabled-alt:$disabled-2-color;

$text-color-link:$LightBlue-color;
$text-color-hover-link:$Red-color;
$text-color-click-link:$DarkRed-color;
$text-color-focus-link:$Blue-color;
$text-color-disabled-link:$disabled-1-color;

$arrow-color-main:$Blue-color;
$arrow-color-hover-main:$White-color;
$arrow-color-focus-main:$LightBlue-color;
$arrow-color-click-main:$White-color;
$arrow-color-disabled-main:$disabled-2-color;

$arrow-color-alt:$White-color;
$arrow-color-hover-alt:$White-color;
$arrow-color-focus-alt:$LightBlue-color;
$arrow-color-disabled-alt:$disabled-2-color;

$icon-color-link:$Blue-color;

$icon-color-cursor:$Blue-color;

$border-color-main:$disabled-1-color;
$border-color-disabled-main:$disabled-1-color;

$border-color-alt:$White-color;
$border-color-disabled-alt:$SoftLightGrey-color;

$border-color-slider:$disabled-3-color;
$border-color-hover-slider:$SoftLightGrey-color;

$border-color-focus:$focus-color;

