html {
    --white: #fff;
    --light: #e7eaee;
    --blue: #007fff;
    --title-color: rgba(22, 31, 62, 0.9);
    --completed-title: rgba(22, 31, 62, 0.3);
    --grayish-blue: #f3f6f9;
    --placeholder-color: rgba(33, 60, 87, 0.4);
    --dark-blue: #213c57;
    --light-blue: #d9e1ec;
}