.only-error {
	$root: &;
	visibility: inherit;
	height: 21px;

	&__text{

		@include fontSettings(0px,$add-mini-m,150%);

	}

	&_color-main{
		color:$light-red;
	}

	&_hidden{
		visibility: hidden;
	}
	
}