$colorCobolt: #0041A0;
$colorBlue: #002F6C;
$colorWhite: #FFFFFF;
$colorBlack: #111111;
$colorExtraGray: #BCBCBC;
$colorSteel: #909090;
$colorLightBlue: #99B3D8;

.button-with-outline {
	$root: &;
	
	display: flex;
	width: 138px;
	height: 48px;
	align-items: center;
	justify-content: center;
	padding: 0 14px 0 18px;
	column-gap: 14px;
	border-radius: 24px;
	border: 1px solid $colorExtraGray;
	margin: 10px;
	transition: 
		border .3s ease-in-out,
		color .3s ease-in-out,
		background-color .3s ease-in-out,
		width .3s ease-in-out;

	&__text {
		font-family: 'Grtsk Peta';
		font-size: 16px;

		@media screen and (max-width: 1280px) and (min-width: 768px) {
			font-size: 14px;
		}
	}

	&__circle {
		display: flex;
		
		& path {
			width: 32px;
			height: 32px;
			transition: fill .3s ease-in-out;
		}
	}

	&:active {
		color: $colorWhite;
		background-color: $colorBlue;
		border-color: $colorBlue;
		
		#{$root}__circle path {
			fill: $colorWhite;
		}
	}
	
	&:disabled {
		color: $colorSteel;
		background-color: $colorWhite;
		border-color: $colorExtraGray;
		pointer-events: none;

		#{$root}__circle path {
			fill: $colorSteel;
		}
	}
	
	@media screen and (min-width: 1280px) {
		&:hover {
			color: $colorWhite;
			background-color: $colorCobolt;
			border-color: $colorCobolt;
	
			#{$root}__circle path {
				fill: $colorWhite;
			}
		}
		&:focus {
			color: $colorCobolt;
			background-color: $colorWhite;
			border: 3px solid $colorLightBlue;
			
			#{$root}__circle path {
				fill: $colorCobolt;
			}
		}
	}

	@media screen and (max-width: 1280px) {
		width: 119px;
		height: 42px;
		padding: 0 14px 0 16px;
		column-gap: 12px;
		
		#{$root}__circle path {
			width: 24px;
			height: 24px;
		}
	}
	
	@media screen and (max-width: 768px) {
		width: 130px;
		height: 42px;
		padding: 0 14px 0 18px;
		column-gap: 14px;
	}

	@media screen and (max-width: 375px) {
		display: flex;
		width: 327px;
		height: 42px;
		align-items: center;
		padding: 0 14px;
		column-gap: 12px;
		flex: 1 0 0;
	}
}