mixin icon(color)
    .container-for-arrow         
        svg(width="66" height="36" viewBox="0 0 66 36" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(
                id="Vector" 
                d="M58.6342 19.4L0.27771 19.4L0.27771 16.6L58.6342 16.6L58.6342 19.4ZM36.7643 36L35.1157 33.6L61.8762 20L61.8762 16L35.1157 2.4L36.7643 0L65.1182 14.4V21.6L36.7643 36Z" 
                fill=color
                )