mixin title(props)
	.title&attributes(attributes)(data-component='title')
		p.title__date 18 декабря 2020
		h1.title__text Консультант SAP PO
		p.title__vacancy-data.title__vacancy-data--loading
			span.title__views Просмотров: 
				span.title__views-data
			span.title__responses Откликов: 
				span.title__responses-data