mixin title(props)
	.title&attributes(attributes)(data-component='title')
		//Your code here
		.title__data 18 декабря 2020
		.title__header Консультант SAP PO
		.title__container 
			span.title__container__text Просмотров:
				span.title__container__text__views
			span.title__container__text Откликов:
				span.title__container__text__responses