mixin main(props)
	main.main&attributes(attributes)(data-component='main')
		section.main__requirements
			h2.main__requirements-title Вам предстоит
			ul.main__requirements-list
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Участие в проектах в роли архитектора/консультанта по интеграции данных
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Разработка и поддержка интеграционных сценариев
		section.main__requirements
			h2.main__requirements-title Мы ожидаем
			ul.main__requirements-list
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Опыт разработки технических заданий и постановок задач
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Опыт описания бизнес-процессов в нотациях BPMN и UML
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Опыт формирования требований к информационным системам
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Опыт составления проектной документации по ГОСТ
		section.main__requirements
			h2.main__requirements-title Мы предлагаем
			ul.main__requirements-list
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Оформление в соответствии с нормами ТК РФ, социальные гарантии
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Крупные проекты в компании–лидере отрасли
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Полис ДМС (включая стоматологию)
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Доступ к корпоративной OnLine библиотеке
				li.main__requirements-item
					+svg('line').main__requirements-item__svg
					p.main__requirements-item__text Обучение в программах Корпоративного университета
