.link {
  color: #0041A0;
  gap: 12px;
  width: 183px;
  height: 24px;
}

.link.separate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #002F6C;
}

.link:hover {
  color: #FF0000;
}

.link:active {
  color: #BF1D26;
}

.link:focus {
  color: #0041A0;
  background: rgba(0, 65, 160, 0.15);
}

.link.disabled {
  pointer-events: none;
  color: #BCBCBC;
  background: #FFFFFF;
}

.links-in-text.disabled {
  display: none;
}
