mixin links(props)
	a.links&attributes(attributes)
		//Your code here
		p.links__text Sustainalytics.com
		+svg('Union').links__union

	a.links.disabled&attributes(attributes)
		//Your code here
		p.links__text Sustainalytics.com
		+svg('Union').links__union