.product-card {
  position: relative;
  min-width: 564px;
  height: 100%;
  background: #F4F4F4;
}
.product-card_background-color_dark {
  background: var(--blue, #04306A);
}
.product-card__title {
  font-size: 20px;
  color: green;
}
.product-card__button-view {
  content: "sds";
  position: absolute;
  display: block;
  bottom: 30px;
  right: 30px;
}
