@import "../../../../scssVariebles/color-varievles.scss";

.input-mail-ct {
    width: 100%;
    position: relative;

    &__name {
        content: "E-mail";
        font-size: 12px;
        position: absolute;
        bottom: 100%;
        left: 20px;
        color: #DEDEDE;
        opacity: 0;
        transition: 0.5s ease opacity;

        &-active {
            opacity: 1;
        }
    }

    &__icon {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        display: none;
    }

    &__alert-text {
        position: absolute;
        left: 20px;
        top: calc(100% + 4px);
        font-size: 14px;
        color: $red;
        opacity: 0;
        transform: 0.5s ease opacity;
    }


    &_alert-active {
        .input-mail-ct {
            &__input {
                border-color: $red;
                border-radius: 29px;
                background-color: #fff;
            }

            &__alert-text {
                opacity: 1;
            }
        }
    }

    &_succses {
        .input-mail-ct {
            &__input {
                border-color: #F4F4F4;
                background-color: #F4F4F4;
                border-radius: 29px;
            }

            &__icon {
                display: block;
            }
        }
    }

    &__input {
        border: 1px solid;
        border-color: transparent transparent #DEDEDE transparent;
        transition: 0.8s ease background-color, 0.8s ease border-radius;
        width: 100%;
        padding: 13px 20px;

        &::placeholder {
            color: black;
            transition: 0.4s ease color;
        }

        &:hover {
            border-color: #F4F4F4;
            background-color: #F4F4F4;
            border-radius: 29px;
        }

        &:focus {

            &::placeholder {
                color: white;
            }

            border-radius: 29px;
            background-color: white;
            border-color: $blue;

            &__name {
                opacity: 1;
            }
        }
        &:disabled::placeholder{
            color: #DEDEDE;
        }
    }
}