mixin input-mail-ct(props)
    .input-mail-ct&attributes(attributes)(data-component="input-mail-ct")   
        span.input-mail-ct__name="E-mail"
        input.input-mail-ct__input(type="email" placeholder="E-mail")
        +svg("input-confirm-svg")(class="input-mail-ct__icon")
        span.input-mail-ct__alert-text="Сообщение ошибки"