mixin row(title, content, number)
    .spoiler__row 
        .spoiler__row__title=title           
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fill="none" class='spoiler__row__svg' data-row=number) 
            path(d="M15.0702 15.0508L8.0039 7.97555L15.0703 0.900234" stroke="#114C9A" stroke-width="2")
            path(d="M0.937378 0.898438L8.00366 7.97366L0.937297 15.049" stroke="#114C9A" stroke-width="2")
        .spoiler__row__cotent=content
        