.normal-button {
	$root: &;

	//Your code here
	
		display: flex;
		align-items: center;
		transition: color 0.3s, opacity 0.3s;
		margin-top: 30px;
		margin-left: 20px;
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 30px;
		border: 1px solid #BCBCBC;
		
	
		&:disabled {
			opacity: 0.6;
			pointer-events: none;
			fill:#909090;

			#{$root}__svg {
				fill: #909090;
			}

		}
		
		&:hover {
			color: #FFF;
			background-color: #0041A0;
			border-color: #0041A0;

			#{$root}__svg {
				fill: #FFF;
			}
		}

		&:focus:not(:hover) {
			color: #0041A0;
			border: 3px solid #99B3D8;

			#{$root}__svg {
				fill: #0041A0;
			}
		}

		&:active {
			color: #FFF;
			background-color: #002F6C;
			border-color: #002F6C;
	
			#{$root}__svg {
				fill: #FFF;
			}
		}

	
		&__text {
			font-size: 16px;
			margin-right: 5px;
			user-select: none;	
		}
	
		&__block {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 150px;
			height: 50px;			
			

			@media (min-width: 375px) {
				width: 327px;
				height: 45px;
			}

			@media (min-width: 768px) {
				width: 145px;
				height: 45px;
			}

			@media (min-width: 1280px) {
				width: 140px;
				height: 45px;
			}
	
			@media (min-width: 1920px) {
				width: 150px;
				height: 50px;
			}
	
			svg {
				width: 40px;
				height: 20px;
				fill: #002F6C;
				transition: fill 0.3s;	
			}
		}
	
}