$colorLightBlue: #e3edf7;
$colorBlue: #007fff;
$colorLightGray: #D9E1EC;

.AsideBlock {
  padding: 40px 25px;
  border-right: 1px solid $colorLightGray;

  &__button {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 240px;
    padding: 16px 18px;
    background-color: $colorLightBlue;
    border-radius: 10px;
    cursor: pointer;

    color: $colorBlue;
    font-size: 16px;
    line-height: 160%;
  }
}
