.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #BCBCBC;
    border-radius: 32px;
    padding: 0px 18px;
    outline: 4px solid transparent;
    height: 46px;
    transition: .6s ease background-color, .3s ease outline;

    &__text {
        display: inline;
        font-size: 15px;
        transition: .4s ease color;
    }

    &__icon {
        width: 28px;
        height: 32px;
        margin-left: 10px;
        fill: $aqua;
        transition: .4s ease fill;
    }

    &:focus {
        outline: #99B3D8 solid 3px;

        .button {
            &__text {
                color: $aqua;
            }
        }
    }

    &:hover {
        background-color: $aqua;

        .button {
            &__text {
                color: white;
            }

            &__icon {
                fill: white;
            }
        }
    }

    &:active {
        background-color: $blue;
        outline: 4px solid transparent;

        .button {
            &__text {
                color: white;
            }

            &__icon {
                fill: white;
            }
        }
    }

}