.colored-button {
	$root: &;
	padding: 0 14px 0 18px;
	display: flex;
	align-items: center;
	column-gap: 14px;
	border-radius: 24px;
	border: 3px solid transparent;
	background-color: #FF0000;
	transition: all 0.5s ease-in-out 0s;
	margin-bottom: 20px;
	&__icon {
		max-width: 32px;
		height: auto;
		& svg {
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
		@media screen and (max-width: 1280px) {
			max-width: 24px;
			max-height: 24px;
		}
	}
	&__text {
		color: #FFFFFF;
		font: 400 normal 16px/100% 'Grtsk Peta', sans-serif;
		letter-spacing: -0.32px;
		@media screen and (max-width: 1280px) {
			font-size: 14px;
		}
		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}
	&:hover {
		@media screen and (min-width: 769px) {
			transition: all 0.5s ease-in 0s;
			background-color: #BF1D26;
		}
	}
	&:focus {
		@media screen and (min-width: 769px) {
			transition: all 0.5s ease-in 0s;
			border-color: #99B3D8;
			background-color: #FF0000;
		}
	}
	&:active {
		transition: all 0.5s ease-in 0s;
		background-color: #81080F;
	}
	&:disabled {
		pointer-events: none;
		background-color: #F4F4F4;
		#{$root}__text {
			color: #909090;
		}
		#{$root}__icon path {
			fill: #909090;
		}
	}
	@media screen and (max-width: 1280px) {
		padding: 8px 14px 8px 16px;
		column-gap: 12px;
	}
	@media screen and (max-width: 768px) {
		column-gap: 14px;
		padding: 8px 14px 8px 18px;
	}
	@media screen and (max-width: 375px) {
		width: 100%;
		justify-content: center;
		padding: 8px 14px;
		column-gap: 12px;
	}
}