.colored-button {
	$root: &;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 327px;
	height: 42px;
	padding: 0 14px;
	border-radius: 24px;
	color: #FFF;
	background-color: #FF0000;
	transition: background-color 0.3s;

	&:disabled {
		color: #909090;
		pointer-events: none;
		background-color: #F4F4F4;

		#{$root}__svg {
			fill: #909090;
		}
	}

	@media (min-width: 768px) {
		width: 121px;
		padding-left: 18px;
		gap: 14px;
	}

	@media (min-width: 1280px) and (hover:hover) {
		&:hover {
			background-color: #BF1D26;
		}
	}

	@media (min-width: 1280px) {
		width: 111px;
		padding-left: 16px;
		gap: 12px;

		&:focus {
			background-color: #FF0000;
			outline: 3px solid #99B3D8;
		}
	}

	&:active {
		color: #FFF;
		background-color: #81080F;
	}

	@media (min-width: 1920px) {
		width: 129px;
		padding-left: 18px;
		gap: 14px;
	}

	&__text {
		font-size: 16px;
		line-height: 100%;

		@media (min-width: 1280px) {
			font-size: 14px;
		}

		@media (min-width: 1920px) {
			font-size: initial;
		}
	}

	svg {
		width: 24px;
		height: 24px;
		fill: #FFF;
		transition: fill 0.3s;

		@media (min-width: 1920px) {
			width: 32px;
			height: 32px;
		}
	}
}