mixin slider-buttons(text)
	.slider-buttons&attributes(attributes)
		//Your code here
		.slider-buttons__container
			button.slider-buttons__button.slider-buttons__button_prev
				+svg('slider-arrow')
			button.slider-buttons__button.slider-buttons__button_next
				+svg('slider-arrow')
		.slider-buttons__counter= text