mixin slider-buttons()
	button.slider-button&attributes(attributes)
		+svg('slider-button-left').slider-button__svg_left
	button.slider-button&attributes(attributes)
		+svg('slider-button-right').slider-button__svg_right
	span 01/04