mixin slider-buttons(props)
	- var classes = ['prev', 'next']
	.slider-buttons&attributes(attributes)
		//Your code here
		.slider-buttons__container
			button(class=['slider-buttons__button', `slider-buttons__button_${classes[0]}`])
				+svg('slider-arrow')
			button(class=['slider-buttons__button', `slider-buttons__button_${classes[1]}`], disabled='true')
				+svg('slider-arrow')
		.slider-buttons__counter #{props.text}