mixin my-form({title})
	.my-form&attributes(attributes)(data-component='my-form')
		//Your code here
		.my-form__title!=title 

		form.my-form__form.form()
			.my-form__inputs
				.grid
					+text-field({inputType: 'email' , label: 'E-mail'})
					+text-field({inputType: 'text' , label: 'Ваше сообщение', type: 'textarea'})
			input(type='file' accept='.pdf, .doc, .docx' id='file-input' name='file-input').my-form__btn-input.btn-attachment 
			label(for='file-input').button.btn-attachment__label
				span Прикрепить файл
				+svg('plus').button__plus
			.my-form__checkbox 					
				input(type='checkbox' name='agreement' id='agreement'  class='my-checkbox')
				+svg('check').check
				label(for='agreement') Вы подтверждаете, что ознакомились c #[span политикой обработки персональных данных]
			button.my-form__submit-btn.button
				| Отправить
				+svg('arrow').arrow
