.switch-button {
  $root: &;
  margin: 10px;
  &[disabled] {
    pointer-events: none;
  }
  & input {
    position: relative;
    height: 28px;
    width: 56px;
    background-color: #dedede;
    border-radius: 14px;
    transition: background-color 0.3s, outline 0.3s;
    &:checked {
      background-color: #0041a0;
      &::before {
        left: 34px;
      }
    }
    @media (max-width: 375px) {
      height: 20px;
      width: 40px;
      border-radius: 10px;
      &:checked::before {
        left: 24px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 6px;
      left: 6px;
      background-color: white;
      border-radius: 50%;
      transition: left 0.3s;
      @media (max-width: 375px) {
        width: 12px;
        height: 12px;
        top: 4px;
        left: 4px;
      }
    }
    &:focus {
      outline: 3px solid #99b3d8;
    }
    @media (hover: hover) {
      &:hover {
        background-color: #002f6c;
      }
    }
  }
}
