.input-mail{
    width: 100%;
    border-bottom: 2px solid rgb(219, 219, 219);
    height: 30px;
    display: block;
    &::before{
        content: "helli";
        display: block;
        position: absolute;
        font-size: 20px;   
        width: 30px;
        height: 30px;
        background-color: black;
    }
}
