@import '/src/pages/index.scss';

.spoiler-cell {
	$root: &;
	position: relative;
	padding: $smallMargin 0 $smallMargin 0;

	&:before {
		@include pseudo-element(1px, $grey, 0deg);
		top: 0;
	}

	&:last-child:after {
		@include pseudo-element(1px, $grey, 0deg);
		bottom: 0;
	}

	@include media(1440px, 900px) {
		padding: 24px 0 24px 0;
	}

	@include media(1280px, 768px) {
		padding: 20px 0 20px 0;
	}

	@include media(768px, 1024px) {
		padding: 24px 0 24px 0;
	}

	@include media(375px, 812px) {
		padding: 20px 0 20px 0;
	}

	.top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		cursor: pointer;

		&__title {
			@include text-style($font-family, 400, 36px, $darkTeal, 43.2px);

			&.active {
				@include text-style($font-family, 400, 36px, $blue, 43.2px);
			}

			@include media(1440px, 900px) {
				@include text-style($font-family, 400, 27px, $darkTeal, 32.4px);
			}
		}

		&__cross {
			position: relative;
			transition: transform 0.3s ease;

			&.active {
				transition: transform 0.3s ease;
				transform: rotate(45deg);
			}
		}
	}

	.bottom {
		&__text {
			@include text-style($font-family, 400, 20px, $black, 30px);
			display: none; 
			max-width: 942px;
			margin: $smallMargin 0 10px 0;
			cursor: default;

			&.active {
				display: block;
			}

			@include media(1440px, 900px) {
				@include text-style($font-family, 400, 15px, $black, 22.5px);
				margin: 20px 0 6px 0;
			}

			@include media(1280px, 720px) {
				@include text-style($font-family, 400, 14px, $black, 21px);
				margin: 16px 0 4px 0;
			}

			@include media(768px, 1024px) {
				@include text-style($font-family, 400, 15px, $black, 22.5px);
				margin: 16px 0 0 0;
			}
		}
	}
}