mixin confirm-checkbox(props)
	.confirm-checkbox.field(data-component='confirm-checkbox')
		.confirm-checkbox__wrapper
			label
				input(type="checkbox" name="confirm", tabIndex=0)&attributes(attributes)
				span.confirm-checkbox__wrapper__checkbox
					include ../../assets/icons/check.svg
			p.confirm-checkbox__wrapper__text Вы подтверждаете, что ознакомились
				=" "
				a c политикой обработки персональных данных 
		p.error Что то пошло не так
