$white: #fff;
$black: #111;
$midnight: #021f45;
$smoke-white: #f4f4f4;
$jordy-blue: #99b3d8;
$blue: #002f6c;
$cobolt: #0041a0;
$light-gray: #dedede;
$steel-gray: #909090;
$extra-gray: #bcbcbc;
$red: #f00;

body {
	font-family: "Arial", sans-serif;
	font-style: normal;
}
