extends ../../build_modules/common


block body
    +example-button()
    +example-button()

    +only-vacancy-wrapper({header:'Консультант SAP PO'})
        +only-parag({header:'Вам предстоит'})
            +only-point({text:'Участие в проектах в роли архитектора/консультанта по интеграции данных'}) 
            +only-point({text:'Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)'})
            +only-point({text:'Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)'})
            +only-point({text:'Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)'})
            +only-point({text:'Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями'})
            +only-point({text:'Разработка и поддержка интеграционных сценариев'})

        +only-parag({header:'Мы ожидаем'})
            +only-point({text:'Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML'}) 
            +only-point({text:'Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем'})
            +only-point({text:'Опыт разработки технических заданий и постановок задач'})
            +only-point({text:'Опыт описания бизнес-процессов в нотациях BPMN и UML'})
            +only-point({text:'Опыт формирования требований к информационным системам'})
            +only-point({text:'Опыт составления проектной документации по ГОСТ'})

        +only-parag({header:'Мы предлагаем'})
            +only-point({text:'Оформление в соответствии с нормами ТК РФ, социальные гарантии'}) 
            +only-point({text:'Крупные проекты в компании–лидере отрасли'})
            +only-point({text:'Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов'})
            +only-point({text:'Полис ДМС (включая стоматологию)'})
            +only-point({text:'Доступ к корпоративной OnLine библиотеке'})
            +only-point({text:'Обучение в программах Корпоративного университета'})

        +only-form({header:'Форма обратной связи'})
            +only-input({label:'Email',placeholder:''})(email required)
            +only-error({text:'Поле E-mail обязательно'})(email)
            +only-checkagreement({text:'Вы подтверждаете, что ознакомились c политикой обработки персональных данных'})(pers-policy required)
            +only-button({text:'Отправить'})
    //Your code here
