extends ../../build_modules/common


block body
    +only-form({text:'Форма обратной связи'})
        +only-input({placeholder:'mail@',type:'email', header:'E-mail'})
        +only-text-area({header:'Ваше сообщение', placeholder:'Ваше сообщение'})
        +only-file-input({text:'Прикрепить файл'})
        +only-btn({text:'Отправить'})
        +only-agreement({
            text:'Вы подтверждаете, что ознакомились',
            href:'#',
            linkText:'c политикой обработки персональных данных'})
        +only-notify
