extends ../../build_modules/common

block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +button({text: 'Кнопка'})
    +button({text: 'Кнопка'})(disabled='')
    +button({text: 'Кнопка', colored: 'true'})
    +button({text: 'Кнопка', colored: 'true'})(disabled='')
    +slider({currentPage: '1', numPages: '4'})
    +slider({currentPage: '1', numPages: '4', disabled: 'true'})(disabled='')
    +toggle-switch
    +toggle-switch(disabled='')
    +link-wrapper
        | Для подключения сервиса добавьте номер 
        +link({text: '+7(921)058-57-19', href: '#'}) 
        |  в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
    +link-wrapper
        | Цифровые продукты, направленные на создание 
        +link({text: 'дополнительных сервисов', href: '#', disabled: 'true'}) 
        |  и устранение «проблемных точек» наших клиентов
