extends ../../build_modules/common


block body
    //+example-button()
    //+example-button()
    span.block-header Lorem ipsum dolor
    +description-text({text: '1. Nullam tincidunt vestibulum porttitor', decription: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.'})
    +description-text({text: '2. Class aptent taciti sociosqu ad litora', decription: 'Vivamus nec diam sit amet lacus condimentum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere a magna eget pellentesque. Curabitur vel risus eget ipsum varius auctor ut ac lectus. Maecenas blandit, dolor sed maximus laoreet, lectus nisl ultrices augue, et dapibus mauris magna nec velit. Ut felis magna, tempus in rhoncus nec, convallis a erat. Quisque porttitor maximus purus, vitae iaculis tellus posuere eget. '})
    +description-text({text: '3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget', decription: 'Vivamus nec diam sit amet lacus condimentum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere a magna eget pellentesque. Curabitur vel risus eget ipsum varius auctor ut ac lectus. Maecenas blandit, dolor sed maximus laoreet, lectus nisl ultrices augue, et dapibus mauris magna nec velit. Ut felis magna, tempus in rhoncus nec, convallis a erat. Quisque porttitor maximus purus, vitae iaculis tellus posuere eget. '})
    +description-text({text: '4. Mauris ut suscipit tellus', decription: 'Vivamus nec diam sit amet lacus condimentum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere a magna eget pellentesque. Curabitur vel risus eget ipsum varius auctor ut ac lectus. Maecenas blandit, dolor sed maximus laoreet, lectus nisl ultrices augue, et dapibus mauris magna nec velit. Ut felis magna, tempus in rhoncus nec, convallis a erat. Quisque porttitor maximus purus, vitae iaculis tellus posuere eget. '})
    +description-text({text: '5. Nullam placerat porta libero, vel maximus augue euismod eget', decription: 'Vivamus nec diam sit amet lacus condimentum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere a magna eget pellentesque. Curabitur vel risus eget ipsum varius auctor ut ac lectus. Maecenas blandit, dolor sed maximus laoreet, lectus nisl ultrices augue, et dapibus mauris magna nec velit. Ut felis magna, tempus in rhoncus nec, convallis a erat. Quisque porttitor maximus purus, vitae iaculis tellus posuere eget. '})
    
    //Your code here
