extends ../../build_modules/common


block body
    //- +example-button()
    //- +example-button()
    //Your code here
    +title 
    +points({header: 'Вам предстоит', content1: 'Участие в проектах в роли архитектора/консультанта по интеграции данных', content2: 'Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)', content3: 'Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)', content4: 'Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)', content5: 'Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями', content6: 'Разработка и поддержка интеграционных сценариев'})
    +points({header: 'Мы ожидаем', content1: 'Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML', content2: 'Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем', content3: 'Опыт разработки технических заданий и постановок задач', content4: 'Опыт описания бизнес-процессов в нотациях BPMN и UML', content5: 'Опыт формирования требований к информационным системам', content6: 'Опыт составления проектной документации по ГОСТ'})
    +points({header: 'Мы предлагаем', content1: 'Оформление в соответствии с нормами ТК РФ, социальные гарантии', content2: 'Крупные проекты в компании–лидере отрасли', content3: 'Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов', content4: 'Полис ДМС (включая стоматологию)', content5: 'Доступ к корпоративной OnLine библиотеке', content6: 'Обучение в программах Корпоративного университета'})
    +form() 
