extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +button({text: 'first button', class: 'white-button'})
    +button({text: 'disabled', class: 'white-button'})(disabled='')
    +button({text: 'second button', class: 'red-button'})
    +button({text: 'disabled', class: 'red-button'})(disabled='')


