extends ../../build_modules/common

mixin wrapper
    .wrapper(style='margin-bottom: 10px')
        block

block body
    .container(style='padding: 20px')
        +wrapper
            +example-button({text: 'example text'})
        +wrapper
            +example-button({text: 'disabled'})(disabled='')
        +wrapper
            +button-outline({text: 'Outline'})
        +wrapper
            +button-outline({text: 'Outline'})(disabled='')
        +wrapper
            +button-outline({text: 'Alternate'})(class='button-outline_alt')
        +wrapper
            +button-outline({text: 'Alternate'})(disabled='' class='button-outline_alt')