extends ../../build_modules/common

block body
    //- +example-button()
    //- +example-button()
    .content
        .content__title Lorem ipsum dolor
        +item({
            title: '1. Nullam tincidunt vestibulum porttitor',
            inner: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim. Nunc aliquet bibendum enim facilisis gravida. Convallis tellus id interdum velit laoreet id donec. '
            })
        +item({
            title: '2. Class aptent taciti sociosqu ad litora',
            inner: 'Placerat duis ultricies lacus sed turpis tincidunt. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Eu nisl nunc mi ipsum faucibus vitae aliquet. Iaculis urna id volutpat lacus laoreet non curabitur. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Bibendum at varius vel pharetra vel turpis. Quis enim lobortis scelerisque fermentum. Urna porttitor rhoncus dolor purus non. Donec adipiscing tristique risus nec feugiat in fermentum. Velit aliquet sagittis id consectetur purus ut. Consectetur a erat nam at lectus urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Non consectetur a erat nam at lectus urna duis convallis.'
        })
        +item({
            title: '3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget',
            inner: 'Lacus sed turpis tincidunt id. Morbi non arcu risus quis varius quam quisque id. Nisi vitae suscipit tellus mauris a diam. Diam maecenas sed enim ut sem viverra. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. Vitae et leo duis ut. Mauris vitae ultricies leo integer malesuada. Enim facilisis gravida neque convallis a cras semper auctor neque. Bibendum arcu vitae elementum curabitur. Cursus sit amet dictum sit amet justo donec. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Vitae elementum curabitur vitae nunc sed. Enim nec dui nunc mattis enim ut tellus. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Sociis natoque penatibus et magnis dis parturient montes. Non nisi est sit amet facilisis magna etiam tempor orci. Egestas pretium aenean pharetra magna ac placerat. Amet mauris commodo quis imperdiet. Adipiscing diam donec adipiscing tristique. Nunc aliquet bibendum enim facilisis gravida neque convallis. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Erat nam at lectus urna duis convallis convallis. Pretium nibh ipsum consequat nisl vel. Sit amet venenatis urna cursus eget. Gravida dictum fusce ut placerat orci nulla pellentesque.'
        })
        +item({
            title: '4. Mauris ut suscipit tellus',
            inner: 'Sit amet dictum sit amet justo donec enim. Varius duis at consectetur lorem donec massa sapien. Et leo duis ut diam. Lobortis scelerisque fermentum dui faucibus in ornare quam. Pellentesque habitant morbi tristique senectus et netus et.'
        })
        +item({
            title: '5. Nullam placerat porta libero, vel maximus augue euismod eget',
            inner: 'Urna cursus eget nunc scelerisque viverra mauris in. Pretium vulputate sapien nec sagittis. Aenean et tortor at risus viverra. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Risus nec feugiat in fermentum posuere. Mattis vulputate enim nulla aliquet porttitor lacus. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Tincidunt praesent semper feugiat nibh. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Enim nec dui nunc mattis enim ut. Quis risus sed vulputate odio ut enim.'
        })