extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +custom-button({text: 'Кнопка'})
    +custom-button({text: 'Кнопка'})(disabled='')
    +custom-button({text: 'Кнопка'})(class="alternative")
    +custom-button({text: 'Кнопка'})(class="alternative" disabled='')
    +slider-button({currentPage: '01', totalPages: '04'})
    +slider-button({currentPage: '01', totalPages: '04'})(disabled='')
    +custom-link({text: 'Sustainalytics.com', isIcon: true})(href='#' class="__with-svg")
    +custom-link({text: 'Sustainalytics.com', isIcon: true})(href='#' disabled='' class="custom-link__with-svg")
    p
        | Цифровые продукты, направленные на создание
        +custom-link({text: 'дополнительных сервисов', isIcon: false})(href='#' class="custom-link__in-text")
        | и устранение «проблемных точек» наших клиентов
