extends ../../build_modules/common


block body

    .container
        h1.container__header Lorem ipsum dolor
        +spoiler({title: "Nullam tincidunt vestibulum porttitor", text: "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit. "})
        +spoiler({title: "Class aptent taciti sociosqu ad litora", text: "Астрономы сообщают о находке экзопланеты, которая находится в зоне обитаемости звезды HD 123456. Это открывает новые перспективы для поиска признаков жизни за пределами Солнечной системы."})
        +spoiler({title: "Nulla fringilla ligula elit, non laoreet ipsum rutrum eget", text: "Сервис доставки еды представил инновационных роботов, способных автономно доставлять заказы клиентам. Это сократит время доставки и уменьшит нагрузку на курьеров."})
        +spoiler({title: "Mauris ut suscipit tellus", text: "Новые исследования утверждают, что недостаток сна может привести к различным проблемам со здоровьем, включая болезни сердца и психические расстройства. Рекомендуется спать не менее 7-8 часов в сутки."})
        +spoiler({title: "Nullam placerat porta libero, vel maximus augue euismod eget", text: "Марсоход, отправленный на Марс в рамках космической миссии, передал первые захватывающие снимки красной планеты. Это открывает новую главу в изучении Марса и возможности поиска следов жизни. Марсоход, отправленный на Марс в рамках космической миссии, передал первые захватывающие снимки красной планеты. Это открывает новую главу в изучении Марса и возможности поиска следов жизни. Марсоход, отправленный на Марс в рамках космической миссии, передал первые захватывающие снимки красной планеты. Это открывает новую главу в изучении Марса и возможности поиска следов жизни. Марсоход, отправленный на Марс в рамках космической миссии, передал первые захватывающие снимки красной планеты. Это открывает новую главу в изучении Марса и возможности поиска следов жизни. Марсоход, отправленный на Марс в рамках космической миссии, передал первые захватывающие снимки красной планеты. Это открывает новую главу в изучении Марса и возможности поиска следов жизни."})
