extends ../../build_modules/common


block body
    //- +example-button({text: 'example text'})
    //- +example-button({text: 'disabled'})(disabled='')
    +stroke-button({text: 'Кнопка'})
    +stroke-button({text: 'Кнопка'})(disabled='')
