extends ../../build_modules/common


block body
    +vector-button({text: 'Кнопка'})
    +vector-button({text: 'Кнопка'})(disabled='')
    +vector-button({text: 'Кнопка'})(class='vector-button_red')
    +vector-button({text: 'Кнопка'})(class='vector-button_red')(disabled='')
    +pagination()
    +pagination(1)
    +link-button()
    +link-button(1)
    +check-button()
    +check-button(1)