extends ../../build_modules/common


block body
    +example-button()
    +example-button()
    +spoiler-container({title: "Lorem ipsum dolor"})
        +spoiler({button_text: "1. Nullam tincidunt vestibulum porttitor", 
                  text: "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit."})
        +spoiler({button_text: "2. Class aptent taciti sociosqu ad litora", 
                  text: "Vestibulum egestas pharetra felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse dignissim bibendum lectus, quis ornare tortor elementum quis. Aenean semper vehicula elementum. Nulla massa est, faucibus non semper quis, laoreet et sapien. Suspendisse massa odio, aliquet nec commodo et, venenatis ut velit. Pellentesque mauris lorem, dictum vitae feugiat quis, placerat vitae eros. Vestibulum quis purus vel urna convallis faucibus. Etiam vel mauris nisi, non vehicula est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam leo lorem, tincidunt sed molestie id, egestas feugiat quam. Aliquam sed ipsum non nulla tempus mollis elementum ac dolor. Curabitur ac metus et enim pellentesque pellentesque. Nunc ultrices, felis elementum iaculis semper, libero turpis semper erat, in dapibus nisi urna vel mi. Nulla sed nibh libero. Maecenas a libero mauris, sed malesuada dui."})
        +spoiler({button_text: "3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget", 
                  text: "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit."})
        +spoiler({button_text: "4. Mauris ut suscipit tellus", 
                  text: "Nunc euismod lobortis massa, id sollicitudin augue auctor vel. Integer ornare sollicitudin turpis vitae vestibulum. Curabitur faucibus ullamcorper lorem sed egestas. Pellentesque laoreet auctor eros, et consectetur eros auctor eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor nisi, egestas eget molestie tincidunt, tempus sed justo. Vestibulum ultricies auctor varius. Fusce consequat tincidunt dui, ac adipiscing turpis adipiscing pulvinar. Aliquam erat volutpat. Vivamus eleifend rhoncus nulla in laoreet."})
        +spoiler({button_text: "5. Nullam placerat porta libero, vel maximus augue euismod eget", 
                  text: "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit."})