extends ../../build_modules/common


block body
    //Your code here
    - let number = 0
    .spoilers
        h1.spoilers__title Текст-рыба
        hr
        +spoiler(number++)
        hr
        +spoiler(number++)
        hr
        +spoiler(number++)
        hr
        +spoiler(number++)
        hr
        +spoiler(number++)
        hr
