extends ../../build_modules/common


block body
  +header({title: 'Консультант SAP PO'})
  .container
    +list({title: 'Вам предстоит', items: ['Участие в проектах в роли архитектора/консультанта по интеграции данных', 'Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)', 'Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)', 'Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)', 'Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями', 'Разработка и поддержка интеграционных сценариев']})
    +list({title: 'Мы ожидаем', items: ["Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML", "Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем", "Опыт разработки технических заданий и постановок задач", "Опыт описания бизнес-процессов в нотациях BPMN и UML", "Опыт формирования требований к информационным системам", "Опыт составления проектной документации по ГОСТ"]})
    +list({title: 'Мы предлагаем', items: ["Оформление в соответствии с нормами ТК РФ, социальные гарантии", "Крупные проекты в компании–лидере отрасли", "Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов", "Полис ДМС (включая стоматологию)", "Доступ к корпоративной OnLine библиотеке", "Обучение в программах Корпоративного университета"]})
  +contact-form