extends ../../build_modules/common


block body
    +switch({text: 'qwerty'})
    +slider({currentPage:1,totalPages:5})
    +slider({disabled:true,currentPage:1,totalPages:5})(disabled='')
    +link({text:'Sustainalytics.com'})
    +link({text:'Sustainalytics.com',disabled:true})(disabled='')
    +button({text:''})
    +button({text:'Кнопка'})
    +button({text:'Кнопка',disabled:true})(disabled='')
