extends ../../build_modules/common


block body
   +dateNow
   +main-title('Консультант SAP PO')
   +statistic
   +title('Вам предстоит')
   +clause('Участие в проектах в роли архитектора/консультанта по интеграции данных')
   +clause('Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)')
   +clause('Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)')
   +clause('Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)')
   +clause('Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями')
   +clause('Разработка и поддержка интеграционных сценариев')
   +title('Мы ожидаем')
   +clause('Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML')
   +clause('Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем')
   +clause('Опыт разработки технических заданий и постановок задач')
   +clause('Опыт описания бизнес-процессов в нотациях BPMN и UML')
   +clause('Опыт формирования требований к информационным системам')
   +clause('Опыт составления проектной документации по ГОСТ')
   +title('Мы предлагаем')
   +clause('Оформление в соответствии с нормами ТК РФ, социальные гарантии')
   +clause('Крупные проекты в компании–лидере отрасли')
   +clause('Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов')
   +clause('Полис ДМС (включая стоматологию)')
   +clause('Доступ к корпоративной OnLine библиотеке')
   +clause('Обучение в программах Корпоративного университета')
   +container-form
   
