extends ../../build_modules/common


block body
    +spoiler-custom({title: 'title', text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptates atque beatae quisquam reprehenderit illum sint id quia, nobis perferendis, repellat consectetur explicabo debitis autem eos esse non ipsum molestias?"})
