extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +switch({text: 'qwerty'})
    +slider({currentPage:1,totalPages:5})
    +slider({disabled:true,currentPage:1,totalPages:5})(disabled='')
