extends ../../build_modules/common


block body
    section.faq
        h2.faq__title Lorem ipsum dolor
        .faq__wrapper
            +spoiler-item(1, '123', '123')
            +spoiler-item('', '123', '123')
