extends ../../build_modules/common


block body
  +custom-button({text: 'Кнопка'})
  +custom-button({text: 'Кнопка'})(disabled='')
  +custom-button({text: 'Кнопка'})(class="alternative")
  +custom-button({text: 'Кнопка'})(disabled='' class="alternative")
  +slider-buttons({pages: '02',  current: '01'})
  +slider-buttons({pages: '02',  current: '01'})(disabled='')
  +custom-link({text: "Sustainalytics.com"})(href="http://Sustainalytics.com" target="_blank")
  +custom-link({text: "Sustainalytics.com"})(href="http://Sustainalytics.com" target="_blank" disabled="")
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum illo quo, reiciendis asperiores 
    +custom-link({text: "google"})(href="https://google.com" class="inline") 
    |  dicta totam exercitationem in iste optio eum pariatur labore, ab amet dolorum. Saepe non ea nostrum facere! 
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum illo quo, reiciendis asperiores
    +custom-link({text: "+7(921)058-57-19"})(href="tel:79210585719" class="inline") 
    |  dicta totam exercitationem in iste optio eum pariatur labore, ab amet dolorum. Saepe non ea nostrum facere! 
  +switch()
  +switch(disabled="")




