extends ../../build_modules/common


block body
    .container
        p.button-name Кнопка с обводкой
        +button-with-border({text: 'Кнопка'})
        +button-with-border({text: 'Кнопка'})(disabled='')
    //+example-button({text: 'example text'})
    //+example-button({text: 'disabled'})(disabled='')
    //Your code here
