include ../components/flex-container/flex-container
include ../components/grid-container/grid-container
- let Btn = '<svg width="66" height="36" viewBox="0 0 66 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M58.6341 19.4L0.277649 19.4L0.277649 16.6L58.6341 16.6L58.6341 19.4ZM36.7642 36L35.1156 33.6L61.8761 20L61.8761 16L35.1156 2.4L36.7642 0L65.1182 14.4V21.6L36.7642 36Z" fill="currentColor"/></svg>'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 1

    body
        main
            h2 FlexBox
            +flex-container
            hr
            h2 Grid layout
            +grid-container
