extends ../../build_modules/common


block body
    +vector-button({text: 'Кнопка'})
    +vector-button({text: 'Кнопка'})(class='vector-button_red')
    +pagination()
    +link-button()
    +check-button()