extends ../../build_modules/common


block body
    //Your code here
    .wrapper
        +button-blue('кнопка')
        +button-red('кнопка')
        +slider-buttons('01 / 04')
        +link({text: 'Sustainalytics.com', withIcon: true, isBlank: true, href: '#'})
        div
          | Для подключения сервиса добавьте номер&nbsp;
          +link({text: '+7(921)058-57-19', href: '#'})
          | &nbsp;в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
        div
          | Цифровые продукты, направленные на создание&nbsp;
          +link({text: 'дополнительных сервисов', href: '#'})
          | &nbsp;и устранение «проблемных точек» наших клиентов
        +checkbox('text')