extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    //Your code here
    h2 Состояние кнопки
    +button({text: 'Кнопка'})
    +button({text: 'Кнопка'})(disabled='')
    p Для того, чтобы увидеть "Состояние кнопки 2" необходимо добавить к тэгу <code>button.button</code> класс <code>.button_red</code>