extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    //Your code here

    +my-button({text: 'Кнопка'})
    +my-button({text: 'disabled'})(disabled='')
