extends ../../build_modules/common

block body
  .wrapper()(style="width: 1600px; margin: 10px auto;")
    +spoiler({title: "lorem ipsum", text: "lorem ipsum is just a placeholder"})
    +spoiler({title: "lorem ipsum", text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. In reprehenderit commodi deleniti dolorum aspernatur eligendi unde nam ipsum nostrum enim minus quisquam quae eum beatae quas quia, suscipit, est animi."})