extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +button({text: 'Кнопка'})
    +button({text: 'Кнопка'})(disabled='')

    +button({ text: 'Кнопка', mod: 'red' })
    +button({ text: 'Кнопка', mod: 'red' })(disabled='')
