extends ../../build_modules/common


block body
	.container
		.element
			+button
			+button(disabled="disabled")

		.element
			+alt-button
			+alt-button(disabled="disabled")

		.element
			+slider
			+slider(disabled="disabled")

		.element
			+toggle(type='checkbox', id='toggle')

		.element
			+link({ text: 'Sustainalytics.com', icon: true })(href='#')
			+link({ text: 'Sustainalytics.com', icon: true, disabled: true })(disabled="disabled")
			p.text
				| Для подключения сервиса добавьте номер&nbsp;
				block content
					+link({ text: '+7(921)058-57-19', icon: false })(href='#')
				| &nbsp;в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже	

			p.text
				| Цифровые продукты, направленные на создание&nbsp;
				block content
					+link({ text: 'дополнительных сервисов', icon: false })(href='#')
				| &nbsp;и устранение «проблемных точек» наших клиентов