include ../components/flex-container/flex-container
include ../components/grid-container/grid-container


<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 1

    body
        main
            - const names = [
            -     'Мостовая сталь/Стальные конструкции мостов',
            -     'Железобетонные конструкции мостов',
            -     'Дорожные ограждения барьерного типа',
            -     'Шпунтовой замок',
            -     'Мостовой крепеж',
            -     'Профили для деформационных швов',
            -     'Плетеные габионы',
            -     'Модульные мосты'
            - ];
            +flex-container(names)

            hr

            +grid-container(names)
            
