extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +empty-button({text: 'Кнопка'})
    +empty-button({text: 'Кнопка выключена'})(disabled='')
    +filled-button({text: 'Кнопка'})
    +filled-button({text: 'Кнопка выключена'})(disabled='')
    +slider-group()
    +slider-group('disabled')
    +link-group()
    +link-group('disabled')
    +switch-group({checked: false})
    +switch-group({checked: true, disabled: true})