extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +custom-button({text: 'Кнопка'})
    +custom-button({text: 'Кнопка'})(disabled='')
    +custom-button({text: 'Кнопка'})(class="alternative")
    +custom-button({text: 'Кнопка'})(class="alternative" disabled='')
    +slider-button({currentPage: '01', totalPages: '04'})
    +slider-button({currentPage: '01', totalPages: '04'})(disabled='')
