extends ../../build_modules/common


block body
  +custom-button({text: 'Кнопка'})
  +custom-button({text: 'Кнопка'})(disabled='')
  +custom-button({text: 'Кнопка'})(class="alternative")
  +custom-button({text: 'Кнопка'})(disabled='' class="alternative")





