extends ../components/entry/entry
include ../components/grid-container/grid-container
include ../components/flex-container/flex-container
block content
    main
        h2 FlexBox
        +flex-container
        hr
        h2 Grid layout
        +grid-container
