extends ../../build_modules/common


block body
    .buttons-container
        h2.buttons-container__title Пример кнопки
        +example-button({text: 'example text'})
        +example-button({text: 'disabled'})(disabled='')
        h2.buttons-container__title Реализация кнопок
        +button({text:"Кнопка"})(data-color='red')
        +button({text:"Кнопка"})(data-color='red' , disabled="")
        +button({text:"Кнопка"})(data-color='blue')
        +button({text:"Кнопка"})(data-color='blue' , disabled="")
        +slider()
        +slider(disabled='')
        +link({text:"Sustainalytics.com"})(href='http://yandex.ru')
        +link({text:"Sustainalytics.com"})(href='#', class="link_disabled")
        p Для подключения сервиса добавьте номер
            +link({text:"+7(921)058-57-19"})(href='#', class="link_type_inside-text" tabindex)
            |в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
        p Цифровые продукты, направленные на создание
            +link({text:"дополнительных"})(href="#", class="link_type_inside-text")
            |сервисов и устранение «проблемных точек» наших клиентов
        +checkbox()
        //Your code here
