include ../components/flex-box/flex-box
include ../components/grid-box/grid-box

<!DOCTYPE html>
html(lang="ru")
    head
        script(src="https://kit.fontawesome.com/2d2208bf3d.js" crossorigin="anonymous")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Задание 1
    body
        main
            +grid-box
            hr
            +flex-box

