extends ../../build_modules/common


block body

	+spoiler({title: "Lorem ipsum dolor", items: [{title: "Nullam tincidunt vestibulum porttitor", content: "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit. "}, {title: "Class aptent taciti sociosqu ad litora", content: "Class aptent taciti sociosqu ad litora"}, {title: "Nulla fringilla ligula elit, non laoreet ipsum rutrum eget", content: "Nulla fringilla ligula elit, non laoreet ipsum rutrum eget"}, {title: "Mauris ut suscipit tellus", content: "Mauris ut suscipit tellus"}, {title: "Nullam placerat porta libero, vel maximus augue euismod eget", content: "Nullam placerat porta libero, vel maximus augue euismod eget"}]})
