extends ../../build_modules/common


block body

    +border-button({text: 'Border-button'})
    +border-button({text: 'Ddisabled'})(disabled='')

    +colored-button({text: 'Colored-button'})
    +colored-button({text: 'Ddisabled'})(disabled='')

    +slider-button({page:1,total:4})
    +slider-button({page:1,total:4})(disabled='')

    +link({text: 'Sustainalytics.com', icon: true})(href='#')
    +link({text: 'Sustainalytics.com', icon: true})(href='#' disabled='')
    
    p Для подключения сервиса добавьте номер 
        +link({text: '+7(921)058-57-19'})(href='#') 
        |  в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
    p Цифровые продукты, направленные на создание 
        +link({text: 'дополнительных сервисов'})(href='#')
        |  и устранение «проблемных точек» наших клиентов

    +switch-button()
    +switch-button()(disabled='')