extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +button-border({text: 'Кнопка'})
    +button-border({text: 'Кнопка'})(disabled='')
    +buttons-slider
    +buttons-slider(disabled='')
