extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    //Your code here
    .wrapper
        +button-blue({text: 'кнопка'})
        +button-red({text: 'кнопка'})
        +slider-buttons({text: '01 / 04'})
