extends ../../build_modules/common


block body
    +example-button()
    +example-button()
    +container
        +header({date: "18 декабря 2020", datetime: "2020-12-18", title: "Консультант SAP PO"})
        +vacancy-list({title: "Вам предстоит", list_item: [
            {text: "Участие в проектах в роли архитектора/консультанта по интеграции данных"},
            {text: "Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)"},
            {text: "Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)"},
            {text: "Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)"},
            {text: "Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями"},
            {text: "Разработка и поддержка интеграционных сценариев"},
        ]})
        +vacancy-list({title: "Мы ожидаем", list_item: [
            {text: "Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML"},
            {text: "Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем"},
            {text: "Опыт разработки технических заданий и постановок задач"},
            {text: "Опыт описания бизнес-процессов в нотациях BPMN и UML"},
            {text: "Опыт формирования требований к информационным системам"},
            {text: "Опыт составления проектной документации по ГОСТ"},
        ]})
        +vacancy-list({title: "Мы предлагаем", list_item: [
            {text: "Оформление в соответствии с нормами ТК РФ, социальные гарантии"},
            {text: "Крупные проекты в компании–лидере отрасли"},
            {text: "Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов"},
            {text: "Полис ДМС (включая стоматологию)"},
            {text: "Доступ к корпоративной OnLine библиотеке"},
            {text: "Обучение в программах Корпоративного университета"},
        ]})
        +feedback-form({title: "Форма обратной связи", mail: "E-mail", warning: "Поле E-mail обязательно"})
