extends ../../build_modules/common

block body
    .wrapper
        h1 Lorem ipsum dolor
        +spoiler({title: '1. Nullam tincidunt vestibulum porttitor', body: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.'}).spoiler_expanded
        +spoiler({title: '2. Class aptent taciti sociosqu ad litora', body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos odio culpa totam quo libero at quos architecto autem sequi recusandae consequuntur, eius nemo rem minima. Qui odit consequatur amet sapiente officiis numquam voluptate modi? A voluptatem amet omnis, perspiciatis modi, aliquid consequuntur eaque dolor, eum debitis dolore vel dicta. Dolores.'})
        +spoiler({ title: '3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget', body: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' })
        +spoiler({ title: '4. Mauris ut suscipit tellus', body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos odio culpa totam quo libero at quos architecto autem sequi recusandae consequuntur, eius nemo rem minima. Qui odit consequatur amet sapiente officiis numquam voluptate modi? A voluptatem amet omnis, perspiciatis modi, aliquid consequuntur eaque dolor, eum debitis dolore vel dicta. Dolores.' })
        +spoiler({ title: '5. Nullam placerat porta libero, vel maximus augue euismod eget', body: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' })
