extends ../../build_modules/common


block body
    +example-button()
    +example-button()
    //Your code here
    h1(style={'font-family': 'Roboto', 'font-size': '48px', 'margin-bottom': "60px"}) Lorem ipsum dolor
    +spoiler(1, 'Nullam tincidunt vestibulum porttitor', "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit. ")
