extends ../../build_modules/common


block body
	//- +example-button({text: 'example text'})
	//- +example-button({text: 'disabled'})(disabled='')
	+stroke-button({text: 'Кнопка'})
	+stroke-button({text: 'Кнопка'})(disabled='')
	+filled-button({text: 'Кнопка'})
	+filled-button({text: 'Кнопка'})(disabled='')
	+slider({currPage: '01', numOfPages: '04'})
	+slider({currPage: '01', numOfPages: '04'})(disabled='')
	+styled-link({text: 'Sustainalytics.com', url: "https://www.sustainalytics.com/", hasIcon: true})
	+styled-link({text: 'Sustainalytics.com', url: "https://www.sustainalytics.com/", hasIcon: true, disabled: true})(tabindex='-1')
	p.outer-text 
		| Для подключения сервиса добавьте номер  
		+styled-link({text: '+7(921)058-57-19', url: "tel:+79210585719", hasIcon: false})
		|  в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
	p.outer-text 
		| Цифровые продукты, направленные на создание 
		+styled-link({text: 'дополнительных сервисов', url: "https://www.sustainalytics.com/", hasIcon: false})
		|  и устранение «проблемных точек» наших клиентов
	+switcher
	+switcher(disabled='')
