extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    //Your code here
    .wrapper
        +button-blue('кнопка')
        +button-red('кнопка')
        +slider-buttons('01 / 04')
