extends ../../build_modules/common


block body
  .wrapper
    +vac-title({datetime: "18-12-2020", date: "18 декабря 2020", title: "Консультант SAP PO"})
    +titled-list({title: "Вам предстоит", items: 
    [
      "Участие в проектах в роли архитектора/консультанта по интеграции данных",
      "Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)"
    ]})
    +titled-list({title: "Вам предстоит", items: 
    [
      "Участие в проектах в роли архитектора/консультанта по интеграции данных",
      "Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)"
    ]})
    +feedback-form
