extends ../../build_modules/common


block body
    +button-primary({text: 'Кнопка'})
    +button-primary({text: 'Кнопка'})(disabled='')
    +button-primary({text: 'Кнопка'})(color='red')
    +button-primary({text: 'Кнопка'})(disabled='')(color='red')
    +slider-navigation({text: '01/04'})    
    +slider-navigation({text: '01/04'})(disabled='')
    +link({text: 'Ссылка', href:'#'})    
    +link({text: 'Ссылка', href:'#'})(disabled='')
    p.
      Lorem ipsum dolor sit amet consectetur adipisicing elit
      #[+link-in-text({text: 'Ссылка в тексте', href:'#'})] possimus ab natus dicta repellat harum ipsam rerum perspi
    +switch-button
    +switch-button(disabled='')