extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +link-button({text: 'Кнопка'})
    +link-button({text: 'Кнопка'})(disabled='')
    +link-button({text: 'Кнопка'})(class="link-button--alt-color")
    +link-button({text: 'Кнопка'})(class="link-button--alt-color")(disabled='')