extends ../../build_modules/common


block body
	.wrapper
		h1 Кнопки
		br
		+btn({text: 'Кнопка'})
		br
		+btn({text: 'Кнопка'})(disabled)
		br
		br
		h1 Кнопки - альтернативный вариант
		br
		//- Вариант через атрибут type
		//- +btn({text: 'Кнопка'})(type='button-alt')
		//- br
		//- +btn({text: 'Кнопка'})(type='button-alt')(disabled)

		//- Вариант через миксин btn-alt
		+btn-alt({text: 'Кнопка'})
		br
		+btn-alt({text: 'Кнопка'})(disabled)
		br
		h1 Кнопки слайдера
		br 
		+slider({current: "01", total: "04"})
		br
		+slider({current: "01", total: "04"})(disabled)
		br
		h1 Ссылки
		br 
		+link({text: "Sustainalytics.com", url: '#', icon: true})
		br
		br
		+link({text: "Sustainalytics.com", url: '#', icon: true, disabled: true})
		br
		br
		p(style="font-size: 16px; font-family: 'Arial';")
			| Для подключения сервиса добавьте номер 
			+link({text:'+7(921)058-57-19', url: '#', icon: false})
			|  в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже
		br
		h1 Переключатель
		br
		+switch({})
		br
		br
		+switch({disabled: true})