extends ../../build_modules/common

block body
    +accordion({ title: 'Lorem ipsum dolor', content: [
        { subtitle: '1. Nullam tincidunt vestibulum porttitor', text: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' },
        { subtitle: '2. Class aptent taciti sociosqu ad litora', text: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' },
        { subtitle: '3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget', text: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' },
        { subtitle: '4. Mauris ut suscipit tellus', text: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' },
        { subtitle: '5. Nullam placerat porta libero, vel maximus augue euismod eget', text: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.' },
    ] })

