extends ../../build_modules/common


block body
    .block
        p.title Состояние кнопки
        +button
    .block
        p.title Кнопки слайдера
        +slider
    .block
        p.title Ссылки
        +link
    .block
        p.title Переключатель
        +switch


