extends ../../build_modules/common

block body
    style
        include ./index.scss
    +example-button()
    +example-button()
    +wrapper
        +vacancy-header
    +wrapper
        +section({ title: 'Вам предстоит', data: 'responsibilities' })
        +section({ title: 'Мы ожидаем', data: 'requirements' })
        +section({ title: 'Мы предлагаем', data: 'conditions' })
