extends ../../build_modules/common


block body
    +spoiler({title_button: '1. Nullam tincidunt vestibulum porttitor', 
    content: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.'})
    +spoiler({title_button: '1. Nullam tincidunt vestibulum porttitor', 
    content: 'Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.'})