extends ../../build_modules/common

block body

    +example-button()
    +example-button()
    .accordion 
        h1.accordion__title Lorem ipsum dolor
        ul.accordion__list
            each accordionItem, index in accordionData
                +accordion-example({title:`${index+1}. ${accordionItem.title}`, text:`${accordionItem.text}`})
