extends ../../build_modules/common

block body
    .container(style='padding: 20px')
        .wrapper(style='margin-bottom: 10px')
            +example-button({text: 'example text'})
        .wrapper(style='margin-bottom: 10px')
            +example-button({text: 'disabled'})(disabled='')
        .wrapper(style='margin-bottom: 10px')
            +button-outline({text: 'Outline'})
        .wrapper(style='margin-bottom: 10px')
            +button-outline({text: 'Outline'})(disabled='')
        .wrapper(style='margin-bottom: 10px')
            +button-outline({text: 'Alternate'})(class='button-outline_alt')
        .wrapper(style='margin-bottom: 10px')
            +button-outline({text: 'Alternate'})(disabled='' class='button-outline_alt')