extends ../../build_modules/common

block body
    div(style="margin: 20px")
        +input-field({type: "email", caption: "E-mail", error: "Error message"})
    div(style="margin: 20px")
        +input-field({type: "email", caption: "E-mail", error: "Error message"}).input-field_valid
    div(style="margin: 20px")
        +input-field({type: "email", caption: "E-mail", error: "Error message"}).input-field_invalid