//colors
$white-color: #fff;
$black-color: #111;
$cobolt-color: #0041A0;
$blue-color: #002F6C;
$red-color: #FF0000;
$dark-red-color: #BF1D26;
$dark-red-2-color: #81080F;
$grey-1-color: #BCBCBC;
$grey-2-color: #DEDEDE;
$grey-3-color: #F4F4F4;
$steel-color: #909090;
$focus-border-color: #99B3D8;

//fonts
$arial-font: 'Arial', sans-serif;

.text {
  font-family: $arial-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
}