include ../components/flex-container/flex-container
include ../components/grid-container/grid-container

-
  var bannerList = [
          {title:'Мостовая сталь/Стальные конструкции мостов', color:'grey'},
          {title:'Железобетонные конструкции мостов', color:'grey'},
          {title:'Дорожные ограждения барьерного типа', color:'grey'},
          {title:'Шпунтовой замок', color:'dark-blue'},
          {title:'Мостовой крепеж', color:'grey'},
          {title:'Профили для деформационных швов', color:'blue'},
          {title:'Плетеные габионы', color:'grey'},
          {title:'Модульные мосты', color:'grey'}]

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Задание 1

    body
        main
            h2 FlexBox
            +flex-container

            hr

            h2 Grid layout
            +grid-container
