extends ../../build_modules/common



block body
    //- +example-button()
    //- +example-button()

    +main-title({date: "24 октября 2023", title: 'Консультант SAP PO'})
    
    +grid()
    
    