extends ../../build_modules/common


block body
    //- +example-button({text: 'example text'})
    //- +example-button({text: 'disabled'})(disabled='')
    
    //Button
    +button({text: 'Кнопка'})
    +button({text: 'Кнопка'})(disabled='')

    // Slides-btn
    +slides-btn({current: '01', total: '04'})
    +slides-btn({current: '01', total: '04'})(disabled='')

    //Links
    +links({url: 'Sustainalytics.com', before: 'Добавьте', after: 'в контакты', number: '+7(921)058-57-19'})
    +links({url: 'Sustainalytics.com', before: 'Добавьте', after: 'в контакты', number: '+7(921)058-57-19'})(disabled='')

    //Switch
    +switch()
    +switch()