extends ../../build_modules/common


block body
    +checkbox({id:'policy',label:'qwerty'})
    +checkbox({id:'policy1',label:'qwerty',disabled:true})
    +checkbox({id:'policy2',label:'qwerty',disabled:true,checked:true})
    +checkbox({id:'policy3',label:'qwerty'})
    +checkbox({id:'policy4',label:'Вы подтверждаете, что ознакомились',ref:'http://mock-address-change-me',link:' c политикой обработки персональных данныx'})
    +button({text:'Прикрепить файл'})
    +button({common:false,text:'Отправить'})
    +button({common:false,text:'Отправить',disabled:true})
    +input-email({placeholder:'Email'})
    +input-email({placeholder:'Email',disabled:true})(disabled='')
    +textarea() 
