extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +button-state0({text: 'Кнопка'})
    +button-state2({text: 'Кнопка'})
    +button-state0({text: 'Кнопка'})(disabled)
    +button-slide-left
    +button-slide-left()(disabled)
    +button-slide-right
    +button-slide-right()(disabled)
    +switch(({id: 'active'}))
    +switch({id: 'disabled'})(disabled)
    +reference('Sustainalytics.com') 
    +referenseInText(
        "+7(921)058-57-19",
        "#",
        "Для подключения сервиса добавьте номер ",
        " в ваши контакты и напишите любое сообщение, или перейдите по ссылке ниже"
        )      
    +referenseInText(
        "дополнительных сервисов",
        "#",
        "Цифровые продукты, направленные на создание ",
        " и устранение «проблемных точек» наших клиентов"
        )      
