extends ../../build_modules/common


block body
    +example-button({text: 'example text'})
    +example-button({text: 'disabled'})(disabled='')
    +button-state0({text: 'Кнопка'})
    +button-state2({text: 'Кнопка'})
    +button-state0({text: 'Кнопка'})(disabled)
    +button-slide-left
    +button-slide-left()(disabled)
    +button-slide-right
    +button-slide-right()(disabled)
