extends ../../build_modules/common


block body
    +spoiler-custom({title: '1. Nullam tincidunt vestibulum porttitor', text: "Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit. "})
    +spoiler-custom({title: '2. Class aptent taciti sociosqu ad litora', text: "Текст"})
    +spoiler-custom({title: '3. Title', text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt excepturi natus quisquam tenetur facilis soluta. Ratione dolorum impedit voluptatem libero, quis, velit esse deserunt hic pariatur, nesciunt porro animi?"})
