extends ../../build_modules/common

block body
    div(style="margin: 20px")
        +checkbox({text: "Пункт"})
        +checkbox({text: "Пункт 2"})(disabled)
        +checkbox({text: "Пункт 3"})(disabled checked)