*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --grey: #F4F4F4;
    --blue: #04306A;
    --white: #fff;
}

main {
    display: flex;
    justify-content: center;

    .container {
        width: 100%;
        max-width: 1728px;
        margin-top: 122px;
        padding:1rem;
        .title {
            color: var(--blue, #04306A);
            font-family: Arial;
            font-size: 46px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -0.92px;
            width: 100%;
            display: block;
            margin-bottom: 80px;
      
            .red {
                color: var(--Red, #FC0D1B);
            }
        }
    }
}
