$blue: #0041A0;
$darkBlue: #002F6C;
$gray: #BCBCBC;
$darkGray: #909090;
$red: #F00;
$darkRed: #BF1D26;
$blackRed: #81080F;
$extraGray: #F4F4F4;

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
