.TaskItem {
  $root: &;
  &:hover {
    #{$root}__header {
      button {
        color: #007fff;
      }
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px 24px 31px;
    color: #161f3e;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9e1ec;

    padding-bottom: 17px;
    margin-bottom: 10px;
    button {
      font-size: 24px;
      color: #161f3e;
    }
  }

  &__descr {
    width: 60%;
    line-height: 175%;
    letter-spacing: 0.15px;
  }
}

.done {
  text-decoration: line-through;
  opacity: 0.3;
}
