mixin email(props)
	.email&attributes(attributes)(data-component='email')
		label(for="email").email-label E-mail
		input&attributes(attributes)(type="email" id='email' name='email' placeholder='E-mail').email-input  
		span.email-span 