mixin only-li-content(props)
	.only-li-content(class!=`only-li-content_closed`)&attributes(attributes)(data-component='only-li-content')
		.only-li-content__header
			h3.only-li-content__header-text!= props.header
			.only-li-content__icon 
				include ../../assets/icons/li-content-cross.svg
		.only-li-content__content-block
			span.only-li-content__text!=props.text
		