@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.only-li-content {
	$root: &;

	display: block;
	cursor: pointer;

	border-bottom: 1px, solid, $grey;

	&__header{
		display: flex;
		justify-content: space-between;
		@include headerBlockPadding($xl-size,$m-size,$xs-size);
	}

	&__header-text{

		@include medFont();
		transition: $transition-color;
		color: $blue;
		
	}

	&__content-block{
		
		@include adaptiveWidthTextContent();
		@include paddingTextBlock($xl-size,$m-size,$xs-size);
		transition: $transition-slider;
		overflow: hidden;
		padding-right: 15px;
		
	}

	&__text{

		@include paddingTextBlock($xl-size,$m-size,$xs-size);
		@include smallFont();
		color: $black;

	}

	&__icon{

		display: flex;
		justify-content: center;
		
		svg{

			transform: rotate(45deg);
			transition: $transition-rotate;

			width: 40px;
			height: 40px;

			@media(max-width:1440px){
				width: 28px;
				height: 28px;
			}
			
			
		}

	}

	&_first{
		
		border-top: 1px, solid,$grey;

	}

	
	&_closed{

		#{$root}__header-text{
			color: $dark-blue;
		}

		#{$root}__icon{
			
			svg{
				transform: rotate(0);
			}
		}

		#{root}__text{
			padding-bottom: 0px;	
		}

		#{$root}__content-block{
			max-height: 0px;
			padding-bottom: 0px;	
			
		}
		
	}

}