@mixin font($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

.todo-list {
  display: grid;
  grid-template-columns: minmax(auto, 290px) auto;
  width: 100%;
  height: 100vh;

  .todo-list__sidebar {
    display: grid;
    grid-template-rows: minmax(auto, 80px) auto;
    border-bottom: 1px solid #d9e1ec;
    border-right: 1px solid #d9e1ec;

    .todo-list__sidebar__logo {
      border-bottom: 1px solid #d9e1ec;
      display: flex;
      gap: 9px;
      align-items: center;

      .todo-list__sidebar__logo__icon {
        margin-left: 45px;
      }

      .todo-list__sidebar__logo__text {
        width: 40px;
        height: 26px;
        @include font(0.7rem, 0.84rem, 500, #213c57);
      }
    }

    .todo-list__sidebar__list {
      padding: 0 25px;
      .todo-list__sidebar__list__label {
        margin-top: 40px;
        width: 240px;
        height: 52px;
        background-color: #e3edf7;
        @include font(1.6rem, 2.56rem, 400, #007fff);
        display: flex;
        gap: 16px;
        border-radius: 10px;
        align-items: center;
      }

      .todo-list__sidebar__list__label__icon {
        margin-left: 18px;
      }
    }
  }

  .todo-list__tasks {
    display: grid;
    grid-template-rows: minmax(auto, 80px) auto;
    background-color: #f3f6f9;

    .todo-list__tasks__placeholder {
      background-color: #fff;
    }

    .todo-list__tasks__wrapper {
      border-top: 1px solid #d9e1ec;
      padding: 0 40px;
      margin-bottom: 144px;

      .todo-list__tasks__caption {
        display: grid;
        grid-template-columns: minmax(auto, 204px) auto;
        margin-top: 48px;
        margin-bottom: 28px;
        max-width: 1550px;
        .todo-list__tasks__title {
          @include font(3.2rem, 4rem, 600, #213c57);
        }

        .todo-list__tasks__search {
          border-radius: 10px;
          padding: 15px 16px 15px 16px;
          width: 608px;
          height: 56px;
          background: #ffff;
          justify-self: end;
        }
      }

      .todo-list__tasks__list {
        display: grid;
        grid-template-columns: minmax(auto, 1550px);
        gap: 20px;
        .todo-list__task {
          padding: 24px 24px 31px 24px;
          border-radius: 10px;
          background-color: #ffff;
          cursor: pointer;

          &:hover {
            .todo-list__task__title {
              color: #007fff !important;
            }
          }

          .todo-list__task__title {
            position: relative;
            @include font(2.4rem, 3.1rem, 400, rgba(22, 31, 62, 0.9));
            padding-bottom: 17px;
            border-bottom: 1px solid #e7eaee;
            margin-bottom: 10px;

            .todo-list__task__close {
              position: absolute;
              bottom: 23px;
              right: 30px;
            }

            .todo-list__task__title__done {
              text-decoration: line-through;
              color: rgba(22, 31, 62, 0.3);
            }
          }

          .todo-list__task__desc {
            max-width: 734px;
            @include font(1.6rem, 2.8rem, 400, rgba(22, 31, 62, 0.9));
          }
        }
      }
    }
  }
}
