mixin slider-button(props)
	- let start = '01 '
	.container
		.wrapper
			button.slider-button.slider-button__back&attributes(attributes)
				+svg('arrow-slider').slider-button__arrow
			button.slider-button.slider-button__forward&attributes(attributes)
				+svg('arrow-slider').slider-button__arrow
		p.slider-button__counter!=`${start}/${props.amount}`