mixin slider-button()
	.slider-buttons__wrapper
		button(class="slider-button slider-button__left")&attributes(attributes)
			+svg('arrowSlider').slider-button__left__svg
		button(class="slider-button slider-button__right")&attributes(attributes)
			+svg('arrowSlider').slider-button__right__svg