@import '../variables.scss';

.slider-button {
	$root: &;

	display: flex;
	align-items: center;

	.btn-group {
		display: flex;
		gap: 10px;
	}

	button {
		border-radius: 50%;
		border: 1px solid $light-grey;
		background-color: transparent;
		transition: background-color 0.3s;

		&:hover {
			background: $grey;
			border: 1px solid $grey;
		}

		&:active {
			background: $light-grey;
		}

		&:focus {
			outline: 3px solid #99B3D8;
		}

		&:disabled {
			pointer-events: none;

			.icon>svg {
				fill: $disabled;
			}
		}

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				fill: $dark-blue;
			}

			&__right {
				transform: rotateZ(-180deg);
			}
		}
	}

	@media (max-width: 1919px) {
		gap: 24px;

		button {
			width: 60px;
			height: 60px;
		}

		svg {
			width: 21px;
			height: 30px;
		}
	}

	@media (min-width: 1920px) {
		gap: 40px;

		button {
			width: 80px;
			height: 80px;
		}

		svg {
			width: 28px;
			height: 40px;
		}
	}
}

.counter {
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
	color: $disabled;
	cursor: default;

	@media (max-width: 767px) {
		display: none;
	}

	@media (min-width: 768px) {
		display: block;
	}
}