mixin slider-button(props)
	.slider-button
		button.slider-button__circle&attributes(attributes)
			+svg('arrow-left').slider-button__icon
		button.slider-button__circle&attributes(attributes)
			+svg('arrow-right').slider-button__icon