mixin slider-button(props)
	.slider-button
		.btn-group
			button&attributes(attributes)
				span.icon
					+svg('button-left')
			button&attributes(attributes)
				span.icon.icon__right
						+svg('button-left')
		.counter
			span 01 / 
			span= props.number