@import '../styles/roots.scss';


.slider-button {
	width: 80px;
	height: 80px;
	margin-right: 40px;
	border-radius: 50%;
	margin-left: 10px;
	border: 1px solid $extra-grey-2;


	svg {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: none;
	}

	&:hover {
		background-color: $extra-grey;
		border: 1px solid $extra-grey;
		transition: background-color, border 0.3s ease-in-out;

	}

	&:active {
		background-color: $extra-grey-2;
		transition: background-color 0.3s ease-in-out;
	}

	&:focus-visible {
		outline: 3px solid $focus-border;
	}

	@media (max-width: 1280px) {
		width: 60px;
		height: 60px;
		margin-right: 24px;

		svg {
			width: 60px;
			height: 60px;

		}
	}
	
}

.slider-button_turn {
	$root: &;
	transform: rotate(180deg);
	margin-right: 0;
}