$steel: #8F8F8F;
$blue: #04306A;
$black: #012B34;
$black2: #111;
$extra-cobolt: #0041A0;
$main-blue: #002F6C;
$green-1: #0DB274;
$red: #EF1C1C;
$white: white;

    $base: #263238;
	$lite: #FFF;
	$brand: #FF3D00;
	$size: 48px;