$steel: #8F8F8F;
$grey: #909090;
$extra-grey-1: #BCBCBC;
$extra-grey-2: #DEDEDE;
$Grey-3: #F4F4F4;
$blue: #04306A;
$black: #012B34;
$black2: #111;
$extra-cobolt: #0041A0;
$main-blue: #002F6C;
$green-1: #0DB274;
$red: #EF1C1C;
$white: white;

    $base: #263238;
	$lite: #FFF;
	$brand: #FF3D00;
	$size: 48px;
	$Midnight: #021F45;






$main-white: #FFFFFF;
$main-red: #FF0000;
$hover-red: #BF1D26;
$active-red: #81080F;
$focus-border: #99B3D8;
$Black: #111;
