.description {
	$root: &;

	&__title {
		margin-bottom: 35px;

		color: $blue;
		font-size: 46px;
		line-height: 120%;
		letter-spacing: -0.92px;

		@media (max-width: 830px) {
			font-size: 32px;
		}

		@media (max-width: 540px) {
			font-size: 27px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__item {
		display: flex;
		gap: 8px;

		color: $dark-aqua;
		font-size: 24px;
		line-height: 140%;

		@media (max-width: 830px) {
			font-size: 18px;
		}

		@media (max-width: 540px) {
			font-size: 14px;
		}

		&::before {
			content: '';

			flex-shrink: 0;
			width: 20px;
			height: 1px;
			margin-top: 16px;

			background-color: $green;
		}
	}
}