mixin description(props)
	section.description&attributes(attributes)(data-component='description')
		.description__segment
			h2.description__title Вам предстоит
			.description__items
				p.description__item Участие в проектах в роли архитектора/консультанта по интеграции данных
				p.description__item Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)
				p.description__item Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)
				p.description__item Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)
				p.description__item Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями
				p.description__item Разработка и поддержка интеграционных сценариев
		.description__segment
			h2.description__title Мы ожидаем
			.description__items
				p.description__item Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML
				p.description__item Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем
				p.description__item Опыт разработки технических заданий и постановок задач
				p.description__item Опыт описания бизнес-процессов в нотациях BPMN и UML
				p.description__item Опыт формирования требований к информационным системам
				p.description__item Опыт составления проектной документации по ГОСТ
		.description__segment
			h2.description__title Мы предлагаем
			.description__items
				p.description__item Оформление в соответствии с нормами ТК РФ, социальные гарантии
				p.description__item Крупные проекты в компании–лидере отрасли
				p.description__item Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов
				p.description__item Полис ДМС (включая стоматологию)
				p.description__item Доступ к корпоративной OnLine библиотеке
				p.description__item Обучение в программах Корпоративного университета
		