mixin description(props)
	section.description(class!= props.className)&attributes(attributes)(data-component='description')
		h2.description__title!= props.title
		ul.description__list
			each item in props.items
				li.description__item!= item