mixin header(props)
	.header&attributes(attributes)(data-component='header')
		//Your code here
		.header__date 18 декабря 2020 
		.header__title Консультант SAP PO
		.header__info 
			span Просмотров:&nbsp;&nbsp;
				span.header__info-views
			span Откликов:&nbsp;&nbsp;
				span.header__info-resp