mixin header(props)
	header.header&attributes(attributes)(data-component="header")
		span.header__date.header__span="18 декабря 2020"

		h1.header__title="Консультант SAP PO"

		.header__vac-info
			span.header__viewers.header__span
			span.header__response.header__span 
			+loader({size:"40px"})(class="header__loader loader_active")