mixin header(props)
	section.header&attributes(attributes)(data-component='header')
		span.header__date 18 декабря 2020
		h1.header__title Консультант SAP PO 
		ul.header__list 
			li.header__views.item Просмотров: 123
			li.header__responses.item Откликов: 12