mixin header(props)
	header.header&attributes(attributes)(data-component='header')
		time.header__date(datetime="2020-12-18") 18 декабря 2020
		h1.header__title Консультант SAP PO
		.header__info
			.header__info__views 
			.header__info__responses
		