@import '../../styles/roots.scss';

.Header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid $light-grey;
    
	&__block{
		padding-top: 29px;
		min-width: 290px;
		padding-left: 45px;
		border-right: 1px solid $light-grey;
	}
	&__logo {
		margin: 0 9px 25px 0;
	}
}