.Navbar {
    width: 290px;
    height: 1080px;
    border: 1px solid #D9E1EC;
    background: #FFF;

    &__logoBox {
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #D9E1EC;
        background: #FFF;
        padding-left: 45px;
        padding-top: 29px;
    }
    &__button {
        width: 240px;
        height: 52px;
        border-radius: 10px;
        background: #E3EDF7;
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;
        align-items: center;
        padding-left: 18px;
        margin: 40px auto;
        svg {
            width: 20px;
            height: 20px;       
        }
        span {
            color: #007FFF;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
        }
    }
}