$light-grey: #f4f4f4;
$extra-grey: #dedede;
$grey: #909090;

$disabled: #bcbcbc;

$blue: #0041a0;

$black: #111;

$red: #f00;

.text-area--wrapper {
	margin-top: 10px;
	position: relative;

	svg {
		width: 18px;
		height: 13px;
		position: absolute;
		bottom: 16px;
		right: 20px;

		opacity: 0;

		transition: opacity 0.3s ease-in-out;

		&.success {
			opacity: 1;
		}
	}
}

.text-area {
	$root: &;

	width: 100%;

	outline: none;

	padding: 12px 20px;

	border: none;
	border-radius: 20px;

	resize: none;

	overflow: auto;

	transition: background-color 0.3s ease-in-out;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.3px;

	position: relative;

	&::-webkit-scrollbar {
		width: 0;
	}

	&:hover {
		background-color: $light-grey;
	}

	&:hover + &--label {
		border: none;
	}

	&:focus {
		outline: 1px solid $blue;
		background-color: transparent;
	}

	&.error {
		outline: 1px solid $red;

		&:after {
			content: "Сообщение ошибки";
			color: $red;
			position: absolute;
			bottom: -10px;
		}
	}
}

.text-area--label {
	pointer-events: none;
	color: #111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: -0.3px;
	transition: all 0.3s ease-in-out;
	position: absolute;
	z-index: 1;
	top: 12px;
	left: 20px;

	width: calc(100% - 40px);

	padding-bottom: 14px;

	border-bottom: 1px solid $extra-grey;

	&.focus {
		border-color: transparent;
		color: $grey;
		font-size: 12px;
		line-height: 150%;
		letter-spacing: -0.2px;
		top: -20px;
	}

	&[disabled] {
		color: $disabled;
	}
}
