$blue: #04306A;
$light-blue: #0041A0;
$red: #FC0D1B;
$grey: #f4f4f4;

@mixin text($fs) {
  color: $blue;
  font-family: Arial;
  font-weight: 700;
  font-size: $fs;
}

.grey {
  background-color: $grey;
}

.blue {
  background-color: $blue;
}

.light-blue {
  background-color: $light-blue;
}

@mixin img($buttom, $right) {
  width: 65px;
  height: 36px;
  position: absolute;
  right: $right;
  bottom: $buttom;
}

.blue-arrow {
  background-image: url(/src/components/assets/image/blue-arrow.png);
}

.white-arrow {
  background-image: url(/src/components/assets/image/white-arrow.png);
}