@mixin visibilityNone{
    @media (max-width: 768px) {
		&:hover,
		&:focus {
			background-color: transparent;
			font-size: 0;
			border: none;
			outline: none;
			svg{
				display: none;
			}
			&::after{
               display: block;
			}
	}
}
}