mixin button-1(props)
	button.button-1(class="button-1_hover button-1_active button-1_focus button-1_disabled")&attributes(attributes)
		.button-1__content-box
			span.button-1__text="Кнопка"
			+svg("button-0-svg")(class="button-1__icon")