.button-1 {
	$root: &;

	background-color: #FF0000;
	display: flex;
	align-items: center;
	border: 2px solid transparent;
	padding: 14px 36px;
	border-radius: 45px;
	transition: .6s ease all;

	&__icon {
		width: 26px;
		height: 24px;
		margin-left: 12px;
		fill: white;
		stroke: white;
	}

	&__text {
		font-size: 18px;
		color: white;
	}

	&:hover {
		background-color: #BF1D26;
		border-color: transparent;
	}


	&:focus {
		border-color: #99B3D8;
	}

	&:active {
		background-color: #81080F;
		border-color: transparent;
	}

	&:disabled {
		--disabledColor: rgb(188, 187, 187);
		background-color: #F4F4F4;
		border-color: var(--disabledColor);
		cursor: no-drop;

		.button-1__icon {
			stroke: var(--disabledColor);
			fill: var(--disabledColor);
		}

		.button-1__text {
			color: var(--disabledColor);
		}
	}

	@media only screen and (max-width:1280px) {
		padding: 10px 20px;

		&__text {
			font-size: 16px;
		}

		&__icon {
			width: 22px;
			height: 20px;
		}
	}

	@media only screen and (max-width:768px) {
		padding: 7px 20px;
	}

	@media only screen and (max-width:375px) {
		padding: 7px 35%;
	}
}