.button-1 {
	$root: &;

	background-color: #FF0000;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0px 16px;
	height: 54px;
	width: 169px;
	border: 1px solid #BCBCBC;
	border-radius: 45px;
	transition: .6s ease all;

	&__content-box {
		width: 95px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__icon {
		width: 26px;
		height: 24px;
		fill: white;
		stroke: white;
	}

	&__text {
		font-size: 18px;
		color: white;
	}

	&_hover:hover {
		background-color: #BF1D26;
		border-color: transparent;
	}


	&_focus:focus {
		border: #99B3D8 3px solid;
	}

	&_active:active {
		background-color: #81080F;
		border-color: transparent;
	}

	&_disabled:disabled {
		--disabledColor: rgb(188, 187, 187);
		background-color: #F4F4F4;
		border-color: var(--disabledColor);
		cursor: no-drop;
		.button-1__icon {
			stroke: var(--disabledColor);
			fill: var(--disabledColor);
		}

		.button-1__text {
			color: var(--disabledColor);
		}
	}

	@media only screen and (max-width:1280px) {
		&__content-box {
			width: 80px;
		}

		&__text {
			font-size: 16px;
		}

		&__icon {
			width: 22px;
			height: 20px;
		}

		width: 129px;
		height: 44px;
	}

	@media only screen and (max-width:768px) {
		height: 38px;
	}

	@media only screen and (max-width:375px) {
		width: 327px;
		justify-content: space-evenly;

		&__content-box {
			width: 90px;
		}
	}
}