mixin button-border(props)
	- var colorClass = props.color === 'red' ? 'red-button' : '' 
	button.button-border&attributes(attributes, {'class': colorClass}) 
		span.button-border__text!= props.text
		include ../../assets/icons/button_arrow.svg
