include ../button/button
include ../input/input
include ../textarea/textarea

mixin feedback(props)
	.feedback&attributes(attributes)(data-component='feedback')
		h2.feedback__title!=props.title
		form.feedback__form(method='POST')
			.feedback__inputs
				+input({name: 'email', label: 'E-mail'})(id='email' type='email' name='email' required=true)
				+textarea({name: 'message', label: 'Ваше сообщение'})(id='message' name='message' required=true maxlength='1000')
			.feedback__upload
				label.feedback__label-upload(for='upload-file') Прикрепить файл
					+svg('cross').feedback__upload-svg
				input.feedback__upload-file(id='upload-file' type='file' name='document' accept='.pdf, .doc, .doc')
			.feedback__policy
				input.feedback__input-policy(type='checkbox' id='policy' name='confirm' required=true).feedback__policy-input
				label(for='policy').feedback__policy-label Вы подтверждаете, что ознакомились <a href='#'>c политикой обработки персональных данных</a> 
			.feedback__btn
				+button({text: 'Отправить'})(type='submit')