mixin feedback(props)
	section.feedback&attributes(attributes)(data-component='feedback')
		h3.feedback__title= props.title
		form.feedback__form
			+input-text({label: "E-mail", type: "email", id: "email", required: "true"}).feedback__form-email
			+input-checkbox({labelBasic: "Вы подтверждаете, что ознакомились", labelHighlight: "c политикой обработки персональных данных", id: "confirm", required: "true"}).feedback__form-confirm
			+form-button({text: "Отправить", icon: "button-arrow"}).feedback__form-button
			+form-response().feedback__form-response