include ../button/button

mixin feedback(props)
	.feedback&attributes(attributes)(data-component='feedback')
		h2.feedback__title!=props.title
		form.feedback__form(method='POST')
			.feedback__email
				label(for='email') E-mail
				input.feedback__input-email(id='email' type='email' name='email' required=true)
			.feedback__policy
				input.feedback__input-policy(type='checkbox' id='policy' name='confirm' required=true).feedback__policy-input
				label(for='policy').feedback__policy-label Вы подтверждаете, что ознакомились <a href='#'>c политикой обработки персональных данных</a> 
			.feedback__btn
				+button({text: 'Отправить'})(type='submit')
				.feedback__success
					+svg('success')
					p Форма успешно отправлена
				.feedback__error
					p Ошибка отправки, попробуйте позже