mixin checkbox(props)
	label.checkbox(for='checkbox-name')
		input.checkbox__invisible-checkbox&attributes(attributes)(type="checkbox", id='checkbox-name')
		span.checkbox__pseudo-checkbox
			span.checkbox__pseudo-switcher