mixin checkbox(props)
	.checkbox
		input.checkbox__invisible-checkbox&attributes(attributes)(type="checkbox", id=`${props.id}`)
		label.checkbox__visible-checkbox(for=`${props.id}`)
			span.checkbox__pseudo-checkbox(for="second")
				span.checkbox__pseudo-switcher