.checkbox {
	$root: &;
	position: relative;

	&_disabled {
		opacity: .4;
		pointer-events: none;
		.checkbox__input:not(:checked):focus + label::before {
			outline: none;
		}
	}

	&__label {
		color: #111;
		font-family: 'Arial',sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -1px;
		cursor: pointer;
		padding-left: 28px;
	}

	&__input:not(:checked) + label:after {
    opacity: 0;
	}

	&__input:checked + label:after {
    opacity: 1;
	}

	&__input:checked + label:before, 
	&__input:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
		height: 16px;
	} 

	&__input:not(:checked):focus + label::before {
		outline: 2px solid #99B3D8;
	}

	&__input:not(:checked) + label:before {
		border: 1px solid #bcbcbc;
    background-color: #ffffff;
	}
		
	&__input:not(:checked) + label:hover::before {
		border: 1px solid #0041A0;
    background-color: #ffffff;
	}

	&__input:checked + label:before {
		background-color: #0041A0;
		border: 1px solid #0041A0;
	}

	&__input:checked + label:after, 
	&__input:not(:checked) + label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
		left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
	}

}