mixin checkbox(props)
	div.checkbox
		input(class="checkbox--custom" type="checkbox" name="checkbox" id="checkbox")
		label(class="checkbox__label" for="checkbox")
			p Вы подтверждаете, что ознакомились с 
				a(href="#")  политикой обработки персональных данных
	label(class="validate__label validate__label--checkbox" for="checkbox")