.spoiler-item {
	$root: &;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #E6E6E6;

    &:hover {
        cursor: pointer;
    }

    &__text {
        display: none;
        margin-bottom: 10px;
        margin-top: 30px;   
        
        font-size: 20px;
        line-height: 1.5;
     }
 
     &__block { 
         display: flex;
         justify-content: space-between;
         align-items: center;

         gap: 10px;
     }

    &:first-of-type {
        border-top: 1px solid #E6E6E6;
    }

    &__svg {
        width: 28px;
        height: 28px;
    }

	@media (max-width: 1440px) {
        &__name {
            font-size: 27px;
        }

        &__text {
            font-size: 15px;
        }

        &__svg {
            min-width: 20px;
            max-width: 20px;

            height: 20px;
        }
    }

    @media (max-width: 1280px) or (max-width: 375px) {
        &__name {
            font-size: 24px;
        }

        &__text {
            font-size: 14px;
        }

        &__svg {
            min-width: 16px;
            max-width: 16px;

            height: 16px;
        }
    }

    @media (max-width: 768px) {
        &__name {
            font-size: 27px;
        }

        &__text {
            font-size: 15px;
        }

        &__svg {
            min-width: 20px;
            max-width: 20px;
            
            height: 20px;
        }
    }

    @media (max-width: 375px) {

        &__text {
            font-size: 14px;
        }

    }
}