.spoiler-item {
	$root: &;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #E6E6E6;

    &:hover {
        cursor: pointer;
    }
    
    &__text {
        display: none;
        margin-bottom: 10px;
        margin-top: 30px;   
        
        font-size: 20px;
        line-height: 1.5;
     }
 
     &__block { 
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

    &:first-of-type {
        border-top: 1px solid #E6E6E6;
    }

    &__svg {
        width: 47px;
        height: 47px;
    }

	
}