.submit-button {
  $root: &;

  height: 48px;
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: $grey-1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 14px 0px 18px;
  gap: 14px;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 27px;
  }

  &__text {
    color: $black;
    font-size: 16px;
    line-height: 16px;
  }

  &__icon {
    color: $blue;
    width: 32px;
    height: 22px;
  }

  &:hover {
    background: $cobolt;
    border-color: $cobolt;

    #{$root}__text {
      color: $white;
    }

    #{$root}__icon {
      color: $white;
    }
  }

  &:active {
    background: $blue;
    border-color: $blue;

    #{$root}__text {
      color: $white;
    }

    #{$root}__icon {
      color: $white;
    }
  }

  &:focus {
    background: none;

    #{$root}__text {
      color: $cobolt;
    }

    #{$root}__icon {
      color: $cobolt;
    }

    &::before {
      border-color: $blue-light;
    }
  }

  &:disabled {
    pointer-events: none;

    #{$root}__text {
      color: $steel;
    }

    #{$root}__icon {
      color: $steel;
    }
  }
}
