mixin accordion-example(props)
	.accordion-example&attributes(attributes)(data-component='accordion-example')
		button.accordion-example__button=`${props.title}`
			+svg('button_icon').accordion-example__button-icon
		p.accordion-example__text=`${props.text}`