$title-color: #012b34;
$title-color-active: #114c9a;
$title-size-1920: 36px;
$title-size-1440: 27px;
$title-size-1280: 24px;
$title-size-768: 27px;
$title-size-375: 24px;

$text-color: #000402;
$text-size-1920: 20px;
$text-size-1440: 15px;
$text-size-1280: 14px;
$text-size-768: 15px;
$text-size-375: 15px;

$accordion-item-paddings-1920: 30px;
$accordion-item-paddings-1440: 24px;
$accordion-item-paddings-1280: 20px;
$accordion-item-paddings-768: 20px;
$accordion-item-paddings-375: 20px;

$text-block-width-1920: 942px;
$text-block-width-1440: 840px;
$text-block-width-1280: 640px;
$text-block-width-768: 612px;
$text-block-width-375: 100%;

$border-color: #e6e6e6;
