.section {
	$root: &;

	margin: 0 auto;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	max-width: 1600px;

	&__title {
		margin-top: 183px;
		margin-bottom: 80px;
		font-family: 'Roboto', sans-serif;
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -1.28px;
		color: var(--DARK-TEAL, #012B34);
	}
}
