mixin section(props)

    .section&attributes(attributes)(data-component='section')
        h4.section__title Вам предстоит
        ul.section__list.section__list_responsibilities
        h4.section__title Мы ожидаем
        ul.section__list.section__list_requirements
        h4.section__title Мы предлагаем
        ul.section__list.section__list_conditions
