mixin contact-form(props)
	.contact-form&attributes(attributes)(data-component='contact-form')
		//Your code here
		.contact-form__item
			.contact-form__title Форма обратной связи
		.contact-form__item
			form(class='contact-form__form' id='form' method='POST')
				.contact-form__email-wrapper
					input(class='contact-form__email-input' placeholder='E-mail')
					.contact-form__email-text E-mail
					img(class='contact-form__email-img' src='../assets/images/Union.png')
					.contact-form__email-error Поле 'E-mail' обязательно
				.contact-form__message-wrapper
					textarea(class='contact-form__message-input' placeholder='Ваше сообщение' spellcheck="false")
					.contact-form__message-text Ваше сообщение
					img(class='contact-form__message-img' src='../assets/images/Union.png')
					.contact-form__message-error Поле 'Ваше сообщение' обязательно
					
				.contact-form__files-wrapper
					.contact-form__files-input
						input(class='contact-form__files-input-real' type="file" name="file" id="file" accept=".pdf,.doc,.docx" multiple)
						label(class='contact-form__files-input-custom' for='file')
							span Прикрепить файл
						div(class='contact-form__files-input-item' data-file='1') Документ 
							span DOCS, 106 kB
							img(class='contact-form__files-input-img' src='../assets/images/Group.png')
						div(class='contact-form__files-input-item' data-file='2') Документ 
							span PDF, 106 kB
							img(class='contact-form__files-input-img' src='../assets/images/Group.png')
					.contact-form__files-error Максимальный размер файла 5 MB
					.contact-form__files-window
						.contact-form__files-window-content Вы можете загрузить только 2 документа


				label.contact-form__checkbox
						input(class='contact-form__checkbox-real' type='checkbox' name='checkbox')
						span.contact-form__checkbox-custom
						p Вы подтверждаете, что ознакомились 
							a(class='contact-form__link' href='#contact-form__checkbox') c политикой обработки персональных данныx
				button(class='contact-form__btn' method='post' type='submit' form='form')
					span.contact-form__btn-text Отправить
					img(class='contact-form__btn-img-blue' src='../assets/images/Vector-blue.png')
					img(class='contact-form__btn-img-grey' src='../assets/images/Vector-grey.png')
					img(class='contact-form__btn-img-light' src='../assets/images/Vector-light.png')
					img(class='contact-form__btn-img-white' src='../assets/images/Vector-white.png')