mixin input-file({ name='file',text='Прикрепить файл'}={})
	.input-file&attributes(attributes)(data-component='input-file')
		input.input-file__input(type="file", name=name)
		label.input-file__label(for=name)=text
			+svg('cross').input-file__svg
		