mixin scroll-buttons-2(props)
	.scroll-buttons-2
		button.scroll-buttons-2__bt&attributes(attributes)
			+svg("scroll-button-2-svg")(class="scroll-buttons-2__icon scroll-buttons-2__icon-left")
		button.scroll-buttons-2__bt&attributes(attributes)
			+svg("scroll-button-2-svg")(class="scroll-buttons-2__icon scroll-buttons-2__icon-right")