mixin scroll-buttons-2(props)
	.scroll-buttons-2
		button.scroll-buttons-2__bt(class="scroll-buttons-2__bt_hover scroll-buttons-2__bt_active scroll-buttons-2__bt_focus scroll-buttons-2__bt_disabled")&attributes(attributes)
			+svg("scroll-button-2-svg")(class="scroll-buttons-2__icon scroll-buttons-2__icon-left")
		button.scroll-buttons-2__bt(class="scroll-buttons-2__bt_hover scroll-buttons-2__bt_active scroll-buttons-2__bt_focus scroll-buttons-2__bt_disabled")&attributes(attributes)
			+svg("scroll-button-2-svg")(class="scroll-buttons-2__icon scroll-buttons-2__icon-right")