@import "../../styles/colors.scss";

.button {
  font-family: "Roboto", sans-serif;
  width: 240px;
  height: 52px;
  margin: 0 auto;
  padding: 0 18px;
  border-radius: 10px;
  gap: 16px;
  background: $blue-light;
  display: flex;
  align-items: center;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: $blue-bright;
}
