.Sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-height: 100vh;
  padding: 0 25px;
  border-right: 1px solid #d9e1ec;

  &__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: 52px;
    background-color: #e3edf7;
    padding: 13px 20px 13px 20px;
    border-radius: 10px;
    margin-top: 40px;

    &__text {
      font-size: 16px;
      line-height: 160%;
      font-weight: 400;
      color: #007fff;
    }
  }
}
