include ./input-ct/input-ct
include ./checkbox-ct/checkbox-ct
include ./button/button
include ./sucsses-placeholder/sucsses-placeholder

mixin footer(props)
	.footer&attributes(attributes)(data-component="footer")
		h2.footer__title="Форма обратной связи"
		form.footer__form(action="/form" method="POST") 
			+input-ct(class="footer__input-ct")
			+checkbox-ct(class="footer__checkbox-ct")
			+loader({size:"60px"})(class="footer__loader")
			+button(class="footer__button")