@import "../../app/scss/variables.scss";
@import "./input-mail/input-mail.scss";
@import "./checkbox/checkbox.scss";

.footer {
	display: flex;
	&__title{
		width: 40%;
		font-size: 30px;
		color:$blue;
	}
	&__form{
		width: 60%;
	}
}