@import "../../app/scss/variables.scss";
@import "./input-ct/input-ct.scss";
@import "./checkbox-ct/checkbox-ct.scss";
@import "./button/button.scss";
@import "./sucsses-placeholder/sucsses-placeholder.scss";

.footer {
	display: flex;

	&__title {
		width: 40%;
		font-size: 30px;
		color: $blue;
	}

	&__form {
		width: 60%;
		padding-bottom: 2em;
	}
}