mixin vacancy-header(props)
    .vacancy-header&attributes(attributes)(data-component='vacancy-header')
        .vacancy-header__date 18 декабря 2020
        h1.vacancy-header__title Консультант SAP PO
        p.vacancy-header__stats
            span Просмотров:&nbsp;
            +loader
            span.vacancy-header__views
            span Откликов:&nbsp;
            +loader
            span.vacancy-header__responses