mixin vacancy-header(props)
	.vacancy-header&attributes(attributes)(data-component='vacancy-header')
		p.vacancy-header__date #{props.date}
		h1.vacancy-header__title #{props.title}
		.vacancy-header__statistics
			span.vacancy-header__views Просмотров: #{props.views}
			span.vacancy-header__responses Откликов: #{props.respons}
		+loader()
