mixin vacancy-header(props)
    header.vacancy-header&attributes(attributes)(data-component='vacancy-header')
        span.vacancy-header__date 18 декабря 2020
        h3.vacancy-header__title Консультант SAP PO
        .vacancy-header__data
            span.vacancy-header__views Просмотров:
            span.vacancy-header__reacts Откликов:
