-
	const items1 = [
		{text: 'Участие в проектах в роли архитектора/консультанта по интеграции данных'},
		{text: 'Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)'},
		{text: 'Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.)'},
		{text: 'Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)'},
		{text: 'Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями'},
		{text: 'Разработка и поддержка интеграционных сценариев'},
	]

	const items2 = [
		{text: 'Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML'},
		{text: 'Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем'},
		{text: 'Опыт разработки технических заданий и постановок задач'},
		{text: 'Опыт описания бизнес-процессов в нотациях BPMN и UML'},
		{text: 'Опыт формирования требований к информационным системам'},
		{text: 'Опыт составления проектной документации по ГОСТ'},
	]

	const items3 = [
		{text: 'Оформление в соответствии с нормами ТК РФ, социальные гарантии'},
		{text: 'Крупные проекты в компании–лидере отрасли'},
		{text: 'Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов'},
		{text: 'Полис ДМС (включая стоматологию)'},
		{text: 'Доступ к корпоративной OnLine библиотеке'},
		{text: 'Обучение в программах Корпоративного университета'},
	]

mixin vacancy-page(props)
	.vacancy-page&attributes(attributes)(data-component='vacancy-page')
		+vacancy-header

		section.vacancy-page__description-container
			+description-block({ items: items1, title: 'Вам предстоит' })
			+description-block({ items: items2, title: 'Мы ожидаем' })
			+description-block({ items: items3, title: 'Мы предлагаем' })

		+feedback-form