.button-state2 {
	$root: &;

	display: flex;
	margin: 10px;
	width: 138px;
	height: 48px;	
	padding: 0px 14px 0px 18px;
	justify-content: center;
	align-items: center;
	gap: 14px;
	border-radius: 25px;	
    background-color: #F00;
	transition: all .3s;

	    &:disabled {
		    opacity: 0.5;
		    pointer-events: none;
	    }

        @media (max-width: 1280px) {
            width: 119px;
	        height: 42px;
        }
        @media (max-width: 768px) {
            width: 130px;
	        height: 42px;
        }
        @media (max-width: 375px) {
            width: 327px;
	        height: 42px;
        }

	    @media (hover: hover) {
		    &:hover {
			    background-color: #BF1D26;
	        }
	    }
	    
		&:active {
			background-color: #81080F;
	    }

        &:focus {
           border: 3px solid #99B3D8;			
        }
        

	    &__text {
            color:  #fff;
            font-family: Grtsk Peta;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; 
            letter-spacing: -0.32px;
            transition: all .3s;

		    @media (max-width: 1280px) {
			    font-size: 14px;
		    }
		    @media (max-width: 768px) {
			    font-size: 16px;
		    }
	    }

	    &__svg {
		    width: 32px;
		    fill: #fff;
		    transition: all .3s;	
            
            @media (max-width: 1280px) {
			    width: 24px;
		    }
	    }
}
