mixin flex-container()
    section.flex-container.container
        h1.flex-container__title <span>Комплексные&nbsp</span> предложения для мостостроения
        div.flex-container__wrapper 
            div.flex-container__row-1
                div.flex-container__item
                div
                    div.flex-container__item
                    div.flex-container__item
            div.flex-container__row-2
                div.flex-container__item
                div.flex-container__item
                div.flex-container__item
            div.flex-container__row-3
                div.flex-container__item
