mixin flex-container()
    section.flex-container
        span.flex-container__header.flex-container__header__main-header 
            |#[span.flex-container__header.flex-container__header__main-header__red-text  Комплексные&nbsp] 
            | предложения для мостостроения
        div.flex-wrapper
            div.flex-wrapper__block.flex-wrapper__block__first-big-block
                span.flex-container__header.flex-container__header__header-in-block__blue-text  
                    | Мостовая сталь/Стальные конструкции мостов
                div.image__blue-arrow
                    include ../../assets/icons/blue_arrow.svg
            div.flex-wrapper__block.flex-wrapper__block__small-rectangular-blocks
                div.flex-wrapper__block.flex-wrapper__block__first-small-rectangular-block
                    span.flex-container__header.flex-container__header__header-in-block__blue-text  
                        | Железобетонные конструкции мостов
                    div.image__blue-arrow.image__blue-arrow__in-small-blocks
                        include ../../assets/icons/blue_arrow.svg
                div.flex-wrapper__block.flex-wrapper__block__second-small-rectangular-block
                    span.flex-container__header.flex-container__header__header-in-block__blue-text  
                        | Дорожные ограждения барьерного типа
                    div.image__blue-arrow.image__blue-arrow__in-small-blocks
                        include ../../assets/icons/blue_arrow.svg
            div.flex-wrapper__block.flex-wrapper__block__row-small-blocks
                div.flex-wrapper__block.flex-wrapper__block__first-block-blue
                    span.flex-container__header.flex-container__header__header-in-block__white-text  
                        | Шпунтовой замок
                    div.image__white-arrow.image__white-arrow__in-blue-block
                        include ../../assets/icons/white_arrow.svg
                div.flex-wrapper__block.flex-wrapper__block__second-block-white
                    span.flex-container__header.flex-container__header__header-in-block__blue-text 
                        | Мостовой крепеж
                    div.image__blue-arrow.image__blue-arrow__in-white-block
                        include ../../assets/icons/blue_arrow.svg
                div.flex-wrapper__block.flex-wrapper__block__third-block-blue 
                    span.flex-container__header.flex-container__header__header-in-block__white-text 
                        | Профили для деформационных швов
                    div.image__white-arrow.image__white-arrow__in-blue-block
                        include ../../assets/icons/white_arrow.svg 
            div.flex-wrapper__block.flex-wrapper__first-bottom-block
                span.flex-container__header.flex-container__header__header-in-block__blue-text 
                    | Плетеные габионы
                div.image__blue-arrow.image__blue-arrow__in-white-block 
                    include ../../assets/icons/blue_arrow.svg
            div.flex-wrapper__block.flex-wrapper__second-bottom-block
                span.flex-container__header.flex-container__header__header-in-block__blue-text 
                    | Модульные мосты
                div.image__blue-arrow.image__blue-arrow__in-white-block 
                    include ../../assets/icons/blue_arrow.svg
            
                
        
