mixin flex-container()
    section.flex-container
        h1.flex-container__title <span>Комплексные</span>предложения для мостостроения
        .flex-container__items
            a.flex-container__item(class="gray block0" href="/") Мостовая сталь/Стальные конструкции мостов
            .flex-container__column-direction
                a.flex-container__item(class="gray block1" href="/") Железобетонные конструкции мостов
                a.flex-container__item(class="gray block2" href="/") Дорожные ограждения барьерного типа
            a.flex-container__item(class="blue block3" href="/") Шпунтовой замок
            a.flex-container__item(class="gray block4" href="/") Мостовой крепеж
            a.flex-container__item(class="lightBlue block5" href="/") Профили для деформационных швов
            a.flex-container__item(class="gray block6" href="/") Плетеные габионы
            a.flex-container__item(class="gray block7" href="/") Модульные мосты