mixin flex-container()
    section.flex-container
        h1 #[span Комплексные ]&nbsp;предложения для мостостроения
        div.wrapper-row-1.flex
            div.div_1.item-flex
                p Мостовая сталь/Стальные конструкции мостов
                img(src='../assets/images/arrow.svg')
            div.wrapper-col
                div.div_2.item-flex
                    p Железобетонные конструкции мостов
                    img(src='../assets/images/arrow.svg')
                div.div_3.item-flex
                    p Дорожные ограждения барьерного типа
                    img(src='../assets/images/arrow.svg')
        div.wrapper-row-2.flex
            div.div_4.item-flex.blue
                p Шпунтовой замок
                img(src='../assets/images/arrow-white.svg')
            div.div_5.item-flex
                p Мостовой крепеж
                img(src='../assets/images/arrow.svg')
            div.div_6.item-flex.blue-light
                p Профили для деформационных швов
                img(src='../assets/images/arrow-white.svg')
        div.wrapper-row-3.flex
            div.div_7.item-flex
                p Плетеные габионы
                img(src='../assets/images/arrow.svg')
            div.div_8.item-flex
                p Модульные мосты
                img(src='../assets/images/arrow.svg')