mixin flex-container()
    section.flex-container
        h3.flex-container__title <span class="flex-container__title_accent">Комплексные&nbsp;</span>предложения для мостостроения
        div.flex-container__flex-row.flex-container__flex-row_size_l
            a(href='#').flex-container__flex-item
                h4.flex-container__subtitle Мостовая сталь/Стальные конструкции мостов
            div.flex-container__flex-column
                a(href='#').flex-container__flex-item
                    h4.flex-container__subtitle Железобетонные конструкции мостов
                a(href='#').flex-container__flex-item
                    h4.flex-container__subtitle Дорожные ограждения барьерного типа
        div.flex-container__flex-row.flex-container__flex-row_size_m
            a(href='#').flex-container__flex-item.flex-container__flex-item_type_blue
                h4.flex-container__subtitle Шпунтовой замок
            a(href='#').flex-container__flex-item
                h4.flex-container__subtitle Мостовой крепеж
            a(href='#').flex-container__flex-item.flex-container__flex-item_type_light-blue
                h4.flex-container__subtitle Профили для деформационных швов
        div.flex-container__flex-row.flex-container__flex-row_size_s
            a(href='#').flex-container__flex-item
                h4.flex-container__subtitle Плетеные габионы
            a(href='#').flex-container__flex-item
                h4.flex-container__subtitle Модульные мосты
        
