mixin flex-card(title)
    .flex-container__item&attributes(attributes)
        h4= title
        svg(width="65" height="36" viewBox="0 0 65 36" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M58.4384 19.4L0 19.4L0 16.6L58.4384 16.6L58.4384 19.4ZM36.5378 36L34.8869 33.6L61.685 20L61.685 16L34.8869 2.4L36.5378 0L64.9316 14.4V21.6L36.5378 36Z" fill="currentColor")


mixin flex-container()
    section.flex-container
        // Your code here
        h3.flex-container__title
            span Комплексные&nbsp;
            |  предложения для мостостроения
        .flex-container__wrapper
            .flex-container__row.flex-container__row_1
                +flex-card('Мостовая сталь/Стальные конструкции мостов').flex-container__item_grey
                +flex-card('Железобетонные конструкции мостов').flex-container__item_grey
                +flex-card('Дорожные ограждения барьерного типа').flex-container__item_grey
            .flex-container__row.flex-container__row_2
                +flex-card('Шпунтовой замок').flex-container__item_blue
                +flex-card('Мостовой крепеж').flex-container__item_grey
                +flex-card('Профили для деформационных швов').flex-container__item_blue-light
            .flex-container__row.flex-container__row_3
                +flex-card('Плетеные габионы').flex-container__item_grey
                +flex-card('Модульные мосты').flex-container__item_grey
