mixin flex-container()
	section.flex-container.flex
		h1.flex-title <span>Комплексные</span>&nbsp;предложения для мостостроения
		.flex-row.flex-row-1
			.flex-item.flex-item-1
				p.flex-item__text Мостовая сталь/Стальные конструкции мостов
			.flex-block
				.flex-item.flex-item-2 
					p.flex-item__text Железобетонные конструкции мостов
				.flex-item.flex-item-3 
					p.flex-item__text Дорожные ограждения барьерного типа
		.flex-row.flex-row-2 
			.flex-item.flex-item-4
				p.flex-item__text Шпунтовой замок
			.flex-item.flex-item-5
				p.flex-item__text Мостовой крепеж
			.flex-item.flex-item-6
				p.flex-item__text Профили для деформационных швов
		.flex-row.flex-row-3 
			.flex-item.flex-item-7
				p.flex-item__text Плетеные габионы
			.flex-item.flex-item-8
				p.flex-item__text Модульные мосты 		
