mixin flex-container()
    section.flex-container
        h1 <strong>Комплексные</strong>&nbsp;предложения для мостостроения
        .upper
            .card
                h2 Мостовая сталь/Стальные конструкции мостов
                img.arrow
            .vertical
                .card
                    h2 Железобетонные конструкции мостов
                .card
                    h2 Дорожные ограждения барьерного типа
        .middle
            .card
                h2 Шпунтовой замок
            .card
                h2 Мостовой крепеж
            .card
                h2 Профили для деформационных швов
        .lower
            .card
                h2 Плетеные габионы
            .card
                h2 Модульные мосты