- 
  const items = [ 
    { value: "Мостовая сталь/Стальные конструкции мостов", width: "half", height: "doubled", color: "grey" },
    { value: "Железобетонные конструкции мостов", width: "half",  color: "grey" },
    { value: "Дорожные ограждения барьерного типа", width: "half",  color: "grey" },
    { value: "Шпунтовой замок", width: "third", color: "dark" },
    { value: "Мостовой крепеж", width: "third", color: "grey" },
    { value: "Профили для деформационных швов", width: "third",  color: "blue" },
    { value: "Плетеные габионы", width: "half", color: "grey" },
    { value: "Модульные мосты", width: "half", color: "grey" },
  ];
mixin flex-container()
  section.flex-container
    h1.flex-container__title Комплексные предложения для мостостроения  
    .flex-container__items 
      each elem in items
        .flex-container__item(class=elem.color class=elem.width class=elem.height)=elem.value