mixin flex-container()
    section.flex-container
        .flex-container__title-container
            h3.flex-container__title #[span.flex-container__title--red Комплексные] предложения для мостостроения
        .flex-container__inner-wrapper.flex-container__inner-wrapper--1
            .flex-container__inner.flex-container__inner--1 
                h4.flex-container__inner-title Мостовая сталь/Стальные конструкции мостов
                a(href="#" alt="Подробная информация.").flex-container__inner-link 
            .flex-container__inner.flex-container__inner--2 
                h4.flex-container__inner-title Железобетонные конструкции мостов
                a(href="#" alt="Подробная информация.").flex-container__inner-link
                h4.flex-container__inner-title Дорожные ограждения барьерного типа
                a(href="#" alt="Подробная информация.").flex-container__inner-link 
        .flex-container__inner-wrapper.flex-container__inner-wrapper--2
            .flex-container__inner.flex-container__inner--blue.flex-container__inner--4.flex-container__inner--height 
                h4.flex-container__inner-title Шпунтовой замок
                a(href="#" alt="Подробная информация.").flex-container__inner-link.flex-container__inner-link--white 
            .flex-container__inner.flex-container__inner--5.flex-container__inner--height  
                h4.flex-container__inner-title Мостовой крепеж
                a(href="#" alt="Подробная информация.").flex-container__inner-link  
            .flex-container__inner.flex-container__inner--light-blue.flex-container__inner--6.flex-container__inner--height   
                h4.flex-container__inner-title Профили для деформационных швов
                a(href="#" alt="Подробная информация.").flex-container__inner-link.flex-container__inner-link--white    
            .flex-container__inner.flex-container__inner--7 
                h4.flex-container__inner-title Плетеные габионы
                a(href="#" alt="Подробная информация.").flex-container__inner-link  
            .flex-container__inner.flex-container__inner--8 
                h4.flex-container__inner-title Модульные мосты
                a(href="#" alt="Подробная информация.").flex-container__inner-link
