mixin flex-container(names)
    section.flex-container
        h1.solutions-caption <span>Комплексные</span>&nbsp предложения для мостостроения
        .solutions-cards 
            each name, index in names 
                if index === 3 || index === 5
                    .solutions-card.blue
                        h3.solutions-card__title=name
                        
                else if index === 1
                    .solutions-card__wrapper  
                        .solutions-card.gray
                            h3.solutions-card__title=names[1]
                        .solutions-card.gray
                            h3.solutions-card__title=names[2]              
                else if index !== 2
                    .solutions-card.gray
                        h3.solutions-card__title=name        

