mixin flex-container()
    section.flex-container
        .title 
            p #[span Комплексные ] предложения для мостостроения

        .box 
            .box__first 
                .box__first__bridge-steel.grey
                .box__first__constructions-fences
                    .constructions.grey
                    .fences.grey
            .box__second 
                .box__second__tongue-and-groove-lock.blue
                .box__second__bridge-fasteners.grey
                .box__second__expansion-joints.light-blue
            .box__third 
                .box__third__braided-gabions.grey
                .box__third__modular-bridges.grey