mixin flex-container()
    section.flex-container
        h2
            span(style='color: #FC0D1B') Комплексные&nbsp
            | предложения для мостостроения
        div.containers-wrapper
            div.bridges-constructions
                div.block
                    h4 Мостовая сталь/Стальные конструкции мостов
                div.blocks-wrapper
                    div.block
                        h4 Железобетонные конструкции мостов
                    div.block
                        h4 Дорожные ограждения барьерного типа
            div.fasteners
                div.block
                    h4 Шпунтовой замок
                div.block
                    h4 Мостовой крепеж
                div.block
                    h4 Профили для деформационных швов
            div.modules
                div.block
                    h4 Плетеные габионы
                div.block
                    h4 Модульные мосты
