mixin flex-container()
    section.flex-container
    
        h1.flex-container__main-title

            span.flex-container__text--accent Комплексные
            | предложения для мостостроения

        nav.navigation

            div.navigation__up-wrapper
        
                a.link.navigation__link
                    h2.link__title Мостовая сталь/Стальные конструкции мостов
                    div.link__icon
                        include ../../assets/icons/arrow.svg
                
                div.navigation__up-inner

                    a.link.navigation__link
                        h2.link__title Железобетонные конструкции мостов
                        div.link__icon
                            include ../../assets/icons/arrow.svg
                    
                    a.link.navigation__link
                        h2.link__title Дорожные ограждения барьерного типа
                        div.link__icon
                            include ../../assets/icons/arrow.svg

            div.navigation__middle-wrapper

                a.link.navigation__link.link--focused
                        h2.link__title Шпунтовой замок
                        div.link__icon
                            include ../../assets/icons/arrow.svg

                a.link.navigation__link
                        h2.link__title Мостовой крепеж
                        div.link__icon
                            include ../../assets/icons/arrow.svg

                a.link.navigation__link.link--hovered
                        h2.link__title Профили для деформационных швов
                        div.link__icon
                            include ../../assets/icons/arrow.svg
            
            div.navigation__bottom-wrapper

                a.link.navigation__link
                        h2.link__title Плетеные габионы
                        div.link__icon
                            include ../../assets/icons/arrow.svg

                a.link.navigation__link
                        h2.link__title Модульные мосты
                        div.link__icon
                            include ../../assets/icons/arrow.svg    