mixin flex-container()
    section.flex-container
        div.inner-container
            h1.inner-container__header #[span Комплексные]&nbsp;предложения для мостостроения
            div.inner-container__tabs
                div.tab-row
                    div.tab-row__item.tab-row__item_large.tab-row__item_gray
                        span Мостовая сталь/Стальные конструкции мостов
                    div.tab-col
                        div.tab-row__item.tab-row__item_mid.tab-row__item_gray
                            span Железобетонные конструкции мостов
                        div.tab-row__item.tab-row__item_mid.tab-row__item_gray
                            span Дорожные ограждения барьерного типа
                div.tab-row
                    div.tab-row__item.tab-row__item_dark
                        span Шпунтовой замок
                    div.tab-row__item.tab-row__item_gray
                        span Мостовой крепеж
                    div.tab-row__item.tab-row__item_blue
                        span Профили для <br/> деформационных швов
                div.tab-row
                    div.tab-row__item.tab-row__item_mid.tab-row__item_gray.extra-margin
                        span Плетеные габионы
                    div.tab-row__item.tab-row__item_mid.tab-row__item_gray
                        span Модульные мосты
        // Your code here
