mixin flex-container()
    section.flex-container
        // Your code here
p.header
  | 
  span.header__red Комплексные
  |  предложения для мостостроения

div.container
  div.container__one
    div.container__one__left
      p.container__text Мостовая сталь/Стальные конструкции мостов
      div.arrow
    div.container__one__right
      div.container__one__right__top
        p.container__text Железобетонные конструкции мостов
        div.arrow
      div.container__one__right__bottom
        p.container__text Дорожные ограждения барьерного типо
        div.arrow
  div.container__two
    div.container__two__one
      p.container__text.white Шпунтовый замок
      div.arrow__white
    div.container__two__two
      p.container__text Мостовой крепеж
      div.arrow
    div.container__two__three
      p.container__text.white Профили для деформационных швов
      div.arrow__white
  div.container__three
    div.container__three__one
      p.container__text Плетеные габионы
      div.arrow
    div.container__three__two
      p.container__text Модульные мосты
      div.arrow
