include ../block-text/block-text.pug

mixin flex-container()
    h3.title
        span.highlighted-text Комплексные
        |  предложения для мостостроения
    section.flex-container
        .flex-container__col
            +block-text('Мостовая сталь/Стальные конструкции мостов')
        .flex-container__col
            .flex-container__row-col
                +block-text('Железобетонные конструкции мостов')
                +block-text('Дорожные ограждения барьерного типа')
    section.flex-container
        +block-text('Шпунтовой замок', 'blue')
        +block-text('Мостовой крепеж')
        +block-text('Профили для деформационных швов', 'light_blue')
    section.flex-container
        .flex-container__col
            +block-text('Плетеные габионы')
        .flex-container__col
            +block-text('Модульные мосты')