include ../card/card

mixin flex-container
    section.flex-container
        .flex-container__up-row
            .flex-container__up-row_left
                +card({title:'Мостовая сталь/Стальные конструкции мостов',colored:false,smallIndentation:false})
            .flex-container__up-row_right
                +card({title:'Железобетонные конструкции мостов',colored:false})
                +card({title:'Дорожные ограждения барьерного типа',colored:false})
        .flex-container__middle-row
            +card({title:'Шпунтовой замок',colored:true})
            +card({title:'Мостовой крепеж',colored:false})
            +card({title:'Профили для деформационных швов',colored:true})
        .flex-container__bottom-row
            +card({title:'Плетеные габионы',colored:false})
            +card({title:'Модульные мосты',colored:false})
