mixin flex-container()
    section.flex-container
        .title 
            h1 #[span Комплексные ]предложения для мостостроения

        .box 
            .box__first 
                .box__first__bridge-steel.grey
                    p Мостовая сталь/Стальные конструкции мостов
                    .img
                .box__first__constructions-fences
                    .constructions.grey
                        p Железобетонные конструкции мостов
                    .fences.grey
                        p Дорожные ограждения барьерного типа
            .box__second 
                .box__second__tongue-and-groove-lock.blue
                    p.white Шпунтовой замок
                .box__second__bridge-fasteners.grey
                    p Мостовой крепеж
                .box__second__expansion-joints.light-blue
                    p.white Профили для деформационных швов
            .box__third 
                .box__third__braided-gabions.grey
                    p Плетеные габионы
                .box__third__modular-bridges.grey
                    p Модульные мосты