mixin flex-container()
    section.flex-container
        h2.flex-title.title
            span.red Комплексные
            span предложения для мостостроения
        .flex
            .row 
                .flex__item.flex__item-1
                    span.item__text Мостовая сталь/Стальные конструкции мостов
                    include ../../icons/arrow.svg

                .col
                    .flex__item.flex__item-2
                        span.item__text Железобетонные конструкции мостов
                        include ../../icons/arrow.svg
                            
                    .flex__item.flex__item-3
                        span.item__text Дорожные ограждения барьерного типа
                        include ../../icons/arrow.svg
                    
            .row
                .flex__item.flex__item-4
                    span.item__text Шпунтовой замок
                    include ../../icons/arrow.svg
                        
                .flex__item.flex__item-5
                    span.item__text Мостовой крепеж
                    include ../../icons/arrow.svg
                        
                .flex__item.flex__item-6
                    span.item__text Профили для деформационных швов
                    include ../../icons/arrow.svg
                    
            .row 
                .flex__item.flex__item-7
                    span.item__text Плетеные габионы
                    include ../../icons/arrow.svg
                        
                .flex__item.flex__item-8
                    span.item__text Модульные мосты
                    include ../../icons/arrow.svg
                    



