include ../content-block/content-block

mixin flex-container()
    section.flex-container
        h2.flex-container__title
            span.flex-container__title_accent Комплексные предложения&nbsp;
            |  для мостостроения

        .flex-container__horizontal-wrapper
            +content-block('grey', 'big', 'Мостовая сталь/Стальные конструкции мостов')

            .flex-container__wrapper
                +content-block('grey', 'small', 'Железобетонные конструкции мостов')
                +content-block('grey', 'small', 'Дорожные ограждения барьерного типа')


        .flex-container__horizontal-wrapper
            +content-block('dark-blue', 'middle', 'Шпунтовой замок')
            +content-block('grey', 'middle', 'Мостовой крепеж')
            +content-block('blue', 'middle', 'Профили для деформационных швов')


        .flex-container__horizontal-wrapper
            +content-block('grey', 'small', 'Плетеные габионы')
            +content-block('grey', 'small', 'Модульные мосты')
