include ../product-card/product-card

mixin flex-container()
    include ../header/header
    section.flex-container
        div.flex-container__wrapper.flex-container__wrapper_type_square
            +product-card('Мостовая сталь/Стальные конструкции мостов')
        div.flex-container__wrapper.flex-container__wrapper_type_square
            +product-card('Железобетонные конструкции мостов')
            +product-card('Дорожные ограждения барьерного типа')
        div.flex-container__wrapper.flex-container__wrapper_type_rectangle
            +product-card('Шпунтовой замок', 'bg-dark')
            +product-card('Мостовой крепеж')
            +product-card('Профили для деформационных швов', 'bg')
        div.flex-container__wrapper.flex-container__wrapper_type_rectangle
            +product-card('Плетеные габионы')
            +product-card('Модульные мосты')
