mixin flex-container()
    section.flex-container
        .flex-container__title #[span.flex-container__red-text Комплексные ]предложения для мостостроения
        .flex-container__block-1
            .flex-container__item Мостовая сталь/Стальные конструкции мостов
            .flex-container__item Железобетонные конструкции мостов
            .flex-container__item Дорожные ограждения барьерного типа
        .flex-container__block-2
            .flex-container__item Шпунтовой замок
            .flex-container__item Мостовой крепеж
            .flex-container__item Профили для деформационных швов
            .flex-container__item Плетеные габионы
            .flex-container__item Модульные мосты

