
mixin flex-container()
  section.flex-container
    h1.flex-container__title <span>Комплексные</span> предложения для мостостроения  
    .flex-container__items 
      .flex-container-item(class="gray doubled") Мостовая сталь/Стальные конструкции мостов
      .flex-container__column
        .flex-container-item(class="gray") Железобетонные конструкции мостов
        .flex-container-item(class="gray") Дорожные ограждения барьерного типа
      .flex-container-item(class="dark third") Шпунтовой замок
      .flex-container-item(class="gray third") Мостовой крепеж
      .flex-container-item(class="blue third") Профили для деформационных швов
      .flex-container-item(class="gray") Плетеные габионы
      .flex-container-item(class="gray") Модульные мосты
