mixin flex-container()
    .flex_container
        .flex_container_title
            h1 <span>Комплексные</span> предложения для  мостостроения
        .flex_container_wrapper
            .flex_container_first-line
                .flex_container_first-line_bridge
                    span Мостовая сталь/Стальные конструкции мостов
                    .flex_container_img.
                        <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                        19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                        2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="04306A"/> </svg>
                .flex_container_first-line_constructions-fences
                    .flex_container_first-line_construction
                        span Железобетонные конструкции мостов
                        .flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="04306A"/> </svg>
                    .flex_container_first-line_construction
                        span Дорожные ограждения барьерного типа
                        .flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="04306A"/> </svg>
            .flex_container_second-line
                .flex_container_second-line_squares
                    .flex_container_second-line_square
                        span Шпунтовой замок
                        .flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="#FFFFFF"/> </svg>
                    .flex_container_second-line_square
                        span Мостовой крепеж
                        .flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="04306A"/> </svg>
                    .flex_container_second-line_square
                        span Профили для деформационных швов
                        #fixSize.flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="#FFFFFF"/> </svg>
            .flex_container_third-line
                .flex_container_third-line_rectangles
                    .flex_container_third-line_rectangle
                        span Плетеные габионы
                        .flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="04306A"/> </svg>
                    .flex_container_third-line_rectangle
                        span Модульные мосты
                        .flex_container_img.
                            <svg><path d="M58.7053 19.4L0.348877 19.4L0.348877 16.6L58.7053 16.6L58.7053
                            19.4ZM36.8355 36L35.1869 33.6L61.9474 20L61.9474 16L35.1869
                            2.4L36.8355 0L65.1894 14.4V21.6L36.8355 36Z" fill="04306A"/> </svg>




