
mixin flex-container()
    div.title <span class="red">Комплексные</span> предложения для мостостроения
    section.flex-container
        section.firstSection
            div.column 
                div.item.item1 
                    div.item_title Мостовая сталь/Стальные конструкции мостов
                    div.icon 
                         include ../../assets/icons/arrow.svg
            div.column
                div.item.item2 
                    div.item_title Железобетонные конструкции мостов
                    div.icon 
                         include ../../assets/icons/arrow.svg
                div.item.item3
                    div.item_title Дорожные ограждения барьерного типа
                    div.icon 
                         include ../../assets/icons/arrow.svg
        section.secondSection
            div.item.item4
                div.item_title Шпунтовой замок
                div.icon 
                         include ../../assets/icons/arrow.svg
            div.item.item5
                div.item_title Мостовой крепеж
                div.icon 
                         include ../../assets/icons/arrow.svg
            div.item.item6
                div.item_title Профили для деформационных швов
                div.icon 
                         include ../../assets/icons/arrow.svg
        section.thirdSection
            div.item.item7
                div.item_title Плетеные габионы
                div.icon 
                         include ../../assets/icons/arrow.svg
            div.item.item8
                div.item_title Модульные мосты
                div.icon 
                         include ../../assets/icons/arrow.svg
