mixin flex-container()
    section.flex-container
        .flex-container__item Мостовая сталь/Стальные конструкции мостов
        .flex-container__item Железобетонные конструкции мостов
        .flex-container__item Дорожные ограждения барьерного типа

