mixin only-btn(props)
	button.only-btn&attributes(attributes)(data-component='only-btn')
		span.only-btn__text(class='only-btn_main-color')!=props.text	
		span.only-btn__icon 
			include ../../assets/icons/arrow.svg