@import '../../styles/variables.scss';
@import '../../styles//transitions.scss';

.only-btn {

	$root: &;
	display: flex;
	box-sizing: border-box;
	border-radius: 25px;
	border-width: 1px;
	border-style: solid;
	
	align-items: center;
	justify-content: center;
	transition: $background-color-fast-transition;
	cursor: pointer;

	@media (max-width:1920px){
		width: 129px;
		height: 48px;
		padding: 0px 14px 0px 18px;
		gap: 14px;
		&__icon{
			width: 32px;
			height: 34px;
		}
	}
	@media (max-width:1280px){
		width: 111px;
		height: 42px;
		padding: 0px 14px 0px 16px;
		gap:12px;
	}
	@media(max-width:768px){
		width: 121px;
		height: 42px;
		padding: 0px 14px 0px 18px;
		gap: 14px;
	}
	@media(max-width:375px){
		width: 327px;
		height: 42px;
		padding: 0px 14px 0px 14px;
		gap: 12px;
	}

	&__text{
		display: flex;
		gap:10px;
		font-family: $main-font-family;
		font-weight: $main-font-weight;
		font-size: $main-font-size;
		transition: $color-fast-transition;
		
	}

	&__icon{

		display: flex;
		width: 24px;
		height: 26px;
		gap:10px;
		justify-content: center;
		align-items: center;
		svg{
			transition: $fill-fast-transition;
		}
		
	
	}

	&_main-btn{

		color: $text-color-main;
		background-color: $background-color-main;
		border-color: $border-color-main;
		
		&:hover{

			color: $text-color-hover-main;
			background-color: $background-color-hover-main;
			svg{
				fill: $arrow-color-hover-main;
			}
			
		}

		&:disabled,
		&:disabled:active{

			color: $text-color-disabled-main;
			background-color: $background-color-disabled-main;
			border-color: $border-color-main;
			cursor: default;
			svg{
				fill:$arrow-color-disabled-main;
			}
		}

		&:focus{

			border-width: 3px;
			border-color: $border-color-focus;
			color: $text-color-focus-main;
			svg{
				fill: $arrow-color-focus-main;
			}
		}	

		
		&:active{

			color:$text-color-click-main;
			background-color: $background-color-click-main;
			svg{
				fill: $arrow-color-click-main;
			}

		}

		svg{
			fill: $arrow-color-main;
		}
	}

	&_alt-btn{

		color: $text-color-alt;
		background-color: $background-color-alt;
		
		&:hover{
			background-color:$background-color-hover-alt;
		}

		&:disabled,
		&:disabled:active{
			color: $text-color-disabled-alt;
			border-width: 0px;
			background-color: $background-color-disabled-alt;
			svg{
				fill: $arrow-color-disabled-alt;
			}
			cursor: default;
		}	

		&:active{
			background-color: $background-color-click-alt;
		}

		svg{
			fill: $White-color;
		}
	}

	&:focus{
		border-width: 3px;
		border-color: $border-color-focus;
	}	
	
}