@import '../styles/roots.scss';

.check-button {
	$root: &;
    &__label{
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		svg{
			display: none;
			position: absolute;
			left: 0;
			top: 2px;
			width: 16px;
			height: 16px;

		}
	}
	
	&__inpt {
		width: 17px;
		height: 17px;
		border: 1px solid $steel;
		margin: 0;
		margin-right: 18px;
	}

	&__inpt:checked + &__svg{
		display: block;
	}

	&__span {
		color: $main-blue;
		font-family: Arial;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		span{
			color: $steel;
		}
	}
}