mixin check-button(props)
    .check-button
        label(for='checkbox').check-button_label
           input(type='checkbox', id='checkbox')(onfocus="this.blur()").check-button_inpt
           span(tabindex='0').check-button_span 