mixin check-button(props)
	.check-button&attributes(attributes)(data-component='check-button')
		label(for='checkbox').check-button__label
			input(type='checkbox', id='checkbox').check-button__inpt
			+svg('check-done').check-button__svg
			span(tabindex='0').check-button__span <span>Вы подтверждаете, что ознакомились</span> c политикой обработки персональных данных 