@import './colors.scss';

.link-button {
	$root: &;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: 100%;
	max-width: 327px;
	padding: 8px 14px 10px 14px;
	margin-top: 40px;

	border: 1px solid $color6;
	border-radius: 24px;
	outline: 2px solid transparent;

	transition: background-color 0.3s, border-color 0.3s, outline 0.3s;

	&:disabled {
		.link-button__text {
			color: $color4;
		}

		.link-button__svg {
			fill: $color4;
		}

		border-color: $color6;

		pointer-events: none;
	}

	@media (hover: hover) {
		&:hover {
			background-color: $color3;
			border-color: $color3;

			.link-button__text {
				color: $color2;
			}

			.link-button__svg {
				fill: $color2;
			}
		}

		&:focus {
			outline: 2px solid $color7;

			.link-button__text {
				color: $color3;
			}

			.link-button__svg {
				fill: $color3;
			}
		}
	}

	&:active {
		background-color: $color5;
		border-color: $color5;

		.link-button__text {
			color: $color2;
		}

		.link-button__svg {
			fill: $color2;
		}
	}

	@media (min-width: 768px) {
		width: max-content;
		max-width: none;
		padding-left: 18px;
		gap: 14px;
	}

	@media (min-width: 1280px) {
		padding-left: 16px;
		gap: 12px;
	}

	@media (min-width: 1920px) {
		padding: 7px 14px 9px 18px;
	}

	&__text {
		font-family: Arial, sans-serif;
		font-size: 16px;
		color: $color1;

		transition: color 0.3s;

		@media (min-width: 1280px) {
			font-size: 14px;
		}

		@media (min-width: 1920px) {
			font-size: 16px;
		}
	}

	&__arrow {
		width: 24px;
		height: 24px;

		@media (min-width: 1920px) {
			width: 32px;
			height: 32px;
		}

		.link-button__svg {
			width: 100%;
			height: 100%;

			fill: $color5;

			transition: fill 0.3s;
		}
	}

	&--alt-color {
		border: 1px solid $color8;
		background-color: $color8;

		.link-button__text {
			color: $color2;
		}

		.link-button__svg {
			fill: $color2;
		}

		&:disabled {
			background-color: $color11;
			border-color: $color11;
		}

		@media (hover: hover) {
			&:hover {
				border-color: $color9;
				background-color: $color9;
			}

			&:focus {
				border-color: $color7;

				.link-button__text {
					color: $color2;
				}

				.link-button__svg {
					fill: $color2;
				}
			}
		}

		&:active {
			border-color: $color10;
			background-color: $color10;
		}
	}
}