mixin condition(props)
	.condition&attributes(attributes)(data-component='condition')
		h2.condition__title= props.title
		ul.condition__list 
			each item in props.list 
				li.condition__item #{item}