mixin header-component(props)
	.header-component&attributes(attributes)(data-component='header-component')
		p.header-component__data 18 декабря 2020
		h1.header-component__title Консультант SAP PO
		span.header-component__loader
		.header-component__statistic
			span.header-component__statistic-views Просмотров: <span class="number"></span>
			span.header-component__statistic-responses Откликов: <span class="number"></span>