mixin vacancy(props)
	.vacancy__wrapper&attributes(attributes)(data-component='vacancy')
		header.vacancy__header 
			span.vacancy__date 18 декабря 2020
			h1.vacancy__title Консультант SAP PO
			span.vacancy__views 
			span.vacancy__responses 

		section.vacancy__section
			h2.vacancy__list-title Вам предстоит
			ul
				li Участие в проектах в роли архитектора/консультанта по интеграции данных
				li Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)
				li Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.) 
				li Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)
				li Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями
				li Разработка и поддержка интеграционных сценариев
		section.vacancy__section 
			h2.vacancy__list-title Мы ожидаем
			ul
				li Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML
				li Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем
				li Опыт разработки технических заданий и постановок задач
				li Опыт описания бизнес-процессов в нотациях BPMN и UML
				li Опыт формирования требований к информационным системам
				li Опыт составления проектной документации по ГОСТ
		section.vacancy__section 
			h2.vacancy__list-title Мы предлагаем
			ul
				li Оформление в соответствии с нормами ТК РФ, социальные гарантии
				li Крупные проекты в компании–лидере отрасли
				li Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов
				li Полис ДМС (включая стоматологию)
				li Доступ к корпоративной OnLine библиотеке
				li Обучение в программах Корпоративного университета

		form(action="/submit" method="post")
			h3 Форма обратной связи
			label(for="email") E-mail
				input(type="email" id="email" name="email" required)
			
			input(type="checkbox" id="agreement" name="agreement")
			label(for="agreement") Вы подтверждаете, что ознакомились c 
				a(href='/#') политикой обработки персональных данных 
		