mixin vacancy(props)
	.vacancy__wrapper&attributes(attributes)(data-component='vacancy')
		header.vacancy__header 
			span.vacancy__date 18 декабря 2020
			h1.vacancy__title Консультант SAP PO
			span.vacancy__views 
			span.vacancy__responses 

		section.vacancy__section
			h2.vacancy__list-title Вам предстоит
			ul
				li 
					+svg('li') 
					span Участие в проектах в роли архитектора/консультанта по интеграции данных
				li 
					+svg('li') 
					span  Проектирование архитектуры интеграции по технологиям SAP (Process Orchestration 7.5, Data Services 4.2, RFC, IDOC)
				li 
					+svg('li') 
					span  Подбор способов взаимодействия с non-SAP системами (1C:ERP, Lotus и др.) 
				li 
					+svg('li') 
					span  Подготовка проектной документации (ФТТ, ТЗ, АЗ, тех. проект, проектные решения по интеграции, спецификации на разработку, описания настроек)
				li 
					+svg('li') 
					span  Проведение аудита интеграционных сценариев и проектно-эксплуатационной документации, разработанных подрядными организациями
				li 
					+svg('li') 
					span  Разработка и поддержка интеграционных сценариев
		section.vacancy__section 
			h2.vacancy__list-title Мы ожидаем
			ul
				li 
					+svg('li') 
					span  Знание ASAP, MS Visio, SAP PI / SAP PO, SAP HANA, JSON, XML
				li 
					+svg('li') 
					span  Опыт работы в сфере аналитики от 3-х лет в должности аналитика, ведущего аналитика, специалиста по внедрению информационных систем
				li 
					+svg('li') 
					span  Опыт разработки технических заданий и постановок задач
				li 
					+svg('li') 
					span  Опыт описания бизнес-процессов в нотациях BPMN и UML
				li 
					+svg('li') 
					span  Опыт формирования требований к информационным системам
				li 
					+svg('li') 
					span  Опыт составления проектной документации по ГОСТ
		section.vacancy__section 
			h2.vacancy__list-title Мы предлагаем
			ul
				li 
					+svg('li') 
					span  Оформление в соответствии с нормами ТК РФ, социальные гарантии
				li 
					+svg('li') 
					span  Крупные проекты в компании–лидере отрасли
				li 
					+svg('li') 
					span  Возможность модернизировать процессы реального производственного бизнеса в команде сильнейших экспертов
				li 
					+svg('li') 
					span  Полис ДМС (включая стоматологию)
				li 
					+svg('li') 
					span  Доступ к корпоративной OnLine библиотеке
				li 
					+svg('li') 
					span  Обучение в программах Корпоративного университета

		form(action="/submit" method="post").vacancy__form
			h3.vacancy__form-title Форма обратной связи
			.vacancy__form-input-box
				label(for="email") E-mail
				input(type="email" id="email" name="email" required)
			
				label(for="agreement") 
					input(type="checkbox" id="agreement" name="agreement")
					| Вы подтверждаете, что ознакомились c&nbsp;  
					a(href='/#')  политикой обработки персональных данных 
		