include ../vacancy-paragraph/vacancy-paragraph.pug
include ../response-form/response-form.pug

mixin vacancy(props)
	.vacancy&attributes(attributes)(data-component='vacancy')
		p.vacancy__date=`${props.date}`
		h1.vacancy__title=`${props.name}`
		p.vacancy__qty-views
		p.vacancy__qty-responses
		each paragraph, index in vacancy 
			+vacancy-paragraph(paragraph).vacancy__paagraph
		+response-form().vacancy__form
		+loader.vacancy__loader
