$steel: #8f8f8f;
$blue-color: #04306a;
$black-color: #012b34;
$cobolt-color: #0041a0;
$text-error-color: #ef1c1c;
$list-marker-color: #0DB274;


.vacancy {
    $root: &;

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.02em;
    max-width: 1600px;
    margin: auto;

    &__header {
        padding: 0 80px;

        &__date {
            margin-top: 115px;
            font-size: 20px;
            color: $steel;
            line-height: 28px;
            text-align: left;
        }

        h1 {
            font-size: 64px;
            line-height: 64px;
            color: $blue-color;
            margin-top: 20px;
        }

        &__stats {
            display: flex;
            margin-top: 45px;
            margin-bottom: 144px;

            .text {
                font-size: 16px;
                line-height: 21px;
                margin-right: 36px;
                color: $steel;
            }
        }
    }

    &__description {
        padding: 0 80px;

        h2 {
            font-size: 46px;
            line-height: 55px;
            margin-bottom: 35px;
            color: $blue-color;
        }

        ul {
            margin-bottom: 135px;
        }

        ul:last-child {
            margin-bottom: 109px;
        }

        li {
            color: $black-color;
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0em;
        }

        // Add custom list markers
        li::before {
            content: "";
            display: inline-block;
            height: 1px;
            width: 20px;
            vertical-align: middle;
            margin-right: 8px;
            background-color: $list-marker-color;
        }
    }

    &__contact {
        display: flex;
        padding: 44px 217px 45px 103px;
        
        h3 {
            color: $blue-color;
            font-size: 32px;
            line-height: 38px;
        }

        .vacancy__warning-message {
            margin-top: 25px;
            font-size: 14px;
            line-height: 21px;
            color: $text-error-color;
        }

        form {
            margin-left: 81px;
            flex-grow: 1;

            .vacancy__submit-button {
                height: 48px;
                margin-top: 30px;
                padding-left: 18px;
                padding-right: 14px;
                background-color: $cobolt-color;
                color: white;
                border-radius: 25px;

                display: flex;
                gap: 14px;
                align-items: center;

                span {
                    font-size: 16px;
                    line-height: 16px;
                }

                svg {
                    fill: white;
                    width: 32px;
                    height: 22px;
                }

                .button-loader-container {
                    display: none;
                    width: 32px;
                    height: 22px;
                }

                .loader {
                    display: none;
                }
            }
        }

        &__input-container {
            padding-top: 24px;
            display: flex;
            flex-direction: column;

            label {
                color: $steel;
                font-size: 12px;
                line-height: 18px;
                padding-left: 20px;
            }

            input {
                border: 1px solid $cobolt-color;
                height: 48px;
                border-radius: 24px;
                padding: 8px 20px 14px 20px;
            }
        }

        &__checkbox-container {
            margin-top: 14px;
            align-items: center;

            input {
                display: none;
            }

            label {
                display: flex;
                align-items: center;
                .custom-checkbox-text {
                    font-size: 14px;
                    line-height: 21px;
                    color: $steel;

                    a {
                        color: $blue-color;
                        cursor: pointer;
                    }
                }
            }

            .custom-checkbox {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 16px;
                height: 16px;
                border: 1px solid #bcbcbc;
                margin-right: 18px;
                background-color: white;
                svg {
                    fill: none;
                    width: 10px;
                    height: 8px;
                }
            }

            input[type="checkbox"]:checked + .custom-checkbox {
                background-color: $blue-color;
                svg {
                    fill: white;
                }
            }
        }

        &__success {
            display: none;
            gap: 21px;
            align-items: center;
            margin-top: 25px;

            .circle {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #dedede;
                border-radius: 100%;
                width: 48px;
                height: 48px;

                svg {
                    height: 16px;
                    width: 21px;
                }
            }

            span {
                font-size: 16px;
                line-height: 20px;
                color: black;
            }
        }

        // Style successful form
        form.successful {
            .vacancy__contact__input-container,
            .vacancy__contact__checkbox-container {
                opacity: 0.3;
                pointer-events: none;
                user-select: none;
            }
            .vacancy__submit-button {
                display: none;
            }
            .vacancy__contact__success {
                display: flex;
            }
            .vacancy__warning-message {
                visibility: hidden;
            }
        }

        //Style loading form
        form.loading {
            .vacancy__submit-button {
                pointer-events: none;
                svg {
                    display: none;
                }
                .button-loader-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .loader {
                    display: inline;
                    border-bottom-color: white;
                    width: 24px;
                    height: 24px;
                }
            }

            .vacancy__warning-message {
                visibility: hidden;
            }

            .vacancy__contact__input-container,
            .vacancy__contact__checkbox-container {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }

    .loader {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 3px solid $steel;
        border-bottom-color: $blue-color;
        border-radius: 50%;
        animation: rotation 1s linear infinite;
    }
}
