mixin spoiler(props)
	.spoiler&attributes(attributes)(data-component='spoiler')
		p.spoiler__title Lorem ipsum dolor
		.spoiler__wrapper
			.spoiler__item 
				.spoiler__block
					p.spoiler__name 1. Nullam tincidunt vestibulum porttitor
					+svg('open').spoiler__open
				p.spoiler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque quasi voluptatibus quibusdam dolorum quam commodi omnis cum. Expedita repellendus debitis ut quae hic nulla ducimus aspernatur vero tempore odit.
			.spoiler__item 
				.spoiler__block
					p.spoiler__name 2. Class aptent taciti sociosqu ad litora
					+svg('open').spoiler__open
				p.spoiler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque quasi voluptatibus quibusdam dolorum quam commodi omnis cum. Expedita repellendus debitis ut quae hic nulla ducimus aspernatur vero tempore odit.
			.spoiler__item 
				.spoiler__block
					p.spoiler__name 3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget
					+svg('open').spoiler__open
				p.spoiler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque quasi voluptatibus quibusdam dolorum quam commodi omnis cum. Expedita repellendus debitis ut quae hic nulla ducimus aspernatur vero tempore odit.
			.spoiler__item 
				.spoiler__block
					p.spoiler__name 4. Mauris ut suscipit tellus
					+svg('open').spoiler__open
				p.spoiler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque quasi voluptatibus quibusdam dolorum quam commodi omnis cum. Expedita repellendus debitis ut quae hic nulla ducimus aspernatur vero tempore odit.
			.spoiler__item 
				.spoiler__block
					p.spoiler__name 5. Nullam placerat porta libero, vel maximus augue euismod eget
					+svg('open').spoiler__open
				p.spoiler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque quasi voluptatibus quibusdam dolorum quam commodi omnis cum. Expedita repellendus debitis ut quae hic nulla ducimus aspernatur vero tempore odit.						
