.spoiler {
  $root: &;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0;

    @media (max-width: 1440px) {
      margin: 25px 0;
    }

    @media (max-width: 1280px) {
      margin: 20px 0;
    }

    @media (max-width: 768px) {
      margin: 25px 0;
    }

    @media (max-width: 375px) {
      margin: 20px 0;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0em;
    color: #012b34;
    transition: color 0.5s;

    @media (max-width: 1440px) {
      font-size: 27px;
      line-height: 32px;
    }

    @media (max-width: 1280px) {
      font-size: 24px;
      line-height: 28.8px;
    }

    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 32.4px;
    }

    @media (max-width: 375px) {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  &__icon {
    min-width: 20px;
    min-height: 20px;
    position: relative;
    transform: rotate(45deg);
    transition: transform 0.5s;

    @media (max-width: 1440px) {
      min-width: 14px;
      min-height: 14px;
    }

    @media (max-width: 1280px) {
      min-width: 16px;
      min-height: 16px;
    }

    @media (max-width: 768px) {
      min-width: 14px;
      min-height: 14px;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      background: #114c9a;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__description {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    color: #000402;
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 0.5s, margin 0.5s;

    @media (max-width: 1440px) {
      font-size: 15px;
      line-height: 22.5px;
    }

    @media (max-width: 1280px) {
      font-size: 14px;
      line-height: 21px;
    }

    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 22.5px;
    }
  }

  &.active {
    #{$root}__description {
      max-height: 3000px;
      margin-bottom: 40px;

      @media (max-width: 1440px) {
        margin-bottom: 30px;
      }

      @media (max-width: 1280px) {
        margin-bottom: 25px;
      }

      @media (max-width: 375px) {
        margin-bottom: 20px;
      }
    }

    #{$root}__title {
      color: #114c9a;
    }

    #{$root}__icon {
      transform: rotate(0deg);
    }
  }
}
