
mixin spoiler(props)
	.spoiler&attributes(attributes)(data-component='spoiler')
		div.spoiler__title
			span.spoiler__count!= props.count
			h2!= props.title
			button.spoiler__toggler 
				include ../../assets/icons/plus.svg
		div.spoiler__content-wrapper
			p.spoiler__content!= props.content



