mixin spoiler(props)
	.spoiler&attributes(attributes)(data-component='spoiler')
		p.spoiler__title Lorem ipsum dolor
		.spoiler__wrapper
			+spoiler-item()
		.spoiler__wrapper
			+spoiler-item()
		.spoiler__wrapper
			+spoiler-item()
		.spoiler__wrapper
			+spoiler-item()
		.spoiler__wrapper
			+spoiler-item()