mixin spoiler(title="Spoiler Title", content="Some text...")           
				.spoiler&attributes(attributes)(data-component='spoiler') 
					.spoiler__header             
						p.spoiler__header--title=title
						button.spoiler__header--btn
					p.spoiler__content=content
