mixin spoiler(props)
	.spoiler&attributes(attributes)(data-component='spoiler')
		button.spoiler__button!=props.title_button
			.spoiler__svg-container
				+svg('spoiler').spoiler__svg
		.spoiler__wrapper
			p.spoiler__content!=props.content