mixin spoiler({ title, text })
  .spoiler&attributes(attributes)(data-component='spoiler')
    h3.spoiler__title!=title
      button.spoiler__button&attributes(attributes)
        +svg('spoiler-svg').spoiler__button-image
    p.spoiler__text!=text
