mixin spoiler(num, title, text)
	.spoiler&attributes(attributes)(data-component='spoiler')
		.spoiler__first-line
			h2.spoiler__title #{num}. #{title}
			+svg('cross').spoiler__svg
		p.spoiler__text #{text}