
mixin spoiler(props)
	.spoiler&attributes(attributes)(data-component='spoiler')
		ol.spoiler__list
			each item in props.items
				li.spoiler__list-item
					div.spoiler__list-item__title
						h2= item.title
						button.spoiler__list-item__toggler 
							include ../../assets/icons/plus.svg
					div.spoiler__list-item__content-wrapper
						p.spoiler__list-item__content!= item.content


