.spoiler {
	$root: &;

	& {
		border-top: 1px solid #E6E6E6;
	}

	&__heading {
		display: flex;
		font-size: 36px;
		justify-content: space-between;
		margin: 30px 0;
	}

	&__paragraph {
		display: none;
		margin-bottom: 40px;
		font-size: 20px;
	}

	&__button-image {
		width: 20px;
		height: 20px;
	}

	&__container.show-spoiler {
		.spoiler__heading {
			color: #114C9A;;
		}
		.spoiler__paragraph {
			display: flex;
		}
		.spoiler__button-image {
			transform: rotate(45deg);
		}
	}
}
