$white: #ffffff;
$black: #111111;

$gray: #bcbcbc;
$gray-disabled: #909090;

$hover-blue: #0041a0;
$active-blue: #002f6c;
$border-blue: #99b3d8;

$red:#FF0000;
$hover-red:#BF1D26;
$active-red:#81080F;

$font-family:  "Arial", Helvetica, sans-serif;

$font-size-m: 14px;
$font-weight: 400;
$font-m: $font-weight $font-size-m $font-family;

$font-size-l: 16px;
$font-weight-l: 400;
$font-l: $font-weight-l $font-size-l $font-family;

