// Grays
$grey-1: #BCBCBC;
$grey-2: #DEDEDE;
$grey-3: #F4F4F4;
$steel-color: #909090;

// Blues
$midnight-color: #021F45;
$blue-color: #002F6C;
$cobolt-color: #0041A0;
$border-focus-color: #99B3D8;

//Text
$font-body: Arial, Helvetica, sans-serif;
$text-color: #111111;