@import "../../pages/global";

.accordion {
	$root: &;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;

	&__header {
		color: $dark-teal;
		line-height: 100%;
	}

	&__list {
		width: 100%;
	}

	@media screen and (min-width: 375px) {
		margin: 152px 24px 98px;

		gap: 40px;

		&__header {
			width: 190px;

			font-size: 30px;
			letter-spacing: -0.6px;
		}
	}

	@media screen and (min-width: 768px) {
		margin: 174px 40px 213px;

		gap: 50px;

		&__header {
			width: 100%;

			font-size: 42px;
			letter-spacing: -0.84px;
		}
	}

	@media screen and (min-width: 1280px) {
		margin: 167px 107px auto;

		gap: 56px;
	}

	@media screen and (min-width: 1440px) {
		margin: 179px 120px 141px 107px;

		gap: 60px;

		&__header {
			font-size: 48px;
			letter-spacing: -0.96px;
		}
	}

	@media screen and (min-width: 1920px) {
		margin: 183px 141px 138px 160px;
		gap: 80px;

		&__header {
			font-size: 64px;
			letter-spacing: -1.28px;
		}
	}
}
