mixin conf-checkbox-ct(props)
    .conf-checkbox-ct&attributes(attributes)
        label.conf-checkbox-ct__box 
            input.conf-checkbox-ct__checkbox(type="checkbox" name="checkbox" )
            span.conf-checkbox-ct__fake-checkbox
                +svg("checkbox-svg").conf-checkbox-ct__icon
        span.conf-checkbox-ct__text="Вы подтверждаете, что ознакомились "
        a.conf-checkbox-ct__link="c политикой обработки персональных данных "
