mixin conf-checkbox-ct(props)
    .conf-checkbox-ct&attributes(attributes)(data-component="conf-checkbox-ct")
        label.conf-checkbox-ct__label 
            input.conf-checkbox__input(type="checkbox")
            span.conf-checbox__fake-box
        span.conf-checkbox-ct__text="Вы подтверждаете, что ознакомились "
        a.conf-checkbox-ct__link="c политикой обработки персональных данных "