@import "../../../../scssVariebles/color-varievles.scss";

.conf-checkbox-ct {
    padding-bottom: 32px;
    padding-top: 20px;

    &__checkbox {
        display: none;
    }

    &__fake-checkbox {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid $gray;
        width: 16px;
        height: 16px;
        transition: .4s ease border-color;
        &_checked {
            background-color: $blue;
            border-color: $blue;
        }
        
    }

    &__icon {
        width: 10px;
        height: 10px;
    }


    &__text {
        font-size: 15px;
        color: $gray;
        user-select: none;
    }

    &__link {
        cursor: pointer;
        font-size: 15px;
        color: #0041a0;
    }

    &__box {
        display: inline-block;
        margin-right: 14px;

        &:hover {
            .conf-checkbox-ct {
                &__fake-checkbox {
                    border-color: $aqua;
                }
            }
        }
    }
    
    &_disabled {
        opacity: 0.4;
        .conf-checkbox-ct__fake-checkbox{
            user-select: none;
        }
    }
}
