$borderColor: #002f6c;
$hoveredButtonColor: #0041a0;
$hoveredTextColor: #fff;
$TextColor: #021f45;
$activeButtonColor: #002f6c;
$activeTextColor: #fff;
$focusedButtonColor: #fff;
$focusedTextColor: #021f45;
$focusedOutline: #99b3d8;
$disabledButtonColor: #bcbcbc;
$disabledTextColor: #bcbcbc;
$hoveredFileInput: #f4f4f4;
$fileImageColor: #f4f4f4;
$fileImageInfoColor: #909090;
$errorColor: #ff0000;
$qtyMessageColor: #002f6c;
@mixin button-behavior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid $borderColor;
  font-size: 16px;
  letter-spacing: -0.32px;

  &:focus {
    background-color: $focusedButtonColor;
    color: $focusedTextColor;
    outline: 2px solid $focusedOutline;
    border: none;
    & svg {
      fill: $focusedTextColor;
    }
  }
  &:active {
    background-color: $activeButtonColor;
    color: $activeTextColor;
    border-color: $activeButtonColor;
    & svg {
      fill: $activeTextColor;
    }
  }
  &:hover {
    background-color: $hoveredButtonColor;
    color: $hoveredTextColor;
    border-color: $hoveredButtonColor;
    & svg {
      fill: $hoveredTextColor;
    }
  }
  &:disabled {
    color: $disabledTextColor;
    border-color: $disabledButtonColor;
    cursor: default;
    & svg {
      fill: $disabledButtonColor;
    }
  }
}
.file-input {
  // margin-top: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  gap: 32px;
  &__button {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0 at 0 0);
  }
  &__pseudo-button {
    @include button-behavior;
    min-width: 192px;
    padding: 14px 16px 16px;
    gap: 16px;
    position: relative;
    &:disabled:hover {
      background-color: white;
      border-color: $disabledTextColor;
    }
    &:disabled:hover ~ .file-input__qty-message::after {
      position: absolute;
      content: '';
      top: 0px;
      left: 0px;
      width: 240px;
      height: 92px;
      background-color: white;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 93% 85%, 0 85%, 0 100%);

      z-index: -1;
    }
    &:disabled:hover ~ .file-input__qty-message {
      display: block;
    }
  }

  &__qty-message {
    display: none;
    padding: 16px 20px 34px 20px;
    position: absolute;
    left: -180px;
    top: -90px;
    width: 240px;
    height: 92px;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));
    color: var(--blue, #002f6c);
    color: $qtyMessageColor;
    font-size: 14px;
    line-height: 1.5;
    @media screen and (max-width: 500px) {
      left: -100px;
    }
  }
  &__svg {
    width: 14px;
    aspect-ratio: 1;
    // fill: $borderColor;
  }
  &__file-image {
    margin-top: 5px;
    max-height: 40px;
    background-color: $fileImageColor;
    display: flex;
    width: fit-content;
    font-size: 16px;
    letter-spacing: -0.32px;
    padding: 10px 13px 10px 18px;
    line-height: 1.24;
    gap: 4px;
    border-radius: 27px;
    &:hover .file-input__close-btn {
      cursor: pointer;
      display: block;
    }
  }
  &__file-ext,
  &__file-size {
    color: $fileImageInfoColor;
  }
  &__close-btn {
    width: 14px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    display: none;
  }
  &__file-container {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
  }
  &__error-message {
    max-width: 196px;
    margin-top: 7px;
    color: $errorColor;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.24px;
  }
}
