mixin file-input(props)
	mixin attachment
		.file-input__attachment
			span.file-input__attachment__name Document&nbsp;
			span.file-input__attachment__file-data pdf, 8kb
			button.file-input__attachment__remove-button(type="button")
				+svg("close")

	.file-input&attributes(attributes)(data-component='file-input')
		.file-input__flex-container
			label
				input&attributes(attributes)(type="file" accept=props.accept name=props.name multiple data-max-size=props.maxSize data-max-files=props.maxFiles).file-input__input
				.file-input__body
					span.file-input__body__text Прикрепить файл
					+svg("add").file-input__body__icon
			- for (let i = 0; i < props.maxFiles; i++)
				+attachment
		.file-input__error