$main-red: #ff0000;
$dark-red: #bf1d26;
$light-blue: #d9e3f1;
$blue: #0041a0;
$disabled: #bcbcbc;

.link {
	$root: &;

	display: flex;
	margin: 15px;
	padding: 2px;
	gap: 12px;
	justify-content: space-between;
	align-items: center;
	width: fit-content;

	text-decoration: none;
	color: $blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: -0.32px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

	@media (max-width: 1280px) {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: -0.28px;
	}

	&[disabled] {
		color: $disabled;
	}

	&:focus-visible {
		background-color: $light-blue;
		color: $blue;
	}

	&:hover {
		color: $main-red;
	}

	&:active {
		color: $dark-red;
	}

	svg {
		width: 24px;
		height: 24px;
	}

	@media (max-width: 768px) {
		font-size: 14px;
		letter-spacing: -0.28px;
	}
}
