mixin link(props)
	if props.withIcon
		a.link(href=`${props.href}` target='_blank')&attributes(attributes)
			.link__text= props.text
			+svg('link-icon')
	else
		a.link(href=`${props.href}` target='_self')&attributes(attributes)= props.text