mixin slider(props)
	- let start = '01 '
	.slider&attributes(attributes)
		button.slider__btn
			+svg('pagination').slider__arrow

		button.slider__next.slider__btn
			+svg('pagination').slider__arrow

		span.slider__pagination!=`${start}/${props.amount}`