mixin slider(props)
	.slider(data-disabled=props.disabled)
		.slider__buttons
			button.slider-button&attributes(attributes)
				+svg('slider-button').slider-button__svg
			button.slider-button&attributes(attributes)
				+svg('slider-button').slider-button__svg
		span.slider__text #{props.currentPage.padStart(2,'0')} / #{props.numPages.padStart(2,'0')} 