mixin slider
	.slider
		button.slider__btn
			span.slider__svg-wrap
				include ../../assets/icons/pagination.svg

		button.slider__next.slider__btn
			span.slider__svg-wrap
				include ../../assets/icons/pagination.svg

		span.slider__pagination 01 / 04


+slider