.TaskList {
  &__items {
    display: grid;
    row-gap: 20px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 32px;
    color: #213c57;
    margin-bottom: 28px;
  }
}
