mixin only-vacancy-wrapper(props)
	.only-vacancy-wrapper&attributes(attributes)(data-component='only-vacancy-wrapper')
		.only-vacancy-wrapper__header
			span.only-vacancy-wrapper__date
			h1.only-vacancy-wrapper__text!=props.header 
			.only-vacancy-wrapper__stats 	
				span.only-vacancy-wrapper__views 
				span.only-vacancy-wrapper__references
		block